#fe_toolbar {
    font-family: Arial, sans-serif;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 53px;
    background: #0469B2;
    -moz-box-shadow: 0px 0 9px #0469b2;
    -webkit-box-shadow: 0px 0 9px #0469b2;
    box-shadow: 0px 0 9px #0469b2;
    font-size: 14px;
    line-height: 21px;
    font-family: Arial, sans-serif;
}

#fe_toolbar table {
    float: left;
    width: 100%;
}
#fe_toolbar table th {
    background-color: #0469b2;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 8px;
    text-align: left;
}
#fe_toolbar table th a {
    color: #ffffff;
}
#fe_toolbar table tr.row1 {
    background-color: #ffffff;
}
#fe_toolbar table tr.row2 {
    background-color: #ffffff;
}
#fe_toolbar table tr.row3 {
    background-color: #ffff40;
}
#fe_toolbar table td {
    padding: 6px 8px;
    vertical-align: top;
}
#fe_toolbar table td.none {
    border: 0 none;
}
#fe_toolbar div.row_1, #fe_toolbar div.row1 {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
#fe_toolbar div.row_2, #fe_toolbar div.row2 {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

#fe_toolbar a {
    text-decoration: none;
}

#fe_toolbar_logo {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 140px;
    height: 25px;
    background: url("../../../../core/Core/View/Media/cloudrexx_weiss_hg_hell.svg") no-repeat;
    outline: 0;
}

#fe_toolbar_tab {
    position: absolute;
    right: 20px;
    top: 53px;
    background: #0469b2;
    color: #fff;
    padding: 3px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 13px;
}

#fe_toolbar_load_draft,
#fe_toolbar_tab {
    cursor: pointer;
}

#fe_content:focus,
#fe_title:focus {
    outline: 2px dashed #0469b2 !important;
}

.cke_button_publish {
    background: url("../Media/ckeditor-publish-icon.png") no-repeat -26px 1px !important;
}

.cke_button_save {
    background: url("../Media/ckeditor-save-icon.png") no-repeat 6px 5px !important;
}

#fe_toolbar_actions {
    position: absolute;
    left: 170px;
    top: 8px;
}

#fe_toolbar_actions .fe_button {
    float: left;
    background: #dddddd url("../../../../core/Core/View/Media/button_bg.png") repeat-x scroll left top;
    border: 1px solid #dddddd;
    color: #444444;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 2px 10px;
    text-shadow: 1px 1px #FFFFFF;
}

#fe_toolbar_status_message {
    float: left;
}

#fe_metanavigation {
    position: absolute;
    right: 20px;
    bottom: 14px;
    float: left;
    width: auto;
    font-size: 12px;
}

#fe_metanavigation>a {
    float: left;
    padding: 0 0 0 17px;
    margin: 0 0 0 20px;
    color: #c5dbe8;
    line-height: normal;
}

#fe_metanavigation a.first {
    margin: 0;
}

#fe_metanavigation>a:hover,
#fe_metanavigation>a:focus,
#fe_metanavigation>a:active {
    color: #ffffff;
}

#fe_metanavigation #fe_license-upgrade {
    padding-left: 18px;
    background: url("../../../../core/Core/View/Media/metanavigation_upgrade.png") no-repeat;
}

#fe_metanavigation .fe_anchor {
    float: left;
    position: relative;
    margin: 0 0 0 20px;
    color: #c5dbe8;
    line-height: normal;
}

#fe_metanavigation .fe_anchor>a {
    padding-left: 21px;
}

#fe_metanavigation .fe_anchor.fe_toggle {
    display: none;
}

#fe_history {
    background: url("../Media/toolbar-history.png") no-repeat;
}

#fe_options {
    background: url("../Media/toolbar-options.png") no-repeat;
}

#fe_metanavigation .fe_anchor>a {
    color: #c5dbe8;
}

#fe_metanavigation .fe_anchor>a:hover,
#fe_metanavigation .fe_anchor:hover>a {
    color: #fff;
}

#fe_metanavigation a.backend {
    padding-left: 21px;
    background: url("../../../../core/Core/View/Media/frontend_icon.png") no-repeat;
}

#fe_metanavigation a.profile {
    background: url("../../../../core/Core/View/Media/profile_icon.png") no-repeat;
}

#fe_metanavigation a.logout {
    padding-left: 16px;
    background: url("../../../../core/Core/View/Media/logout_icon.png") no-repeat;
}

#fe_metanavigation .fe_anchor .fe_box {
    display: block;
    position: absolute;
    top: 45px;
    left: -561px;
    width: 580px;
    background: #fff;
    padding: 5px;
    color: #000;
    border: 2px #0469b2 solid;
}

#fe_metanavigation .fe_anchor .fe_arrow {
    display: block;
    position: absolute;
    top: 19px;
    left: -18px;
    width: 51px;
    height: 26px;
    background: url("../Media/toolbar-arrow.png");
}

#fe_metanavigation .fe_anchor .adminlist th {
    height: 29px;
    line-height: 29px;
}

#fe_metanavigation .fe_anchor .historyLoad,
#fe_metanavigation .fe_anchor .historyPreview {
    width: 0;
    overflow: hidden;
}

#fe_metanavigation .fe_anchor .historyLoad {
    float: right;
    padding: 0 0 0 20px;
    margin-right: 5px;
    background: url("../Media/Restore.png") no-repeat left center;
}

#fe_metanavigation .fe_anchor .historyPreview {
    float: right;
    padding: 0 0 0 18px;
    background: url("../Media/Preview.png") no-repeat left center;
}

#fe_metanavigation .fe_anchor select,
#fe_metanavigation .fe_anchor input[type="text"] {
    border: 1px solid #dddddd;
    padding: 3px;
    color: #444444;
    margin: 7px 0 6px 0;
    width: 300px;
}

#fe_metanavigation .fe_anchor input[type="text"] {
    width: 292px;
}

#fe_metanavigation .fe_anchor label {
    width: 170px;
    float: left;
    padding: 11px 0 0 0;
}

#fe_adminmenu ul.navigation_level_1 li {
    clear: both;
}

#fe_adminmenu ul.navigation_level_1 li span.name {
    display: block;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
    font-weight: bold;
    margin-bottom: 10px;
}

#fe_adminmenu ul.navigation_level_2 li {
    clear: none;
    float: left;
    margin: 5px;
    border-width: 1px;
    height: 75px;
    width: 75px;
}

#fe_adminmenu ul.navigation_level_2 li a {
    height: 100%;
    width: 100%;
    display: block;
}

#fe_content.fe_outline,
#fe_title.fe_outline,
.fe_block.fe_outline {
    outline: 1px #0469b2 dashed;
    *border: 1px #0469b2 dashed;
    *margin: -1px;
    /* fixes floating issues, clearing floatings */
    display: inline-block;
    width: 100%;
}


/* Style of info, ok, warning, alert, upgrade and news boxes */
.okbox, #okbox,
.infobox, #infobox,
.alertbox, #alertbox,
.warningbox, #warningbox {
    display: block;
    padding: 8px;
    margin: 0 0 15px 0;
    overflow: auto;
}

*+html .okbox, *+html #okbox,
*+html .infobox, *+html #infobox,
*+html .alertbox, *+html #alertbox,
*+html .warningbox, *+html #warningbox {
    overflow: hidden;
}

.okbox a, #okbox a ,
.infobox a, #infobox a,
.alertbox a, #alertbox a,
.warningbox a, #warningbox a {
    font-weight: bold;
    line-height: 1.3;
}

.okbox, #okbox {
    background: #DFF0D8;
    color: #7fc600;
}

.okbox a, #okbox a {
    color: #215507;
}

.infobox {
    background: #dddddd;
    color: #0469b2;
}

.infobox a, #infobox a {
    color: #0469b2;
}

.alertbox, #alertbox {
    color: #e40000;
    background: #dddddd;
}

.alertbox a, #alertbox a {
    color: #444444;
}

.warningbox, #warningbox {
    background: #FEF0D0;
    color: #ff8c00;
}

.warningbox a, #warningbox a {
    color: #ff8c00;
}

/* jquery ui css customization */
.ui-dialog.cxDialog {
    position: fixed;
    top: 0;
    z-index: 2000000 !important;
    border-top: 0;
    border-right: 1px solid #0469b2;
    border-bottom: 1px solid #0469b2;
    border-left: 1px solid #0469b2;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
}

.ui-dialog.noTitle .ui-dialog-titlebar {
    display: none;
}

#fe_state_wrapper {
    float: left;
    background: #fff;
    margin-top: 5px;
    height: 26px;
    border: 1px solid #dddddd;
}

#fe_state_icon {
    float: left;
    margin: 6px 5px;
}

#fe_state_text {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

#fe_toolbar .publishing {
    width: 13px;
    height: 14px;
    background: url('../Media/PublishingUnlocked.png') -34px -5px;
    margin-top: 6px;
}

#fe_toolbar #fe_history .publishing {
    margin-top: 1px;
    margin-right: 4px;
    float: left;
}

#fe_toolbar .publishing.draft {
    background-position: -34px -34px;
}

#fe_toolbar .publishing.draft.waiting {
    background-position: -34px -63px;
}

#fe_toolbar .publishing.unpublished {
    background-position: -5px -5px;
}

#fe_toolbar .publishing.unpublished.locked {
    background-position: -4px -4px;
}

#fe_toolbar .publishing.unpublished.draft {
    background-position: -5px -34px;
}

#fe_toolbar .publishing.unpublished.draft.locked {
    background-position: -4px -33px;
}

#fe_toolbar .publishing.unpublished.draft.waiting {
    background-position: -5px -63px;
}

#fe_toolbar .publishing.unpublished.draft.waiting.locked {
    background-position: -4px -62px;
}

#fe_metanavigation .hideDrafts input,
#fe_metanavigation .hideDrafts label {
    float: none;
    width: auto;
}
