#content .breadcrumb {
    width: 100%;
}

#content .breadcrumb .level_1 {
    display: none;
}

#content .breadcrumb .level_2 {
    float: left;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: var(--blue);
}

#content .breadcrumb .level_3 {
    float: right;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
    color: var(--gray);
}

#content #subnavbar_level1 {
    height: 31px;
    line-height: 31px;
    padding: 0 6px 0 10px;
    white-space: normal;
}

#content #subnavbar_level1 nav {
    align-items: center;
}

#content #subnavbar_level1 #administrators_online {
    padding: 0 5px 0 5px;
    font-size: var(--font-size-small);
    color: var(--gray);
}

#content #subnavbar_level1 a {
    border: 0;
    padding: 7px;
    font-size: var(--font-size-small);
    font-weight: normal;
    color: var(--gray);
}

#content #subnavbar_level1 a:hover,
#content #subnavbar_level1 a:focus,
#content #subnavbar_level1 a:active {
    background: none;
    color: inherit;
}

#content #subnavbar_level1 td#language_selection  {
    width: auto;
}

#dashboard {
    float: left;
    width: 100%;
}

*+html #dashboard {
    float: none;
}

#dashboard .left,
#dashboard .middle,
#dashboard .right {
    float: left;
    width: 321px;
}

#dashboard .left,
#dashboard .middle {
    margin: 0 20px 0 0;
}

#dashboard .error {
    float: left;
    clear: both;
    width: auto;
    margin: 7px 0 0 0;
}

#dashboard .box {
    position: relative;
    float: left;
    width: 301px;
    height: auto !important;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

#dashboard .box {
    clear: both;
    min-height: 150px;
    height: 150px;
    padding-bottom: 50px;
    background-color: var(--blue);
}

#dashboard .box h2 {
    margin: 0 0 9px 0;
    color: var(--white);
    font-size: 18px;
    font-weight: normal;
}

#dashboard .box ul {
    clear: both;
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#dashboard .box ul li {
    clear: both;
}

#dashboard .box ul li a {
    float: left;
    width: auto;
    background: url(../Media/dashboard_box_list_style.png) no-repeat left 4px;
    padding: 0 0 0 9px;
    margin: 0 0 5px 0;
    color: var(--white);
}

#dashboard .box ul li a:hover,
#dashboard .box ul li a:focus,
#dashboard .box ul li a:active {
    color: var(--lightgray);
}

#dashboard .box .icon {
    position: absolute;
    left: 10px;
    bottom: 10px;
    float: left;
}

#dashboard .box#box_1 .icon {
    width: 30px;
    height: 30px;
    background: url(../Media/dashboard_box_1_icon.png) no-repeat;
}

#dashboard .box#box_2 .icon {
    width: 26px;
    height: 26px;
    background: url(../Media/dashboard_box_2_icon.png) no-repeat;
}

#dashboard .box#box_3 .icon {
    float: left;
    width: 28px;
    height: 28px;
    background: url(../Media/dashboard_box_3_icon.png) no-repeat;
}

#dashboard #alert_news_wrapper {
    display: none;
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

#dashboard #alert_news {
    float: none;
    clear: left;
    padding: 7px 35px 7px 14px;
    margin: 0;
}

#dashboard #alert_stats {
    display: none;
    width: 953px;
    clear: left;
    padding: 7px 35px 7px 14px;
    margin: 20px 0 20px 0;
}

#dashboard #stats_wrapper {
    width: 1003px;
    float: left;
    clear: left;
    padding: 20px 0 0 0;
}

#dashboard #stats_wrapper h1 {
    position: relative;
    width: 958px;
    height: auto !important;
    min-height: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 35px;
    margin: 0;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--blue);
}

#dashboard #stats_wrapper h1 #stats_delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5.5px 7px 4.5px 7px;
    color: var(--white);
    font-size: 24px;
    font-weight: normal;
    opacity: 1;
    filter: alpha(opacity=100);
}

#dashboard #stats_wrapper h1 #stats_delete:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#dashboard #stats_wrapper #chart {
    float: left;
    margin: 1px 10px 0 0;
}

#dashboard #stats_wrapper .stat_box {
    width: 308px;
    height: 47px;
    float: left;
    padding: 5px;
    margin: 10px 0 0 0;
    cursor: pointer;
    border: 2px solid var(--white);
    background-repeat: no-repeat;
    background-position: right center;
}

#dashboard #stats_wrapper .stat_box:hover {
    background-color: var(--lightgray);
}

#dashboard #stats_wrapper .stat_box h2 {
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

#dashboard #stats_wrapper .stat_box span {
    color: var(--orange);
}

#dashboard #stats_wrapper #visitors_box span,
#dashboard #stats_wrapper #requests_box span {
    font-size: 18px;
}

#dashboard #stats_wrapper .stat_box a {
    color: var(--darkgray);
}

#dashboard #stats_wrapper .stat_box a:hover {
    color: var(--gray);
}

#dashboard #stats_wrapper #visitors_box {
    background-image: url('../Media/visitors_chart.png');
}

#dashboard #stats_wrapper #requests_box {
    background-image: url('../Media/requests_chart.png');
}

#dashboard #stats_wrapper #last_session_box span {
    color: var(--gray);
    font-size: 18px;
}

#dashboard #stats_wrapper #last_session_box img {
    padding: 1px 0 0 0;
}

#dashboard #stats_wrapper #last_session_box i {
    float: right;
    color: var(--gray);
    font-size: var(--font-size-h1);
    padding: 10px;
    font-size: 27px;
}
