<!-- START shop_manufacturer.html -->
<script type="text/javascript">
// <![CDATA[
function shopCatDoAction(strForm, strCheckbox, objSelect, strAct)
{
  if (checkboxIsChecked(strForm, strCheckbox)) {
    switch (strAct) {
      case 'delete':
        if (confirm('{TXT_SHOP_CONFIRM_DELETE_MANUFACTURER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
          document.form_list.submit();
        }
        break;
    }
  } else {
    alert("{TXT_MAKE_SELECTION}");
  }
  objSelect.selectedIndex = 0;
}

function deleteManufacturer(manufacturer_id) {
  if (confirm('{TXT_SHOP_CONFIRM_DELETE_MANUFACTURER}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=Shop&{CSRF_PARAM}&act=manufacturer&delete="+manufacturer_id);
  }
}

// ]]>
</script>

<form name="form_edit" method="post" action="index.php?cmd=Shop&amp;act=manufacturer">
  <input type="hidden" name="id" value="{SHOP_MANUFACTURER_ID}" />
  <table width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th>{SHOP_EDIT_MANUFACTURER}</th>
    </tr>
    <tr class="row1">
      <td>
        {TXT_SHOP_MANUFACTURER_NAME}:&nbsp;<input type="text" name="name" size="40" maxlength="255" value="{SHOP_MANUFACTURER_NAME}" />&nbsp;&nbsp;&nbsp;&nbsp;
        {TXT_SHOP_MANUFACTURER_URL}:&nbsp;<input type="text" name="url" size="40" maxlength="255" value="{SHOP_MANUFACTURER_URL}" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="bstore" value="{TXT_STORE}" />
      </td>
    </tr>
  </table>
</form>

<br />

<form name="form_list" method="post" action="index.php?cmd=Shop&amp;act=manufacturer"
    onsubmit="return checkboxIsChecked('form_list','selected_manufacturer_id')">
  <table width="100%" border="0" cellspacing="0" cellpadding="2" class="adminlist">
    <tr>
      <th colspan="5">{TXT_SHOP_MANUFACTURER}</th>
    </tr>
    <tr class="row1">
      <td width="01%" class="a_center f_bold">#</td>
      <td width="03%" class="f_bold">{SHOP_HEADER_ID}</td>
      <td width="20%" class="f_bold">{SHOP_HEADER_NAME}</td>
      <td width="75%" class="f_bold">{SHOP_HEADER_URL}</td>
      <td width="01%" class="a_right f_bold">{TXT_ACTION}</td>
    </tr>
<!-- BEGIN manufacturerRow -->
      <tr class="{SHOP_ROWCLASS}">
        <td class="a_center">
          <input type="checkbox" name="selected_manufacturer_id[]" value="{SHOP_MANUFACTURER_ID}" />
        </td>
        <td>{SHOP_MANUFACTURER_ID}</td>
        <td>{SHOP_MANUFACTURER_NAME}</td>
        <td>{SHOP_MANUFACTURER_URL}</td>
        <td class="a_right">
          <a href="index.php?cmd=Shop&amp;act=manufacturer&amp;id={SHOP_MANUFACTURER_ID}"
              title="{TXT_EDIT}">
            <img src="/core/Core/View/Media/icons/edit.gif" alt="{TXT_EDIT}" border="0" /></a>
          <a href="javascript:deleteManufacturer('{SHOP_MANUFACTURER_ID}')"
              title="{TXT_DELETE}">
            <img src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a>
        </td>
      </tr>
<!-- END manufacturerRow -->
  </table>
  <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
  <a href="javascript:{}" onclick="changeCheckboxes('form_list','selected_manufacturer_id[]',true)" title="{TXT_SELECT_ALL}">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
  <a href="javascript:{}" onclick="changeCheckboxes('form_list','selected_manufacturer_id[]',false)" title="{TXT_REMOVE_SELECTION}">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;
  <select name="multi_action" onchange="shopCatDoAction('form_list','selected_manufacturer_id[]',this,this.value)">
    <option value="" selected="selected">{TXT_SELECT_ACTION}:</option>
    <option value="delete">{TXT_DELETE_MARKED}</option>
  </select>
  <br /><br />
  {SHOP_MANUFACTURER_PAGING}
</form>

<!-- END shop_manufacturer.html -->
