<!-- START shop_settings.html -->
<script type="text/javascript">
// <![CDATA[
function swapBlockStatus(id, status)
{
  if (status) {
    document.getElementById(id).style.display = 'block';
  } else {
    document.getElementById(id).style.display = 'none';
  }
}

function swapBlock(div)
{
  displayType = (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
  document.getElementById(div).style.display = displayType;
}
// ]]>
</script>
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=general" title="{TXT_GENERAL}">{TXT_GENERAL}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=vat" title="{TXT_SHOP_VAT}">{TXT_SHOP_VAT}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=currency" title="{TXT_CURRENCIES}">{TXT_CURRENCIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=payment" title="{TXT_PAYMENT_TYPES}">{TXT_PAYMENT_TYPES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=shipment" title="{TXT_SHIPPING_METHODS}">{TXT_SHIPPING_METHODS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=countries" title="{TXT_DELIVERY_COUNTRIES}">{TXT_DELIVERY_COUNTRIES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=zones" title="{TXT_ZONES}">{TXT_ZONES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=mail" title="{TXT_MAIL_TEMPLATES}">{TXT_MAIL_TEMPLATES}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=settings&amp;tpl=coupon" title="{TXT_SHOP_DISCOUNT_COUPON_CODES}">{TXT_SHOP_DISCOUNT_COUPON_CODES}</a></li>
  </ul>
</div>
<br />
{SHOP_SETTINGS_FILE}
<br />
<!-- END shop_settings.html -->
