<!-- START shop_products.html -->
<script type="text/javascript">
// <![CDATA[
function swapBlockStatus(div, status)
{
  if (status == 1) {
    document.getElementById( div ).style.display ='block';
  } else {
    document.getElementById( div ).style.display ='none';
  }
}

function swapBlock(div)
{
  displayType =
    (document.getElementById(div).style.display == 'none' ? 'block' : 'none');
  document.getElementById(div).style.display = displayType;
}
// ]]>
</script>
<div id="subnavbar_level2">
  <ul>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=catalog" title="{TXT_PRODUCT_CATALOG}">{TXT_PRODUCT_CATALOG}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=manage" title="{TXT_ADD_PRODUCTS}">{TXT_ADD_PRODUCTS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=attributes" title="{TXT_PRODUCT_CHARACTERISTICS}">{TXT_PRODUCT_CHARACTERISTICS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=discounts" title="{TXT_SHOP_DISCOUNT_COUNT_GROUPS}">{TXT_SHOP_DISCOUNT_COUNT_GROUPS}</a></li>
    <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=groups" title="{TXT_SHOP_ARTICLE_GROUPS}">{TXT_SHOP_ARTICLE_GROUPS}</a></li>
    <!-- <li><a href="index.php?cmd=Shop&amp;act=products&amp;tpl=download" title="{TXT_DOWNLOAD_OPTIONS}">{TXT_DOWNLOAD_OPTIONS}</a></li> -->
  </ul>
</div>
<br />
{SHOP_PRODUCTS_FILE}
<br />
<!-- END shop_products.html -->
