<!-- Counter Code BEGIN -->
<script type="text/javascript">
// <![CDATA[
(function() {//don't pollute global namespace
  var referer = document.referrer ? encodeURI(document.referrer) : '';
  var c = 0;
  var v = navigator.appName;
  if (v != 'Netscape') { c = screen.colorDepth; }
  else                 { c = screen.pixelDepth; }

  var stats_data = {
    'mode':        'script',
    'referer':     referer,
    'pageId':      '[PAGEID]',
    'screen':      screen.width + 'x' + screen.height,
    'color_depth': c
  };
  if ('[SEARCHTERM_PLAIN]' != '') {
    stats_data['searchTerm'] = '[SEARCHTERM_PLAIN]';
  }

  if(typeof Ajax != 'undefined') { // prototype
    Event.observe(window, 'load', function() {
      new Ajax.Request('[COMMAND]', {
        method: 'get',
        parameters: stats_data
      });
    });
  } else if (typeof cx != 'undefined' && typeof cx.jQuery != 'undefined') { // jQuery
    cx.jQuery(function(){
      cx.jQuery.get('[COMMAND]',
        stats_data
      );
    });
  } else { // no known js framework
        var script_opener = '%3Cscript type="text/javascript" ';
        var script_closer = '%3C/script%3E';
        document.write(decodeURI(script_opener) + ' src="[COMMAND]?mode=script&amp;referer='+referer+'&amp;pageId=[PAGEID]&amp;screen=' + screen.width + 'x' + screen.height + '&amp;color_depth=' + c + '[SEARCHTERM]" >' + decodeURI(script_closer));
  }
})();
// ]]>
</script>
<noscript><div><img src="[COMMAND]?mode=noscript&amp;referer=[REFERER]&amp;pageId=[PAGEID][SEARCHTERM_NOSCRIPT]" title="counter" alt="counter" width="1" height="1" /></div></noscript>
<!-- Counter Code END -->
