<!-- START module_mediadir_overview.html -->
<script type="text/javascript">
//<![CDATA[
function deleteEntry(entryId)
{
    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry&id="+entryId);
    }
}

function deleteCategory(catId)
{
    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_category&id="+catId);
    }
}

function deleteLevel(levelId)
{
    if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
        window.location.replace("index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_level&id="+levelId);
    }
}

function entriesAreChecked(fieldName, objForm)
{
    x = 0;
    for (i = 0; i < objForm.elements.length; ++i) {
        e = objForm.elements[i];
        if (e.name == fieldName && e.checked == true) return true;
    }
    return false;
}

function entriesDoAction(formId, objSelect)
{
    objForm = document.getElementById(formId);

    if (entriesAreChecked("entriesFormSelected[]", objForm) == true) {
        switch (objSelect.value) {
            case "delete_entry":
                if (confirm('{TXT_MEDIADIR_CONFIRM_DELETE_DATA}\n{TXT_MEDIADIR_ACTION_IS_IRREVERSIBLE}')) {
                    actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=delete_entry";
                }
                break
            case "confirm_entry":
                actionValue = "index.php?cmd={MODULE_NAME}&{CSRF}&act=confirm_entry";
                break
        }

        if (actionValue != '') {
            objForm.action = actionValue;
            objForm.submit();
        }
    } else {
        alert("{TXT_MEDIADIR_MAKE_SELECTION}");
    }

    objSelect.value = "0";
}

var switchState = function(id, obj, action, type)
{
    cx.jQuery.get('index.php', {cmd : '{MODULE_NAME}', act : 'switchState', id : id, state : action, type : type}).success(function() {
        if (action) {
            if (type == 'entry') {
                path = '/core/Core/View/Media/icons/status_green.gif';
            } else {
                path = "/core/Core/View/Media/icons/folder_on.gif";
            }
            action = 0;
        } else {
            if (type == 'entry') {
                path = '/core/Core/View/Media/icons/status_red.gif';
            } else {
                path = "/core/Core/View/Media/icons/folder_off.gif";
            }
            action = 1;
        }

        cx.jQuery(obj).children('img:first').attr('src', path);
        cx.jQuery(obj).attr('onclick', 'switchState('+id+', this, '+action+', \''+type+'\')');
    });
}

cx.jQuery(document).ready(function(){
    cx.jQuery('#submit-search').click(function(e){
        searchEntries(e);
    });
});

var searchEntries = function (event) {
    event.preventDefault();
    formId = '';
    levelId = '';
    catId = '';
    if(cx.jQuery('select[name="form_id"]').length>0){
        formId = '&form_id='+cx.jQuery('select[name="form_id"]').val();
    }
    if(cx.jQuery('select[name="level_id"]').length>0){
        levelId = '&level_id='+cx.jQuery('select[name="level_id"]').val();
    }
    if(cx.jQuery('select[name="cat_id"]').length>0){
        catId = '&cat_id='+cx.jQuery('select[name="cat_id"]').val();
    }
    cx.jQuery('#search_mediadir').attr('action', cx.jQuery('#search_mediadir').attr('action') + catId+formId+levelId).submit();
}

//]]>
</script>

<style type="text/css">
    #search_mediadir {
        padding: 0;
        width: auto;
    }
</style>

<table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
    <tr>
        <th>{TXT_FUNCTIONS}</th>
    </tr>
    <tr>
        <td>
            <form id="search_mediadir" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=entries">
                <input type="text" name="term" value="{TXT_MEDIADIR_ID_OR_SEARCH_TERM}" onfocus="if(this.value=='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'){this.value=''}" onblur="if(this.value==''){this.value='{TXT_MEDIADIR_ID_OR_SEARCH_TERM}'}" class="search" style="width: 266px;" />
                <!-- BEGIN mediadirFormDropdown --><select name="form_id" style="width: 172px;"><option value="0">{TXT_MEDIADIR_ALL_FORMS}</option>{MEDIADIR_FORMS_DROPDOWN_OPTIONS}</select><!-- END mediadirFormDropdown -->
                <!-- BEGIN mediadirLevelDropdown --><select name="level_id" style="width: 172px;"><option value="0">{TXT_MEDIADIR_ALL_LEVELS}</option>{MEDIADIR_LEVELS_DROPDOWN_OPTIONS}</select><!-- END mediadirLevelDropdown -->
                <select name="cat_id" style="width: 172px;"><option value="0">{TXT_MEDIADIR_ALL_CATEGORIES}</option>{MEDIADIR_CATEGORIES_DROPDOWN_OPTIONS}</select>
                <input type="submit" id="submit-search" name="Submit" value="{TXT_SEARCH}" />
            </form>
        </td>
    </tr>
</table><br />

<!-- BEGIN tabMenu -->
<ul id="tabmenu" style="width: 30%;">
      <li><a {TAB_LEVELS_ACTIVE} id="{MODULE_NAME}Tab_levels" href="javascript:{}" onclick="selectTab('levels')" title="">{TXT_LEVELS}</a></li>
      <li><a id="{MODULE_NAME}Tab_categories" {TAB_CATEGORIES_ACTIVE} href="javascript:{}" onclick="selectTab('categories')" title="">{TXT_CATEGORIES}</a></li>
</ul>
<!-- END tabMenu -->

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="30%" valign="top">
            <!-- BEGIN levelsTab -->
            <div id="levels" class="{MODULE_NAME}Tab" style="display:{TAB_LEVELS_DISPLAY};">
                <form id="levelForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=order_level" >
                <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
                    <tr>
                        <th colspan="2" nowrap="nowrap">{TXT_LEVELS}&nbsp;&nbsp;&nbsp;[<a href="index.php?cmd={MODULE_NAME}&amp;exp_level=all" title="{TXT_EXPAND_LINK}">{TXT_EXPAND_LINK}</a>&nbsp;|&nbsp;<a href="index.php?cmd={MODULE_NAME}&amp;exp_level=0" title="{TXT_COLLAPS_LINK}">{TXT_COLLAPS_LINK}</a>]</th>
                    </tr>
                    <tr class="row3">
                        <td width="99%"><strong>Name</strong></td>
                        <td width="1%" ><strong>Aktion</strong></td>
                    </tr>
                    <!-- BEGIN mediadirLevelsList -->
                    <tr class="{MEDIADIR_LEVEL_ROW_CLASS}">
                        <td>
                            {MEDIADIR_LEVEL_ICON}&nbsp;
                            <a href="javascript: void(0);" onclick="switchState({MEDIADIR_LEVEL_ID}, this, {MEDIADIR_LEVEL_VISIBLE_STATE_ACTION}, 'level')"><img src="/core/Core/View/Media/icons/folder_{MEDIADIR_LEVEL_VISIBLE_STATE_IMG}.gif" border="0" alt="{MEDIADIR_LEVEL_NAME}" title="{MEDIADIR_LEVEL_NAME}" /></a>&nbsp;&nbsp;
                            <input name="levelOrder[{MEDIADIR_LEVEL_ID}]" style="width: 30px;" type="text" value="{MEDIADIR_LEVEL_ORDER}" onfocus="this.select();" />&nbsp;
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=entries&amp;level_id={MEDIADIR_LEVEL_ID}" title="{MEDIADIR_LEVEL_NAME} - {MEDIADIR_LEVEL_DESCRIPTION_ESCAPED}">{MEDIADIR_LEVEL_NAME}</a> ({MEDIADIR_LEVEL_NUM_ENTRIES})
                        </td>
                        <td nowrap="nowrap">
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_level&amp;id={MEDIADIR_LEVEL_ID}" target="_self" title="{MEDIADIR_LEVEL_NAME} {TXT_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{MEDIADIR_LEVEL_NAME} {TXT_EDIT}" title="{MEDIADIR_LEVEL_NAME} {TXT_EDIT}" /></a>
                            <a href="javascript:deleteLevel('{MEDIADIR_LEVEL_ID}');" title="{MEDIADIR_LEVEL_NAME} {TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{MEDIADIR_LEVEL_NAME} {TXT_DELETE}" title="{MEDIADIR_LEVEL_NAME} {TXT_DELETE}" /></a>
                        </td>
                    </tr>
                    <!-- END mediadirLevelsList -->
                    <!-- BEGIN noLevelsFound -->
                    <tr class="row1">
                        <td colspan="2"><em>{TXT_MEDIADIR_NO_LEVELS_FOUND}</em></td>
                    </tr>
                    <!-- END noLevelsFound -->
                </table>
                <br />
                <input style="margin-left:18px;" type="button" onclick="location.href='?cmd={MODULE_NAME}&amp;act=modify_level&amp;{CSRF}'" value="{TXT_ADD_LEVEL}" name="add_level">
                <input type="submit" value="{TXT_MEDIADIR_SUBMIT}" name="submit_order_level">
                </form>
            </div>
            <!-- END levelsTab -->
            <div id="categories" class="{MODULE_NAME}Tab" style="display:{TAB_CATEGORIES_DISPLAY};">
                <form id="categoryForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=order_category">
                <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
                    <tr>
                        <th colspan="2">{TXT_CATEGORIES}&nbsp;&nbsp;&nbsp;[<a href="index.php?cmd={MODULE_NAME}&amp;exp_cat=all" title="{TXT_EXPAND_LINK}">{TXT_EXPAND_LINK}</a>&nbsp;|&nbsp;<a href="index.php?cmd={MODULE_NAME}&amp;exp_cat=0" title="{TXT_EXPAND_LINK}">{TXT_COLLAPS_LINK}</a>]</th>
                    </tr>
                    <tr class="row3">
                        <td width="99%"><strong>Name</strong></td>
                        <td width="1%" ><strong>Aktion</strong></td>
                    </tr>
                    <!-- BEGIN mediadirCategoriesList -->
                    <tr class="{MEDIADIR_CATEGORY_ROW_CLASS}">
                        <td>
                            {MEDIADIR_CATEGORY_ICON}&nbsp;
                            <a href="javascript: void(0);" onclick="switchState({MEDIADIR_CATEGORY_ID}, this, {MEDIADIR_CATEGORY_VISIBLE_STATE_ACTION}, 'category')"><img src="/core/Core/View/Media/icons/folder_{MEDIADIR_CATEGORY_VISIBLE_STATE_IMG}.gif" border="0" alt="{MEDIADIR_CATEGORY_NAME}" title="{MEDIADIR_CATEGORY_NAME}" /></a>&nbsp;&nbsp;
                            <input name="catOrder[{MEDIADIR_CATEGORY_ID}]" style="width: 30px;" type="text" value="{MEDIADIR_CATEGORY_ORDER}" onfocus="this.select();" />&nbsp;
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=entries&amp;cat_id={MEDIADIR_CATEGORY_ID}" title="{MEDIADIR_CATEGORY_NAME} - {MEDIADIR_CATEGORY_DESCRIPTION_ESCAPED}">{MEDIADIR_CATEGORY_NAME}</a> ({MEDIADIR_CATEGORY_NUM_ENTRIES})
                        </td>
                        <td nowrap="nowrap">
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_category&amp;id={MEDIADIR_CATEGORY_ID}" target="_self" title="{MEDIADIR_CATEGORY_NAME} {TXT_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{MEDIADIR_CATEGORY_NAME} {TXT_EDIT}" title="{MEDIADIR_CATEGORY_NAME} {TXT_EDIT}" /></a>
                            <a href="javascript:deleteCategory('{MEDIADIR_CATEGORY_ID}');" title="{MEDIADIR_CATEGORY_NAME} {TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{MEDIADIR_CATEGORY_NAME} {TXT_DELETE}" title="{MEDIADIR_CATEGORY_NAME} {TXT_DELETE}" /></a>
                        </td>
                    </tr>
                    <!-- END mediadirCategoriesList -->
                    <!-- BEGIN noCategoriesFound -->
                    <tr class="row1">
                        <td colspan="2"><em>{TXT_MEDIADIR_NO_CATEGORIES_FOUND}</em></td>
                    </tr>
                    <!-- END noCategoriesFound -->
                </table>
                <br />
                <input style="margin-left:18px;"  type="button" onclick="location.href='?cmd={MODULE_NAME}&amp;act=modify_category&amp;{CSRF}'" value="{TXT_ADD_CATEGORY}" name="add_category">
                <input type="submit" value="{TXT_MEDIADIR_SUBMIT}" name="submit_order_category">
                </form>
            </div>
        </td>
        <td width="1%" valign="top"><br /></td>
        <td width="69%" valign="top">
            <!-- BEGIN confirmBlock -->
            <form id="confirmForm" method="post" action="index.php?cmd={MODULE_NAME}&amp;act=confirm_entry">
            <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
                <tr>
                    <th colspan="6">{TXT_CONFIRM_LIST}</th>
                </tr>
                <tr class="row3">
                    <td width="1%" style="text-align: center;"><strong>#</strong></td>
                    <td width="40%"><strong>{TXT_MEDIADIR_NAME}</strong></td>
                    <td width="10%"><strong>{TXT_MEDIADIR_FORM}</strong></td>
                    <td width="20%"><strong>{TXT_MEDIADIR_DATE}</strong></td>
                    <td width="18%"><strong>{TXT_MEDIADIR_AUTHOR}</strong></td>
                    <td width="1%" ><strong>{TXT_MEDIADIR_ACTION}</strong></td>
                </tr>
                <!-- BEGIN mediadirConfirmList -->
                    <tr class="{MEDIADIR_ROW_CLASS}">
                        <td valign="top"><input type="checkbox" name="entriesFormSelected[]" value="{MEDIADIR_ENTRY_ID}" /></td>
                        <td valign="top"><b><a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_VIEW}">{MEDIADIR_ENTRY_TITLE_FORMATTED}</a></b></td>
                        <td valign="top">{MEDIADIR_ENTRY_FORM}</td>
                        <td valign="top" nowrap="nowrap">{MEDIADIR_ENTRY_CREATE_DATE}</td>
                        <td valign="top">{MEDIADIR_ENTRY_AUTHOR}</td>
                        <td valign="top" style="text-align: right;" nowrap="nowrap">
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=confirm_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_CONFIRM}"><img src="/core/Core/View/Media/icons/check.gif" border="0" alt="{TXT_CONFIRM}" title="{TXT_CONFIRM}" /></a>
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_VIEW}"><img src="/core/Core/View/Media/icons/details.gif" border="0" alt="{TXT_VIEW}" title="{TXT_VIEW}" /></a>
                            <a href="javascript:deleteEntry('{MEDIADIR_ENTRY_ID}');" title="{TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_DELETE}" title="{TXT_DELETE}" /></a>
                        </td>
                    </tr>
                <!-- END mediadirConfirmList -->
            </table>
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td valign="top">
                    <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="" />
                    <a href="javascript:{void(0)};" onclick="changeCheckboxes('confirmForm','entriesFormSelected[]',true); return false;">{TXT_SELECT_ALL}</a> / <a href="javascript:{void(0)};" onclick="changeCheckboxes('confirmForm','entriesFormSelected[]',false); return false;">{TXT_DESELECT_ALL}</a>
                    <img src="/core/Core/View/Media/icons/strike.gif" width="34" height="22" alt="strike" />
                    <select name="selectConfirmAction" onchange="entriesDoAction('confirmForm', this);">
                        <option value="0" selected="selected">{TXT_SELECT_ACTION}</option>
                        <option value="confirm_entry">{TXT_CONFIRM_ALL}</option>
                        <option value="delete_entry">{TXT_DELETE_ALL}</option>
                    </select>
                    </td>
                </tr>
            </table>
            </form>
            <br />
            <!-- END confirmBlock -->
            <form id="latestForm" method="post">
            <table border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
                <tr>
                    <th colspan="8">{TXT_LATEST_ENTRIES}</th>
                </tr>
                <tr class="row3">
                    <td width="1%" style="text-align: center;"><strong>#</strong></td>
                    <td width="1%"><strong>{TXT_MEDIADIR_STATUS}&nbsp;&nbsp;&nbsp;</strong></td>
                    <td width="38%"><strong>{TXT_MEDIADIR_NAME}</strong></td>
                    <td width="10%"><strong>{TXT_MEDIADIR_FORM}</strong></td>
                    <td width="20%"><strong>{TXT_MEDIADIR_DATE}</strong></td>
                    <td width="14%"><strong>{TXT_MEDIADIR_AUTHOR}</strong></td>
                    <td width="5%"><strong>{TXT_MEDIADIR_HITS}</strong></td>
                    <td width="1%" ><strong>{TXT_MEDIADIR_ACTION}</strong></td>
                </tr>
                <!-- BEGIN mediadirLatestList -->
                    <tr class="{MEDIADIR_ROW_CLASS}">
                        <td valign="top"><input type="checkbox" name="entriesFormSelected[]" value="{MEDIADIR_ENTRY_ID}" /></td>
                        <td valign="middle" style="text-align: center;"><a href="javascript: void(0);" onclick="switchState({MEDIADIR_ENTRY_ID}, this, {MEDIADIR_ENTRY_SWITCH_STATUS}, 'entry')"><img src="{MEDIADIR_ENTRY_STATUS}" border="0" alt="" title="" /></td>
                        <td valign="top"><b><a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_EDIT}">{MEDIADIR_ENTRY_TITLE_FORMATTED}</a></b></td>
                        <td valign="top">{MEDIADIR_ENTRY_FORM}</td>
                        <td valign="top" nowrap="nowrap">{MEDIADIR_ENTRY_VALIDATE_DATE}</td>
                        <td valign="top">{MEDIADIR_ENTRY_AUTHOR}</td>
                        <td valign="top">{MEDIADIR_ENTRY_HITS}</td>
                        <td valign="top" style="text-align: right;" nowrap="nowrap">
                            <a href="index.php?cmd={MODULE_NAME}&amp;act=modify_entry&amp;id={MEDIADIR_ENTRY_ID}" target="_self" title="{TXT_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{MEDIADIR_ENTRY_NAME} {TXT_EDIT}" title="{TXT_EDIT}" /></a>
                            <a href="javascript:deleteEntry('{MEDIADIR_ENTRY_ID}');" title="{TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{MEDIADIR_ENTRY_NAME} {TXT_DELETE}" title="{TXT_DELETE}" /></a>
                        </td>
                    </tr>
                <!-- END mediadirLatestList -->
                <!-- BEGIN noEntriesFound -->
                    <tr class="row1">
                        <td colspan="8"><em>{TXT_MEDIADIR_NO_ENTRIES_FOUND}</em></td>
                    </tr>
                <!-- END noEntriesFound -->
            </table>
            <!-- BEGIN mediadirLatestSelectAction -->
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tr>
                    <td valign="top">
                    <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="" />
                    <a href="javascript:{void(0)};" onclick="changeCheckboxes('latestForm','entriesFormSelected[]',true); return false;">{TXT_SELECT_ALL}</a> / <a href="javascript:{void(0)};" onclick="changeCheckboxes('latestForm','entriesFormSelected[]',false); return false;">{TXT_DESELECT_ALL}</a>
                    <img src="/core/Core/View/Media/icons/strike.gif" width="34" height="22" alt="strike" />
                    <select name="selectLatestAction" onchange="entriesDoAction('latestForm', this);">
                        <option value="0" selected="selected">{TXT_SELECT_ACTION}</option>
                        <option value="delete_entry">{TXT_DELETE_ALL}</option>
                    </select>
                    </td>
                </tr>
            </table>
            <!-- END mediadirLatestSelectAction -->
            </form>
            <br />
        </td>
    </tr>
</table>
<!-- END module_mediadir_overview.html -->
