<script type="text/javascript">
    $J(document).ready(function () {
        $J("#news-toggle").click(function () {
            $J("#news-comment-form").toggle();
        });
    });
</script>
<div id="news-date" class="news-info">
    {NEWS_DATE}&nbsp;{NEWS_TIME} | {NEWS_AUTHOR}<!-- BEGIN news_comments_count --> | {NEWS_COUNT_COMMENTS}<!-- END news_comments_count -->
    <!-- BEGIN news_tags_container --> 
    <span class="newsTags">
        |
        <span class="tagCont">
            <!-- BEGIN news_tag_list -->
            {NEWS_TAG_LINK}
            <!-- END news_tag_list -->
        </span>
    </span>
    <!-- END news_tags_container -->
</div>
<!-- BEGIN news_use_teaser_text -->
<div id="news-teaser-text">
    {NEWS_TEASER_TEXT}
</div>
<!-- END news_use_teaser_text -->
<div id="news-content">
    <!-- BEGIN news_text -->{NEWS_TEXT}<!-- END news_text -->
    <!-- BEGIN news_redirect -->{TXT_NEWS_REDIRECT_INSTRUCTION} <a href="{NEWS_REDIRECT_URL}" target="_blank">{NEWS_REDIRECT_URL}</a><!-- END news_redirect -->
</div>
<!-- BEGIN news_details_related_news_container -->
<div id="news-related-news">
    <h3>{TXT_NEWS_RELATED_NEWS}</h3>
    <!-- BEGIN news_details_related_news -->
    <div class="rel-news-blocks">
        <h6>{NEWS_RELATED_NEWS_LINK_TITLE}</h6>
        <div class="news-info">
            <p>{NEWS_RELATED_NEWS_DATE}&nbsp;{NEWS_RELATED_NEWS_TIME} </p>
        </div>
        {NEWS_RELATED_NEWS_TITLE}&nbsp;{NEWS_RELATED_NEWS_LINK}
    </div>
    <!-- END news_details_related_news -->
</div>
<!-- END news_details_related_news_container -->

<!-- BEGIN news_details_previous_next_links -->
<div id="news-link-blocks-cont">
    <!-- BEGIN news_details_previous_link -->
    <div id="news-previous-link-block">
        {NEWS_PREVIOUS_LINK}
    </div>
    <!-- END news_details_previous_link -->

    <!-- BEGIN news_details_next_link -->
    <div id="news-next-link-block" class="link-blocks">
        {NEWS_NEXT_LINK}
    </div>
    <!-- END news_details_next_link -->
</div>
<!-- END news_details_previous_next_links -->

<div id="news-links">
    <ul class="horizontal-list">
        <li><a href="{PRINT_URL}">Version zum Drucken</a></li>
        <li class="last"><a href="index.php?section=Newsletter">Newsletter abonnieren</a></li>
    </ul>
</div>
<!-- BEGIN news_comments -->
    <!-- BEGIN news_add_comment -->
        <input class="btn btn-default" id="news-toggle" type="submit" value="{TXT_NEWS_WRITE_COMMENT}" />
        <form role="form" id="news-comment-form" method="post" action="index.php?section=News&amp;cmd=details&amp;newsid={NEWS_ID}">
            <fieldset>
                <legend>{TXT_NEWS_ADD_COMMENT}</legend>
                <!-- BEGIN news_add_comment_error -->
                <div class="news-error text-danger">{NEWS_ADD_COMMENT_ERROR}</div>
                <!-- END news_add_comment_error -->
                <!-- BEGIN news_add_comment_name -->
                <p>
                    <label for="news_comment_name">{TXT_NEWS_NAME}</label>
                    <input type="text" name="news_comment_name" id="news_comment_name" value="{NEWS_COMMENT_NAME}" />
                </p>
                <!-- END news_add_comment_name -->
                <p>
                    <label for="news_comment_title">{TXT_NEWS_TITLE}</label>
                    <input type="text" name="news_comment_title" id="news_comment_title" value="{NEWS_COMMENT_TITLE}" />
                </p>
                <p>
                    <label for="news_comment_message">{TXT_NEWS_COMMENT}</label>
                    <textarea name="news_comment_message" id="news_comment_message" cols="40" rows="7">{NEWS_COMMENT_MESSAGE}</textarea>
                </p>
                <!-- BEGIN news_add_comment_captcha -->
                <p>
                    <label>{TXT_NEWS_CAPTCHA}</label>
                    {NEWS_COMMENT_CAPTCHA_CODE}
                </p>
                <!-- END news_add_comment_captcha -->
                <p><input class="btn btn-default" name="news_add_comment" type="submit" value="{TXT_NEWS_ADD}" /></p>
            </fieldset>
        </form>
    <!-- END news_add_comment -->
    <!-- BEGIN news_no_comment -->
    <div id="news-no-comments">{TXT_NEWS_COMMENTS_NONE_EXISTING}</div>
    <!-- END news_no_comment -->
    <!-- BEGIN news_comment_list -->
        <!-- BEGIN news_comment -->
        <div class="news-comment">
            <div class="news-comment-poster">{NEWS_COMMENTS_LONG_DATE} | {NEWS_COMMENTS_POSTER}</div>
            <div class="news-comment-title"><strong>{NEWS_COMMENTS_TITLE}</strong></div>
            <div class="news-comment-message">{NEWS_COMMENTS_MESSAGE}</div>
        </div>
        <!-- END news_comment -->
    <!-- END news_comment_list -->
<!-- END news_comments -->
