#content form.cx-ui .error,
.cx-ui form.cx-ui .error {
    color: red;
    border-color: red;
}

span.functions {
    float:right;
    white-space: nowrap;
}

a.delete, a.remove {
    background-image: url(../Media/delete.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.edit {
    background-image: url(../Media/edit.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.copy {
    background-image: url(../Media/copy.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

a.show {
    background-image: url(/core/Core/View/Media/icons/details.gif);
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    margin-left: 4px;
    cursor: pointer;
}

form.cx-ui {
    float: none;
    clear: both;
    display: block;
    width: 100%;
}

form.cx-ui > fieldset {
    border: 0;
    padding: 0;
    margin-left: 0;
}

form.cx-ui > fieldset + fieldset {
    margin: 25px 0 0 0;
}

form.cx-ui > fieldset > legend {
    float: left;
    width: 100%;
    height: var(--table-row-height);
    line-height: var(--table-row-height);
    padding: 0 10px;
    margin: 0 0 2px;
    background: var(--blue);
    font-weight: bold;
    color: var(--white);
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
}

form.cx-ui > fieldset .group {
    float: left;
    display: block;
    padding: 3px;
    border-bottom: var(--lightgray) 1px solid;
    margin: 0;
    width: 100%;
}

form.cx-ui > fieldset .group > label {
    float: left;
    min-height: var(--table-row-height);
    line-height: var(--table-row-height);
    width: clamp(192px, 12vw, 12vw);
    padding: 0 8px;
    word-break: break-word;
}

form.cx-ui > fieldset .group > .controls,
form.cx-ui > fieldset .group > .controls .row {
    float: none;
    display: block;
    width: auto;
    padding: 0;
    border: 0;
    margin: 0;
}

form.cx-ui > fieldset .group > .controls {
    min-height: 22px;
    line-height: 22px;
    margin-left: 200px;
}
form.cx-ui > fieldset .group > .controls > div {
    display: inline-block;
}

form.cx-ui > fieldset .actions {
    margin: 10px 0 0 0;
}

*+html form.cx-ui > fieldset {
    position: relative;
    padding-top: 28px;
}
*+html form.cx-ui > fieldset > legend {
    position: absolute;
    left: -10px;
    top: 0;
}
*+html form.cx-ui > fieldset > legend {
    position: absolute;
    left: -10px;
    top: 0;
}
*+html form.cx-ui > fieldset .group > .controls {
    text-algin: left;
    margin: 0;
}
form.cx-ui #editor-htmlContent {
    margin: 0px;
}
form.cx-ui textarea {
    width: 292px;
    max-width: 1000px;
    max-height: 300px;
}
form.cx-ui input[type="text"],
form.cx-ui input[type="number"],
form.cx-ui input[type="email"],
form.cx-ui input[type="password"],
form.cx-ui input[type="tel"],
form.cx-ui input[type="url"],
form.cx-ui input[type="date"],
form.cx-ui select{
    width: 300px;
    max-width: 300px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
form.cx-ui input#imagePath {
    width: 292px;
}
form.cx-ui img.previewImage {
    margin-bottom: 5px;
    height: 85px;
}

/*Changes for Row sorting functionality in ViewGenerator*/

table.adminlist.sortable tr.row2,
table.adminlist.sortable tr.row1 {
    /*background: none;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.adminlist.sortable .drag-drop-handle {
    cursor: ns-resize;
    display: inline-block;
    padding-top: 3px;
}

table.adminlist .drag-drop-header {
    font-weight: 1000;
    font-size: 16px;
    width: 13px;
    display: inline-block;
    padding-left: 3px;
}

body.loading {
    cursor: wait !important;
}

.loading table.adminlist.sortable tr.row2,
.loading table.adminlist.sortable tr.row1 {
    cursor: not-allowed;
}

.loading table.adminlist.sortable tr.row2,
.loading table.adminlist.sortable tr.row1 {
    opacity: 0.6;
}

table.sortable .sorter-loading {
    background-image: url(../../../../core_modules/News/View/Media/loading.gif) !important;
}
.vg-tabs {
    display:none;
}

#form-0-overview {
    display: block;
}

ul.vg-alphabeticalSearch {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

ul.vg-alphabeticalSearch li a:before {
    content: "[";
    font-weight: normal;
    padding-right: 0.3em;
}

ul.vg-alphabeticalSearch li {
    padding-left: 5px;
}

ul.vg-alphabeticalSearch li.selected {
    font-weight: bold;
}

ul.vg-alphabeticalSearch li a:after {
    content: "]";
    font-weight: normal;
    padding-left: 0.3em;
}

table.adminlist .vg-function-status {
    cursor: pointer;
    background-image: url(/core/Html/View/Media/StatusInactive.gif);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 3px 12px;
}
table.adminlist .vg-function-status.active {
    background-image: url(/core/Html/View/Media/StatusActive.gif);
}

table.adminlist .vg-function-status.loading {
    cursor: wait;
    background-image: url(/core/Html/View/Media/Load.gif);
}
