:root {
    --red: #E40000;
    --green: #7FC600;
    --blue: #0469B2;
    --orange: #FF8C00;
    --yellow: #ffff40;
    --lightgray: #DDDDDD;
    --gray: #999999;
    --darkgray: #444444;
    --black: #000000;
    --white: #FFFFFF;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: arial, helvetica, sans-serif;
    color: var(--darkgray);
}

h1 {
    float: left;
    width: auto;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

a,
a:link,
a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--blue);
    cursor: pointer;
}

#container {
    position: absolute;
    top: 140px;
    left: 50%;
    float: left;
    width: 610px;
    padding: 25px;
    margin: 0 -330px;
    background: var(--lightgray) url(../Media/exclamation_mark.png) no-repeat 575px 21px;
}

#container #title {
    float: left;
    width: auto;
    margin: 0 85px 30px 0;
    font-size: 38px;
}

#container #message {
    float: left;
    clear: both;
    width: 610px;
    margin: 0 0 30px 0;
}

#container #message ul {
    padding: 0 0 0 15px;
    margin: 10px 0;
}

#container #message a {
    font-weight: bold;
    color: var(--darkgray);
}

#container .button {
    float: left;
    width: 268px;
    height: 25px;
    padding: 12px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: var(--white);
}

#container .button#abort {
    float: left;
    background: var(--gray);
}

#container .button#continue {
    float: right;
    background: var(--green);
}

#container .button:hover,
#container .button:focus,
#container .button:active {
    color: var(--lightgray);
}

#container form {
    display: none;
}
