<!-- BEGIN form_tag_open -->
<form action="" method="post" id="localeLocaleList">
<!-- END form_tag_open -->
    <!-- BEGIN entity_view -->
    {ENTITY_VIEW}
    <!-- END entity_view -->
    <!-- BEGIN form_actions -->
    <div>
        <input type="submit" form="localeLocaleList" name="updateLocales" value="{TXT_CORE_LOCALE_SAVE}" />
    </div>
    <!-- END form_actions -->
<!-- BEGIN form_tag_close -->
</form>
<!-- END form_tag_close -->
