<script type="text/javascript">

    var viewManager = {
        // wraper to get values from cx.variables
        get: function(key) {
            return cx.variables.get(key, 'viewManager');
        }
    };
    cx.ready(function() {
        $J("#tabs").tabs({
            show : function (event, ui) {
                $J(window).trigger('resize');
                $J('#selectedTab').val($J( "#tabs" ).tabs('option', 'selected'));
            },
            select: function(event, ui) {
                window.location.hash = ui.tab.hash;
            }
        });
        var activateDialog = cx.ui.dialog({
            width: 520,
            title: '{TXT_THEME_ACTIVATE_THEME}',
            content: $J(".activateThemeContainer"),
            autoOpen: false,
            buttons: {
                "{TXT_THEME_CANCEL}": function() {
                    $J(this).dialog("close");
                },
                "{TXT_THEME_ACTIVATE}": function() {
                    ajaxActivateTheme(false);
                    $J(this).dialog("close");
                }
            }
        });

        //Activate Button click
        $J(".themesActivate").click(function() {
            var themeId = $J(this).attr('data-themeId');
            if ({THEMES_LANG_ACTIVE_COUNT} > 1) {
                $J( ".active_language_checkbox_container" ).html(' ');
                $J.ajax({
                    url     : 'index.php?cmd=JsonData&object=ViewManager&act=activateLanguages',
                    data    : {
                                themeId : themeId,
                                themeType : $J('#selectedTab').val()
                              },
                    type    : "post",
                    dataType: "json",
                    success: function(response) {
                        $J(response.data).each(function(index, val) {
                            $J( ".active_language_checkbox_container" ).append( '<label><input type="checkbox"  name="themesLangId['+val.lang_id+']" value="'+val.lang_id+'" id ="'+val.lang_name+'">'+ val.lang_name +' </label><br>' );
                        });
                        $J("#multipleFormThemeId").val(themeId);
                        $J('#activateThemeForm input[type=checkbox]').attr('checked', 'checked');

                        activateDialog.open();
                    }
                });

                return false;
            } else {
                ajaxActivateTheme(themeId);
                return false;
            }
        });
        if (!viewManager.get('enable_theme_access')) {
            cx.jQuery('input[name="themesActivate"]').hide();
        }
        if (!viewManager.get('edit_theme_access')) {
            cx.jQuery('.themeWrapper:not(.templateEditor) .themeEdit, .themeCopy, .themeDelete').hide();
        }
        if (!viewManager.get('theme_import_export_access')) {
            cx.jQuery('.themeExport').hide();
        }
        if (!viewManager.get('theme_template_editor_access')) {
            cx.jQuery('.templateEditor .themeEdit').hide();
        }
        if (!viewManager.get('edit_theme_access') && !viewManager.get('theme_import_export_access')) {
            cx.jQuery('.newthemeWrapper').hide();
        } else if (!viewManager.get('edit_theme_access') && viewManager.get('theme_import_export_access')) {
            cx.jQuery('.newthemeWrapper .addTheme > a').attr('href', '{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=import&csrf=' + cx.variables.get('csrf', 'contrexx'));
        }
    });

    //Activate Theme
    function ajaxActivateTheme(themeId) {
        if (themeId) {
            data = {themeId : themeId, themeType: $J('#selectedTab').val()};
        } else {
            data = $J('#activateThemeForm').serialize();
        }

        $J.ajax({
            url     : "index.php?cmd=JsonData&object=ViewManager&act=activateTheme",
            type    : "post",
            data    : data,
            dataType: "json",
            success: function(response) {
                if (response.status == 'success') {
                    window.location.reload();
                } else {
                    cx.tools.StatusMessage.showMessage(response.message, "error", 1000);
                }
            }
        });
    }

    function checkThemeExistsByThemeId(themeId) {

        $J.ajax({
            url  : "index.php?cmd=JsonData&object=ViewManager&act=checkThemeExistsByThemeId&themeId="+themeId ,
            type : "post",
            dataType : "json",
            success: function(response) {

                if (response.data.isTrue) {
                    btn = {"{TXT_THEME_CANCEL}": function() { $J( this ).dialog( "close" ); }}
                    $J(".deleteThemeContainer").html('<div><strong>'+ response.data.Content +'</strong></div>');
                } else {
                    $J(".deleteThemeContainer").html('<div><strong>'+ response.data.Content +'</strong></div>');
                    btn = {"{TXT_THEME_CANCEL}": function() {
                            $J(this).dialog("close");
                        },
                        "{TXT_DELETE}": function() {
                            ajaxDeleteTheme(themeId);
                            $J(this).dialog("close");
                        }}
                }
                var deleteDialog = cx.ui.dialog({
                    width    :520,
                    title    :'{TXT_THEME_DELETE_DIALOG_TITLE}',
                    content  : $J(".deleteThemeContainer"),
                    autoOpen : false,
                    buttons: btn
                });
                deleteDialog.open();
            }
        });

    }

    function ajaxDeleteTheme(delThemeId) {
        $J.ajax({
            url : "index.php?cmd=JsonData&object=ViewManager&act=deleteThemeById&delThemeId="+delThemeId ,
            type : "post",
            dataType : "json",
            success : function(response) {
                if (response.data.status == 'success') {
                    window.location.reload();
                } else {
                    cx.tools.StatusMessage.showMessage(response.data.message, "error", 1000);
                }
            }
        });
    }

    $J(window).load(function(){
        $J(window).trigger('resize');
    });

    $J(window).resize(function(){
        $J('.themeWrapper').height("");
        var height = 0;
        $J('.themeWrapper').each(function(){
            height = Math.max(height, $J(this).outerHeight())
        });
        $J('.themeWrapper').height(height);
    });

</script>
<style type="text/css">
    .tabs-wraper .ui-widget-content {
        border: 0;
        background: #ffffff;
        color: #444444;
    }
    .tabs-wraper .ui-state-active a,
    .tabs-wraper .ui-state-active a:hover,
    .tabs-wraper .ui-state-active a:link,
    .tabs-wraper .ui-state-active a:visited {
        color: #444;
    }
    .tabs-wraper .ui-state-default a:hover{
        color: #0b4c7a;
    }
    .tabs-wraper #tab-menu li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active {
        border: 0;
        border-radius: 0 !important;
        font-weight: normal !important;
        color: #444;
    }
    .tabs-wraper #tab-menu li {
        border: 0;
        background: none;
        display: inline;
    }
    .tabs-wraper #tab-menu li a {
        float: left;
        text-decoration: none;
        border-radius: 0 !important;
        padding: 0 9px;
        border-top: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        margin: 0 10px 0 0;
        font-weight: normal;
        color: #444444;
        height: 22px;
        line-height: 22px;
    }

    .tabs-wraper #tab-menu li.ui-state-active a {
        background: #0071bc;
        border-top: 1px solid #0071bc;
        border-right: 1px solid #0071bc;
        border-left: 1px solid #0071bc;
        color: #fff;
    }

    .tabs-wraper {
        border: 0 !important;
        margin: 0;
        padding: 0;
        background: #fff;
    }
    .tabs-wraper.ui-tabs .ui-tabs-panel {
        margin: 0;
        padding: 0;
    }
    .tabs-wraper .ui-widget-header {
        border: 0;
        border-bottom: 1px solid #dddddd;
        background: transparent !important;
        color: #444444;
        font-weight: bold;
        border-bottom: 8px solid #0071bc;
        border-radius: 0;
        padding:0;
        margin:0;
    }

    .preview-image img {
        max-width: 100%;
    }

    .themeDetail {
        font-size: 20px;
        margin: 15px -18px 0;
        padding: 15px 18px 15px;
    }

    .default_active .themeDetail {
        background-color: #000;
        color: #fff;
    }

    .themeWrapper {
        float: left;
        width: calc(20% - 30px);
        border: 1px solid #CACACA;
        box-sizing: border-box;
        padding: 15px 15px 0;
        margin: 15px;
        position: relative;
        overflow: hidden;
    }

    .themeDetail {
        text-align: left;
    }

    .themeDetail input.themesActivate {
        display: none;
    }

    .themeDetail a.themePreview {
        display: none;
    }

    .preview-overlay-small {
        clear: both;
        display: none;
        font-size: 0;
        z-index: 11;
    }

    .preview-overlay {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .preview-image {
        padding-bottom: 70px;
    }

    .themeFooter {
        display: block;
    }

    .themeAction {
        display: none;
    }

    .preview-overlay-small a,
    body #content .preview-overlay-small input {
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #BBBBBB;
        color: #000;
        margin: 2px 0;
        padding: 10px 10px;
        text-shadow: none;
    }

    .preview-overlay-small a:hover,
    body #content .preview-overlay-small input:hover,
    .preview-overlay-small a:focus,
    body #content .preview-overlay-small input:focus {
        background: #BBBBBB;
    }

    span.add-icon.addThemeText {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
    }

    span.add-icon {
        display: block;
        text-align: center;
    }

    span.add-icon img {
        border:none;
    }

    .themeWrapper.newthemeWrapper {
        padding: 30px 30px;
    }

    .themeWrapper.newthemeWrapper:hover {
        background-color: #444;
        color: #fff;
    }

    .themeWrapper.newthemeWrapper:hover span {
        color: #fff;
    }

    .themeWrapper:after {
        width: 100%;
        display: block;
        position: absolute;
        left: 31%;
        top: 10%;
        color: #fff;
        padding: 5px 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        text-align: center;
        z-index: 10;
        background-color: #c0392b;
        content: '{TXT_THEME_TEMPLATEEDITOR_UNUSABLE}';
    }

    .themeWrapper.templateEditor:after {
        content: '{TXT_THEME_TEMPLATEEDITOR_USABLE}';
        background-color: #4EAA09;
    }

    .newthemeWrapper:after {
        content: none;
    }

    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .cf:after {
        clear: both;
    }
    .cf {
        *zoom: 1;
    }

    .themesOverview .cf {
        display: none;
    }

    @media (min-width: 1930px)  {
        .themesOverview .cf:nth-child(10n){
            display:block;
        }
    }

    @media (min-width:1600px) and (max-width: 1929px)  {
        .themesOverview .themeWrapper {
            width: calc(25% - 30px);
        }

        .themesOverview .cf:nth-child(8n){
            display:block;
        }
    }

    @media (min-width:1300px) and (max-width: 1599px) {
        .themesOverview .themeWrapper {
            width: calc(33.33333% - 30px);
        }

        .themesOverview .cf:nth-child(6n){
            display:block;
        }
    }

    @media (min-width:1000px) and (max-width: 1299px) {
        .themesOverview .themeWrapper {
            width: calc(50% - 30px);
        }

        .themesOverview .cf:nth-child(4n){
            display:block;
        }
    }

    @media (max-width: 999px) {
        .themesOverview .themeWrapper {
            width: calc(100% - 30px);
        }

        .themesOverview .cf {
            display: block;
        }
    }

    .themesOverview {
        margin: 0 -14px;
    }

    span.theme-lang-code {
        padding: 4px;
        text-align: center;
        width: auto;
        font-size: 10px;
        color: #fff;
        float: right;
        margin-left: 5px;
        background-color: #9DCB3B;
        margin-top: 1px;
    }

    .themeWrapper:hover .preview-overlay-small {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        height: 100%;
        z-index: 11;
    }

    .preview-overlay-small a.themeDelete.action-small-screen {
        background: #c0392b;
        color: #fff;
        border-color: #c0392b;
        float:right;
        margin-right: 5px;
    }

    .preview-overlay-small a.themeDelete.action-small-screen:hover,
    .preview-overlay-small a.themeDelete.action-small-screen:focus
    {
        background: #a23029;
        border-color: #a23029;
    }

    body #content .preview-overlay-small input.themesActivate {
        background: #4EAA09;
        color: #fff;
        border-color: #4EAA09;
    }

    body #content .preview-overlay-small input.themesActivate:hover,
    body #content .preview-overlay-small input.themesActivate:focus {
        background: #448909;
        border-color: #448909;
    }

    a.themePreview.action-small-screen,
    body #content .preview-overlay-small input.themesActivate {
        display: block;
        margin: 5px auto;
        width: 50%;
        font-size: 20px;
        text-align: center;
    }

    body #content .preview-overlay-small.default_active input.themesActivate.disabled,
    .preview-overlay-small.default_active a.themeDelete {
        display: none;
    }

    a.themeEdit.action-small-screen,
    a.themeCopy.action-small-screen,
    a.themeExport.action-small-screen {
        background: #0071BD;
        color: #fff;
        border-color: #0071BD;
    }

    a.themeEdit.action-small-screen:hover,
    a.themeCopy.action-small-screen:hover,
    a.themeExport.action-small-screen:hover {
        background: #005ca1;
        border-color: #005ca1;
    }

    .action {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 11px;
        background-color: #000;
        width: 100%;
        box-sizing: border-box;
        min-height: 54px;
    }

    .action a.action-small-screen {
        display: inline-block;
        width: auto;
        margin-right: 3px;
        padding: 5px 5px;
    }

    span.themeTitle {
        font-size: 24px;
        color: #fff;
        text-align: center;
        width: 100%;
        display: block;
        margin: 40px 0 15px;
        max-height: 59px;
        overflow: hidden;
    }


    @media (max-width: 1000px) {

        span.themeTitle {
            margin-top: 15px;
        }

        .action a.action-small-screen,a.action-small-screen,
        a.themePreview.action-small-screen,
        body #content .preview-overlay-small input.themesActivate{
            width: 100%;
            margin: 0 0 5px;
            padding: 12px 5px;
            font-size: 20px;
        }

        .action {
            padding: 0;
            background:none;
            position: static;
        }

        span.themeTitle {
            display: none;
        }
    }
</style>
<div style="clear: both"></div>

<div id="tabs" class="tabs-wraper">
    <ul id="tab-menu">
        <li><a href="#tab-standard">{TXT_ACTIVE_TEMPLATE}</a></li>
        <li><a href="#tab-mobile">{TXT_ACTIVE_MOBILE_TEMPLATE}</a></li>
        <li><a href="#tab-print">{TXT_ACTIVE_PRINT_TEMPLATE}</a></li>
        <li><a href="#tab-pdf">{TXT_ACTIVE_PDF_TEMPLATE}</a></li>
        <li><a href="#tab-app">{TXT_APP}</a></li>
    </ul>
    <!-- starting standard -->
    <div id="tab-standard">
        <div class="themesOverview">
            <!-- BEGIN themesWeb -->
            <div class="themeWrapper {THEME_TEMPLATEEDITOR} {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer">
                    <div class="preview-image"><img src="{THEME_PREVIEW}" alt="preview" /></div>
                    <div class="preview-overlay">
                        <div class="themeDetail" >
                           {THEME_NAME}
                                <!-- BEGIN activatedLangCodeWeb -->
                                <span class="theme-lang-code">{THEME_ACTIVATED_LANG_CODE}</span>
                                <!-- END activatedLangCodeWeb -->
                        </div>
                    </div>
                    <div class="preview-overlay-small {TXT_THEME_STANDARD_DISPLAY}">
                        <span class="themeTitle">
                               {THEME_NAME}
                        </span>
                        <input type="submit" name="themesActivate" value="{TXT_THEME_ACTIVATE}"  data-themeId = "{THEME_ID}" class="themesActivate action-small-screen {THEME_ACTIVATE_DISABLED}"/>
                        <a title="{TXT_THEME_PREVIEW}" class="themePreview action-small-screen" href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" >{TXT_THEME_PREVIEW}</a>
                       <div class="action">
                        <a title="{TXT_EDIT}" class="themeEdit action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?{THEME_ACTION}">{TXT_EDIT}</a>
                        <a title="{TXT_COPY}" class="themeCopy action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&amp;act=newDir&amp;copy={THEME_FOLDER_NAME}" >{TXT_COPY}</a>
                        <a title="{TXT_THEME_EXPORT}" class="themeExport action-small-screen" href="?cmd=ViewManager&amp;act=settings&amp;tpl=manage&amp;export={THEME_ID}" >{TXT_THEME_EXPORT}</a>
                        <a title="{TXT_DELETE}"   href="javascript:void(0);"  class="themeDelete action-small-screen" onclick="return checkThemeExistsByThemeId({THEME_ID})">{TXT_DELETE}</a>
                       </div> </div>
                </div>
            </div>
            <div class="cf"></div>
            <!-- END themesWeb -->
            <div class="themeWrapper {THEME_TEMPLATEEDITOR} newthemeWrapper {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer addTheme">
                    <a href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=newDir" title="{TXT_THEME_ADD_NEW}">
                        <span class="table">
                            <span class="table-row">
                                <span class="table-td">
                                    <span class="add-icon">
                                        <img src="/core/ViewManager/View/Media/add_new.png" alt="Add new" />
                                    </span>
                                    <span class="add-icon addThemeText">
                                        {TXT_THEME_ADD_NEW}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end standard -->

    <!-- starting mobile -->
    <div id="tab-mobile" style="display: none;">
        <div class="themesOverview">
            <!-- BEGIN themesMobile -->
            <div class="themeWrapper  {THEME_TEMPLATEEDITOR} {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer">
                    <div class="preview-image"><img src="{THEME_PREVIEW}" alt="preview" /></div>
                    <div class="preview-overlay">
                        <div class="themeDetail {TXT_THEME_STANDARD_DISPLAY}" >
                            {THEME_NAME}
                            <!-- BEGIN activatedLangCodeMobile -->
                            <span class="theme-lang-code">{THEME_ACTIVATED_LANG_CODE}</span>
                            <!-- END activatedLangCodeMobile -->
                        </div>
                    </div>
                    <div class="preview-overlay-small {TXT_THEME_STANDARD_DISPLAY}">
                        <span class="themeTitle">
                               {THEME_NAME}
                        </span>
                        <input type="submit" name="themesActivate" value="{TXT_THEME_ACTIVATE}"  data-themeId = "{THEME_ID}" class="themesActivate action-small-screen {THEME_ACTIVATE_DISABLED}"/>
                        <a title="{TXT_THEME_PREVIEW}" class="themePreview action-small-screen" href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" >{TXT_THEME_PREVIEW}</a>
                        <div class="action">
                            <a title="{TXT_EDIT}" class="themeEdit action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?{THEME_ACTION}">{TXT_EDIT}</a>
                            <a title="{TXT_COPY}" class="themeCopy action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&amp;act=newDir&amp;copy={THEME_FOLDER_NAME}" >{TXT_COPY}</a>
                            <a title="{TXT_THEME_EXPORT}" class="themeExport action-small-screen" href="?cmd=ViewManager&amp;act=settings&amp;tpl=manage&amp;export={THEME_ID}" >{TXT_THEME_EXPORT}</a>
                            <a title="{TXT_DELETE}"   href="javascript:void(0);"  class="themeDelete action-small-screen" onclick="return checkThemeExistsByThemeId({THEME_ID})">{TXT_DELETE}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf"></div>
            <!-- END themesMobile -->
            <div class="themeWrapper {THEME_TEMPLATEEDITOR} newthemeWrapper {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer addTheme">
                    <a href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=newDir" title="{TXT_THEME_ADD_NEW}">
                        <span class="table">
                            <span class="table-row">
                                <span class="table-td">
                                    <span class="add-icon">
                                        <img src="/core/ViewManager/View/Media/add_new.png" alt="Add new" />
                                    </span>
                                    <span class="add-icon addThemeText">
                                        {TXT_THEME_ADD_NEW}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ending mobile -->

    <!-- starting print -->
    <div id="tab-print" style="display: none;">
        <div class="themesOverview">
            <!-- BEGIN themesPrint -->
            <div class="themeWrapper  {THEME_TEMPLATEEDITOR} {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer">
                    <div class="preview-image"><img src="{THEME_PREVIEW}" alt="preview" /></div>
                    <div class="preview-overlay">
                        <div class="themeDetail {TXT_THEME_STANDARD_DISPLAY}" >
                           {THEME_NAME}
                                <!-- BEGIN activatedLangCodePrint -->
                                <span class="theme-lang-code">{THEME_ACTIVATED_LANG_CODE}</span>
                                <!-- END activatedLangCodePrint -->
                        </div>
                    </div>
                    <div class="preview-overlay-small {TXT_THEME_STANDARD_DISPLAY}">
                        <span class="themeTitle">
                               {THEME_NAME}
                        </span>
                        <input type="submit" name="themesActivate" value="{TXT_THEME_ACTIVATE}"  data-themeId = "{THEME_ID}" class="themesActivate action-small-screen {THEME_ACTIVATE_DISABLED}"/>
                        <a title="{TXT_THEME_PREVIEW}" class="themePreview action-small-screen" href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" >{TXT_THEME_PREVIEW}</a>
                        <div class="action">
                            <a title="{TXT_EDIT}" class="themeEdit action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?{THEME_ACTION}">{TXT_EDIT}</a>
                            <a title="{TXT_COPY}" class="themeCopy action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&amp;act=newDir&amp;copy={THEME_FOLDER_NAME}" >{TXT_COPY}</a>
                            <a title="{TXT_THEME_EXPORT}" class="themeExport action-small-screen" href="?cmd=ViewManager&amp;act=settings&amp;tpl=manage&amp;export={THEME_ID}" >{TXT_THEME_EXPORT}</a>
                            <a title="{TXT_DELETE}"   href="javascript:void(0);"  class="themeDelete action-small-screen" onclick="return checkThemeExistsByThemeId({THEME_ID})">{TXT_DELETE}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf"></div>
            <!-- END themesPrint -->
            <div class="themeWrapper  {THEME_TEMPLATEEDITOR} newthemeWrapper {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer addTheme">
                    <a href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=newDir" title="{TXT_THEME_ADD_NEW}">
                        <span class="table">
                            <span class="table-row">
                                <span class="table-td">
                                    <span class="add-icon">
                                        <img src="/core/ViewManager/View/Media/add_new.png" alt="Add new" />
                                    </span>
                                    <span class="add-icon addThemeText">
                                        {TXT_THEME_ADD_NEW}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ending mobile -->

    <!-- starting pdf -->
    <div id="tab-pdf" style="display: none;">
        <div class="themesOverview">
            <!-- BEGIN themesPdf -->
            <div class="themeWrapper {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer">
                    <div class="preview-image"><img src="{THEME_PREVIEW}" alt="preview" /></div>
                    <div class="preview-overlay">
                        <div class="themeDetail {TXT_THEME_STANDARD_DISPLAY}" >
                           {THEME_NAME}
                                <!-- BEGIN activatedLangCodePdf -->
                                <span class="theme-lang-code">{THEME_ACTIVATED_LANG_CODE}</span>
                                <!-- END activatedLangCodePdf -->
                        </div>
                    </div>
                    <div class="preview-overlay-small {TXT_THEME_STANDARD_DISPLAY}">
                        <span class="themeTitle">
                               {THEME_NAME}
                        </span>
                        <input type="submit" name="themesActivate" value="{TXT_THEME_ACTIVATE}"  data-themeId = "{THEME_ID}" class="themesActivate action-small-screen {THEME_ACTIVATE_DISABLED}"/>
                        <a title="{TXT_THEME_PREVIEW}" class="themePreview action-small-screen" href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" >{TXT_THEME_PREVIEW}</a>
                        <div class="action">
                            <a title="{TXT_EDIT}" class="themeEdit action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?{THEME_ACTION}">{TXT_EDIT}</a>
                            <a title="{TXT_COPY}" class="themeCopy action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&amp;act=newDir&amp;copy={THEME_FOLDER_NAME}" >{TXT_COPY}</a>
                            <a title="{TXT_THEME_EXPORT}" class="themeExport action-small-screen" href="?cmd=ViewManager&amp;act=settings&amp;tpl=manage&amp;export={THEME_ID}" >{TXT_THEME_EXPORT}</a>
                            <a title="{TXT_DELETE}"   href="javascript:void(0);"  class="themeDelete action-small-screen" onclick="return checkThemeExistsByThemeId({THEME_ID})">{TXT_DELETE}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf"></div>
            <!-- END themesPdf -->
            <div class="themeWrapper {THEME_TEMPLATEEDITOR} newthemeWrapper">
                <div  class="themesPreviewContainer addTheme">
                    <a href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=newDir" title="{TXT_THEME_ADD_NEW}">
                        <span class="table">
                            <span class="table-row">
                                <span class="table-td">
                                    <span class="add-icon">
                                        <img src="/core/ViewManager/View/Media/add_new.png" alt="Add new" />
                                    </span>
                                    <span class="add-icon addThemeText">
                                        {TXT_THEME_ADD_NEW}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ending pdf -->

    <!-- starting app -->
    <div id="tab-app" style="display: none;">
        <div class="themesOverview">
            <!-- BEGIN themesApp -->
            <div class="themeWrapper  {TXT_THEME_STANDARD_DISPLAY}">
                <div  class="themesPreviewContainer">
                    <div class="preview-image"><img src="{THEME_PREVIEW}" alt="preview" /></div>
                    <div class="preview-overlay">
                        <div class="themeDetail {TXT_THEME_STANDARD_DISPLAY}" >
                           {THEME_NAME}
                                <!-- BEGIN activatedLangCodeApp -->
                                <span class="theme-lang-code">{THEME_ACTIVATED_LANG_CODE}</span>
                                <!-- END activatedLangCodeApp -->
                        </div>
                    </div>
                    <div class="preview-overlay-small {TXT_THEME_STANDARD_DISPLAY}">
                        <span class="themeTitle">
                               {THEME_NAME}
                        </span>
                        <input type="submit" name="themesActivate" value="{TXT_THEME_ACTIVATE}"  data-themeId = "{THEME_ID}" class="themesActivate action-small-screen {THEME_ACTIVATE_DISABLED}"/>
                        <a title="{TXT_THEME_PREVIEW}" class="themePreview action-small-screen" href="{CONTREXX_BASE_URL}index.php?preview={THEME_ID}" target="_blank" >{TXT_THEME_PREVIEW}</a>
                        <div class="action">
                            <a title="{TXT_EDIT}" class="themeEdit action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?{THEME_ACTION}">{TXT_EDIT}</a>
                            <a title="{TXT_COPY}" class="themeCopy action-small-screen" href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&amp;act=newDir&amp;copy={THEME_FOLDER_NAME}" >{TXT_COPY}</a>
                            <a title="{TXT_THEME_EXPORT}" class="themeExport action-small-screen" href="?cmd=ViewManager&amp;act=settings&amp;tpl=manage&amp;export={THEME_ID}" >{TXT_THEME_EXPORT}</a>
                            <a title="{TXT_DELETE}"   href="javascript:void(0);"  class="themeDelete action-small-screen" onclick="return checkThemeExistsByThemeId({THEME_ID})">{TXT_DELETE}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf"></div>
            <!-- END themesApp -->
            <div class="themeWrapper {THEME_TEMPLATEEDITOR} newthemeWrapper">
                <div  class="themesPreviewContainer addTheme">
                    <a href="{CONTREXX_BACKEND_URL_LINK}index.php?cmd=ViewManager&act=newDir" title="{TXT_THEME_ADD_NEW}">
                        <span class="table">
                            <span class="table-row">
                                <span class="table-td">
                                    <span class="add-icon">
                                        <img src="/core/ViewManager/View/Media/add_new.png" alt="Add new" />
                                    </span>
                                    <span class="add-icon addThemeText">
                                        {TXT_THEME_ADD_NEW}
                                    </span>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ending app -->

</div>



<div class="activateThemeContainer" style="display: none;">
    <form id="activateThemeForm">
        <input type="hidden" value="" name="themeType" id="selectedTab" />
        <input type="hidden" value="" name="themeId" id="multipleFormThemeId" />
        <label>{TXT_THEME_ACTIVATION_LABEL}</label>
        <div class="active_language_checkbox_container"></div>
    </form>
</div>

<div id="delete_dialog" title="{TXT_THEME_DELETE_DIALOG_TITLE}">
    <div class="deleteThemeContainer">

    </div>
</div>
