/**
 * This file is loaded by the abstract SystemComponentBackendController
 * You may add own CSS files using
 * \JS::registerCSS(substr($this->getDirectory(false, true) . '/View/Style/FileName.css', 1));
 * or remove this file if you don't need it
 */
.info_background {
    display: block;
    text-align: center;
    color: white;
    background-color: var(--blue);
}

.warning_background {
    display: block;
    text-align: center;
    background-color: var(--orange);
}

.fatal_background {
    display: block;
    text-align: center;
    color: white;
    background-color: red;
}
