<div id="cookie-note" class="left">
    <div id="cookie-note-title">
        <img src="/core_modules/Privacy/View/Media/ShieldHalvedSolid.png" src="Privacy note" />
        <h3>{TXT_PRIVACY_COOKIE_NOTE_TITLE}</h3>
    </div>
    <div id="cookie-note-content">
        <p>
            {TXT_PRIVACY_COOKIE_NOTE_TEXT_2022}
            {TXT_PRIVACY_COOKIE_NOTE_PRE_LINK_2022}
            <a href="[[NODE_PRIVACY]]">{TXT_PRIVACY_COOKIE_NOTE_LINK_2022}</a>
            {TXT_PRIVACY_COOKIE_NOTE_POST_LINK_2022}
        </p>
        <button type="button" id="cookie-note-2022-details">{TXT_PRIVACY_COOKIE_NOTE_BUTTON_SETTINGS}</button>
        <button type="button" class="active" id="cookie-note-2022-nok">{TXT_PRIVACY_COOKIE_NOTE_BUTTON_NOK}</button>
        <button type="button" class="active" id="cookie-note-2022-ok">{TXT_PRIVACY_COOKIE_NOTE_BUTTON_OK}</button>
        <div id="cookie-settings-popup" class="hidden">
            <div class="cookie-class spacer"></div>
            <!-- BEGIN cookie_category -->
            <div class="cookie-class">
                <span class="cookie-class-title">{COOKIE_CATEGORY_NAME}</span>
                <span class="cookie-class-description">{COOKIE_CATEGORY_DESCRIPTION}</span>
                <label class="switch">
                    <input type="checkbox" data-category-id="{COOKIE_CATEGORY_ID}">
                    <span class="slider round"></span>
                </label>
                <a href="#" class="cookie-class-detail-link">{TXT_PRIVACY_COOKIE_NOTE_SHOW_DETAILS}</a>
                <div class="cookie-class-list hidden">
                    <!-- BEGIN cookie -->
                    <div class="cookie-class-list-cookie">
                        <!-- BEGIN cookie_disableable -->
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_ACCEPT}</span><span class="cookie-class-list-cookie-title">
                            <label class="switch">
                                <input type="checkbox" data-cookie-id="{COOKIE_ID}">
                                <span class="slider round"></span>
                            </label>
                        </span>
                        <!-- END cookie_disableable -->
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_NAME}</span><span class="cookie-class-list-cookie-title">{COOKIE_NAME}</span>
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_USE}</span><span class="cookie-class-list-cookie-description">{COOKIE_DESCRIPTION}</span>
                        <!-- BEGIN cookie_names -->
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_COOKIE_NAMES}</span><span class="cookie-class-list-cookie-name">{COOKIE_COOKIE_NAMES}</span>
                        <!-- END cookie_names -->
                        <!-- BEGIN cookie_host -->
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_COOKIE_HOST}</span><span class="cookie-class-list-cookie-name">{COOKIE_HOST}</span>
                        <!-- END cookie_host -->
                        <!-- BEGIN cookie_privacystatement -->
                        <span class="cookie-class-list-cookie-label">{TXT_PRIVACY_COOKIE_NOTE_PRIVACY_STATEMENT}</span><span class="cookie-class-list-cookie-name"><a href="{COOKIE_PRIVACY_STATEMENT_URL}" target="_blank">{COOKIE_PRIVACY_STATEMENT_URL}</a></span>
                        <!-- END cookie_privacystatement -->
                    </div>
                    <!-- END cookie -->
                </div>
            </div>
            <!-- END cookie_category -->
            <button type="button" class="active" id="cookie-note-2022-save">{TXT_PRIVACY_COOKIE_NOTE_CLOSE}</button>
        </div>
    </div>
</div>

