<!-- START upload_images.html -->
<div class="okbox">{TXT_ENABLED_IMAGE_TYPE}</div><br/>
<table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr>
        <th colspan="2">
            <div align="left">{TXT_TITLE}</div>
        </th>
    </tr>
</table><br/>
<div class="okbox">
    {TXT_GALLERY_UPLOAD_HELP}
</div>
<!--<input id="exposedComboUploaderStarter" name="exposedComboUploaderStarter" type="button" value="{TXT_BUTTON_SUBMIT}" />-->
<div>
    {COMBO_UPLOADER_CODE}
</div>
<h3>{TXT_GALLERY_UPLOAD_IMAGES}</h3>
<div class="imagesContainer">
    <!-- BEGIN uploadedImages -->
    {GALLERY_UPLOADED_IMAGE}
    <!-- END uploadedImages -->
</div>
<br/>
<a href="index.php?cmd=Gallery&amp;act=validate_form&amp;type=all" class="button {GALLERY_ALREADY_UPLOADED_IMAGES}">{TXT_GALLERY_UPLOAD_CONFIRM_IMAGES}</a>
<script type="text/javascript">
    function finishedGalleryUpload(response) {
        if (response.length < 1) return;
        cx.jQuery('.confirmImages').show();
        var count = response.length-1;
        while (count >= 0) {
            var image = cx.jQuery(new Image());
            image.attr('src', response[count]);
            image.appendTo('.imagesContainer');
            setTimeout(
                    (function (image) {
                        return function () { // what to do when item is selected
                            image.addClass('galleryImageVisible');
                        }
                    }(image)), 100
            );
            count--;
        }
    }
</script>
<!-- END upload_images.html -->
