<!-- START gallery_category_details.html -->
<script language="JavaScript" type="text/javascript">
// <![CDATA[
    function resetPicture(picId) {
      if(confirm('{TXT_RESET_PICTURE}')) {
          window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=reset_picture&gid={CATEGORY_ID}&id="+picId);
      }
  }
  function deletePicture(picId) {
      if(confirm('{TXT_DELETE_PICTURE}')) {
          window.location.replace("?cmd=Gallery&{CSRF_PARAM}&act=delete_picture&gid={CATEGORY_ID}&id="+picId);
      }
  }
  function selectMultiAction()
  {
    with (document.frmShowImages)
    {
      switch (frmShowImages_MultiAction.value) {
        case 'activate':
          submit();
        break;
        case 'deactivate':
          submit();
        break;
        case 'reset':
          submit();
        break;
        case 'delete':
          if (confirm('{TXT_DELETE_PICTURE_ALL}')) {
            submit();
          }
        break;
        case 'move':
          if (frmShowImages_MultiAction_Move.disabled == true) {
            frmShowImages_MultiAction_Move.disabled = false;
          } else {
            if (frmShowImages_MultiAction_Move.value != '' &&
              frmShowImages_MultiAction_Move.value != 0) {
                submit();
              }
          }
        break;
        default: //do nothing

      }
    }
  }
  function openWindow(theURL,winName,features) {
    window.open(theURL,winName,features);
  }
// ]]>
</script>
<form name="frmShowImages" method="post" action="?cmd=Gallery&amp;act=category_actions&amp;catid={CATEGORY_ID}">
  <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <tr>
        <th colspan="9">
          <div align="left"><b>{CATEGORY_NAME}</b></div>
        </th>
      </tr>
    <tr class="row3">
      <td nowrap="nowrap" width="60" colspan="2"><span style="font-weight:bold;">{TXT_TITLE_ORDER}</span></td>
      <td nowrap="nowrap" width="40"><span style="font-weight:bold;">&nbsp;</span></td>
      <td nowrap="nowrap" width="40"><span style="font-weight:bold;">&nbsp;</span></td>
      <td nowrap="nowrap" width="20%"><span style="font-weight:bold;">{TXT_TITLE_NAME}</span></td>
      <td nowrap="nowrap" width="25%"><span style="font-weight:bold;">{TXT_TITLE_ATTR}</span></td>
      <td nowrap="nowrap" width="25%"><span style="font-weight:bold;">{TXT_TITLE_OTHER}</span></td>
      <td nowrap="nowrap" width="20%"><span style="font-weight:bold;">{TXT_TITLE_CATEGORY}</span></td>
      <td nowrap="nowrap" width="10%"><div align="right"><span style="font-weight:bold;">{TXT_TITLE_ACTION}</span></div></td>
    </tr>
    <!-- BEGIN showImages -->
    <tr class="{IMAGES_ROWCLASS}">
      <td nowrap="nowrap" align="left" valign="top">
        <input type="checkbox" name="selectedImageId[]" value="{IMAGES_ID}" />
      </td>
      <td nowrap="nowrap" align="center" valign="top">
        <input type="text" name="sortingSystem{IMAGES_CATTYPE}{IMAGES_ID}" value="{IMAGES_SORTING}" maxlength="5" size="5" />
      </td>
      <td nowrap="nowrap" valign="top">
        <a href="?cmd=Gallery&amp;act=activate_picture&amp;gid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self"><img src="/core/Core/View/Media/icons/{IMAGES_ACTIVE_ICON}" border="0" alt="{TXT_ACTIVATE_PICTURE}" title="{TXT_ACTIVATE_PICTURE}" /></a>
      </td>
      <td nowrap="nowrap" valign="top">
        <a href="?cmd=Gallery&amp;act=category_picture&amp;gid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self"><img src="/core/Core/View/Media/icons/{IMAGES_CATIMG_ICON}" border="0" alt="{TXT_SET_CATIMG}" title="{TXT_SET_CATIMG}" /></a>
      </td>
      <td nowrap="nowrap" align="center" valign="middle">
        {IMAGES_NAME},&nbsp;{IMAGES_LASTEDIT}<br />
                <a rel="shadowbox[{CATEGORY_ID}];options={{SLIDE_SHOW_OPTION_VALUE}}" title="{IMAGES_TITLE_LINE_NAME}" description="{IMAGES_DESCRIPTION_SHADOWBOX}" href="{IMAGE_ORIG_PATH}"><img src="{IMAGES_THUMB_PATH}?{CLEAR_IMAGE_CATCH}" border="0" alt="{IMAGES_NAME}" title="{IMAGES_NAME}" /></a>
      </td>
      <td nowrap="nowrap" valign="top">
        {TXT_ORIG_CAPT}: {IMAGES_ORIG_RESO}, {IMAGES_ORIG_SIZE}kb<br />
        {TXT_THUMB_CAPT}: {IMAGES_THUMB_RESO}, {IMAGES_THUMB_SIZE}kb<br />
        {TXT_THUMB_QUALITY_CAPT}: {IMAGES_TYPE_METHOD} / {IMAGES_TYPE_SIZE}
      </td>
      <td nowrap="nowrap" valign="top">
        <a href="?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}&amp;active=comment" target="_self" title="{IMAGES_COMMENT_COUNT}">{IMAGES_COMMENT_COUNT}</a>
        <a href="?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}&amp;active=voting" target="_self" title="{IMAGES_VOTING_COUNT}{IMAGES_VOTING_AVERAGE}">{IMAGES_VOTING_COUNT}{IMAGES_VOTING_AVERAGE}</a>
      </td>
            <td nowrap="nowrap" valign="top">
                <select name="newCategory{IMAGES_ID}" {CAT_DROPDOWN_DISABLED} onchange="window.location='?cmd=Gallery&{CSRF_PARAM}&amp;act=change_category_picture&amp;id={IMAGES_ID}&amp;catid='+this.options[this.selectedIndex].value">
          <!-- BEGIN showCategories -->
          <option value="{CAT_DROPDOWN_VALUE}" {CAT_DROPDOWN_SELECTED}>{CAT_DROPDOWN_INDENT}{CAT_DROPDOWN_NAME}</option>
          <!-- END showCategories -->
        </select>
            </td>
      <td nowrap="nowrap" align="right" valign="top">
        <div align="right">
          {IMAGES_HIDE_LINKICON_S}
            <img src="/core/Core/View/Media/icons/link.gif" border="0" alt="Link" title="Link" />&nbsp;
          {IMAGES_HIDE_LINKICON_E}
          <a href="index.php?cmd=Gallery&amp;act=rotate_picture&amp;catid={CATEGORY_ID}&amp;id={IMAGES_ID}" target="_self"><img alt="{TXT_IMG_ROTATE_ALT}" title="{TXT_IMG_ROTATE_ALT}" src="/core/Core/View/Media/icons/rotate.gif" border="0" /></a>&nbsp;
          <a href="javascript:resetPicture({IMAGES_ID})" target="_self"><img alt="{TXT_IMG_RESET_ALT}" title="{TXT_IMG_RESET_ALT}" src="/core/Core/View/Media/icons/reset.png" border="0" /></a>&nbsp;
          <a href="index.php?cmd=Gallery&amp;act=edit_picture&amp;id={IMAGES_ID}" target="_self"><img alt="{TXT_IMG_EDIT_ALT}" title="{TXT_IMG_EDIT_ALT}" src="/core/Core/View/Media/icons/edit.gif" border="0" /></a>&nbsp;
          <a href="javascript:deletePicture({IMAGES_ID})" target="_self"><img alt="{TXT_IMG_DELETE_ALT}" title="{TXT_IMG_DELETE_ALT}" src="/core/Core/View/Media/icons/delete.gif" border="0" /></a>
          </div>
      </td>
    </tr>
    <!-- END showImages -->
  </table>
  <br /><input type="submit" name="sorting" value="{TXT_BUTTON_SAVESORT}" style="margin-left:35px;" />
  <table cellpadding="2" cellspacing="0" border="0">
    <tr>
      <td>
        <img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="{TXT_MARKED}:" />
        <a href="#" onclick="changeCheckboxes('frmShowImages','selectedImageId[]',true); return false;">{TXT_SELECT_ALL}</a> /
        <a href="#" onclick="changeCheckboxes('frmShowImages','selectedImageId[]',false); return false;">{TXT_DESELECT_ALL}</a>
        <img src="/core/Core/View/Media/icons/strike.gif" alt="" />
        <select name="frmShowImages_MultiAction" onchange="selectMultiAction();">
          <option value="0">{TXT_SUBMIT_SELECT}</option>
          <option value="delete">{TXT_SUBMIT_DELETE}</option>
          <option value="activate">{TXT_SUBMIT_ACTIVATE}</option>
          <option value="deactivate">{TXT_SUBMIT_DEACTIVATE}</option>
          <option value="reset">{TXT_SUBMIT_RESET}</option>
          <option value="move">{TXT_SUBMIT_MOVE}</option>
        </select>
        <select name="frmShowImages_MultiAction_Move" onchange="selectMultiAction();" disabled="disabled">
          <!-- BEGIN showCategoriesMultiAction -->
          <option value="{CAT_DROPDOWN_VALUE}" {CAT_DROPDOWN_SELECTED}>{CAT_DROPDOWN_INDENT}{CAT_DROPDOWN_NAME}</option>
          <!-- END showCategoriesMultiAction -->
        </select>
      </td>
    </tr>
  </table>
</form>
{GALLERY_PAGING}
<!-- END gallery_category_details.html -->
