
<script language="JavaScript" type="text/javascript">
<!-- //

function deleteProduct(ProductID)
{
  with (document.frmProducts) {
  if (confirm('{TXT_DELETE_PRODUCT}')) {
    action='index.php?cmd=Egov&act=products&delete=yes&id='+ProductID;
    submit();
  }
  }
}

function Position(ProductID, Direction){
  document.location.href = 'index.php?cmd=Egov&{CSRF_PARAM}&act=products&id='+ProductID+'&Direction='+Direction;
}
// -->
</script>

<form action="index.php?cmd=Egov&amp;act=product_edit" name="frmProducts" method="post">
  <table summary="" border="0" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
    <tbody>
      <tr>
        <th colspan="7">{TXT_PRODUCTS}</th>
      </tr>
      <tr class="row3" style="white-space:nowrap;">
        <td width="3%"><b>ID</b></td>
        <td width="3%"><b>Status</b></td>
        <td width="5%"><b>{TXT_EGOV_SEQUENCE}</b></td>
        <td width="35%"><b>{TXT_PRODUCT}</b></td>
        <td width="25%"><b>{TXT_ORDERS}</b></td>
        <td width="11%"><b>{TXT_EGOV_RESERVATIONS}</b></td>
        <td width="17%" style="text-align:right;"><b>{TXT_FUNCTIONS}</b></td>
      </tr>
      <!-- BEGIN products_list -->
      <tr class="{ROWCLASS}">
        <td>{PRODUCT_ID}</td>
        <td>{PRODUCT_STATUS}</td>
        <td>
          <a href="javascript:Position({PRODUCT_ID},'up');"><img src="/core/Core/View/Media/icons/up.gif" width="14" height="12" border="0" alt="{TXT_EGOV_UP}" title="{TXT_EGOV_UP}" /></a>
          <a href="javascript:Position({PRODUCT_ID},'down');"><img src="/core/Core/View/Media/icons/down.gif" width="14" height="12" border="0" alt="{TXT_EGOV_DOWN}" title="{TXT_EGOV_DOWN}" /></a>
        </td>
        <td><a href="index.php?cmd=Egov&amp;act=product_edit&amp;id={PRODUCT_ID}" title="{TXT_IMGALT_EDIT}">{PRODUCT_NAME}</a></td>
        <td>{ORDERS_VALUE}&nbsp;&nbsp;<a href="index.php?cmd=Egov&amp;product={PRODUCT_ID}">{TXT_EGOV_VIEW_ORDERS}</a></td>
        <td>{RESERVATIONS_VALUE}</td>

        <td style="text-align:right;" nowrap="nowrap">
          <a href="index.php?cmd=Egov&amp;act=detail&amp;id={PRODUCT_ID}"><img src="/core/Core/View/Media/icons/calendar_icon.png" border="0" alt="{TXT_EGOV_RESERVATION}" title="{TXT_EGOV_RESERVATION}" /></a>
          <a href="index.php?cmd=Egov&amp;act=product_copy&amp;id={PRODUCT_ID}"><img src="/core/Core/View/Media/icons/copy.gif" border="0" alt="{TXT_COPY}" title="{TXT_COPY}" /></a>
          <a href="index.php?cmd=Egov&amp;act=product_edit&amp;id={PRODUCT_ID}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{TXT_EDIT}" title="{TXT_EDIT}" /></a>
          <a href="javascript:deleteProduct({PRODUCT_ID});" title="{TXT_IMGALT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_DELETE}" title="{TXT_DELETE}" /></a>
        </td>
      </tr>
      <!-- END products_list -->
    </tbody>
  </table>
  <br />
  <input type="submit" value="{TXT_EGOV_ADD_NEW_PRODUCT}" />
</form>
