/**
 * This file is loaded by the abstract SystemComponentBackendController
 * You may add own CSS files using
 * \JS::registerCSS(substr($this->getDirectory(false, true) . '/View/Style/FileName.css', 1));
 * or remove this file if you don't need it
 */
#form-X-title, #imagePath, #form-X-description, #form-X-htmlContent {width: 500px;}
#form-X-description {height: 50px;}
#editor-htmlContent {height: 300px;width: 100%;}
#toolbarModifierWrapper {
    margin: 0;
}
#toolbarModifierWrapper .toolbar,
body .staticContainer .inner .toolbar,
div.toolbarModifier ul[data-type="table-header"] > li[data-type="header"] > p,
div.toolbarModifier ul[data-type="table-header"] > li[data-type="header"] > ul li > p,
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > p,
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > ul > li[data-type="subgroup"] > p > span > button.move,
div.toolbarModifier ul[data-type="table-body"] > li[data-type="separator"] {
    display: none;
}
div.toolbarModifier ul[data-type="table-header"] > li[data-type="header"] > ul > li > p:last-child {
    font-size: 16px;
    padding: 10px 0 5px 5px;
}
#toolbarModifierWrapper  div.toolbarModifier > ul > li > ul,
div.toolbarModifier > ul > li > ul,
div.toolbarModifier > ul > li,
div.toolbarModifier > ul[data-type="table-body"],
div.toolbarModifier {
    display: block;
}
div.toolbarModifier > ul[data-type="table-body"] {
    border: 0;
}
div.toolbarModifier > ul > li > ul {
    margin: 0;
}
.editorfunctions .content {
    padding: 0;
}
div.toolbarModifier > ul,
div.toolbarModifier > ul > li[data-type="group"],
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > ul > li[data-type="subgroup"] {
    border-color: var(--lightgray);
}
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > ul > li[data-type="subgroup"] > p {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > ul > li[data-type="subgroup"] > ul > li > label > a {
    height: 14px;
}
div.toolbarModifier ul[data-type="table-body"] > li[data-type="group"] > ul > li[data-type="subgroup"] > ul > li > label > a > span {
    margin-top: -1px;
}
div.toolbarModifier span.cke_combo_text {
    line-height: 17px;
}
div.toolbarModifier span.cke_combo_arrow {
    margin-top: 7px;
}
div.toolbarModifier > ul > li[data-type="group"]:hover,
div.toolbarModifier > ul > li[data-type="separator"]:hover {
    background: none;
}
.row-1.editorfunctions td {
    padding: 0;
    border-bottom: 0;
}
.row3.wysiwyg-title-txt {
    display: none;
}
div#cke_editor-basic {
    border: 0;
}
