<!-- BEGIN overview -->
<h1 style="float: none;">{TXT_CORE_MODULE_PRIVACY_OVERVIEW_TITLE}</h1>
<p>{TXT_CORE_MODULE_PRIVACY_OVERVIEW_TEXT1}</p>
<p>{TXT_CORE_MODULE_PRIVACY_OVERVIEW_TEXT2}</p>
<!-- END overview -->
<!-- BEGIN entity_view -->
{ENTITY_VIEW}
<!-- END entity_view -->
<!-- BEGIN mailing -->
{MAILING}
<!-- END mailing -->
