        <section id="mainnav">
            <nav>
                {NAVIGATION_OUTPUT}
            </nav>
            <footer>
                <a href="https://www.cloudrexx.com" target="_blank">
                    &copy; {DATE_YEAR} Cloudrexx AG, Switzerland
                </a>
            </footer>
        </section>
        <section id="content">
            {CONTENT_OUTPUT}
        </section>

