<!-- START module_calendar_modify_registration.html -->
<style type="text/css">
    .calendarRequired {
        color: red;
    }
</style>
<form action="index.php?cmd={CALENDAR_MODULE_NAME}&act=modify_registration&event_id={CALENDAR_EVENT_ID}&amp;rid={CALENDAR_REGISTRATION_ID}&{CALENDAR_CSRF}" id="formModifyRegistration" name="formModifyRegistration" method="post">
    <input type="hidden" name="regid" value="{CALENDAR_REGISTRATION_ID}" />
    <input type="hidden" name="regtpl" value="{CALENDAR_REGISTRATION_TPL}" />
    <input type="hidden" name="type" value="{CALENDAR_REGISTRATION_TYPE}" />
    <input type="hidden" name="id" value="{CALENDAR_EVENT_ID}" />
    <input type="hidden" name="form" value="{CALENDAR_FORM_ID}" />
    <input type="hidden" name="date" value="{CALENDAR_EVENT_DATE}" />
    <input type="hidden" name="userid" value="{CALENDAR_USER_ID}" />

    <table cellspacing="0" cellpadding="3" width="100%" border="0" class="adminlist">
        <tr>
            <th colspan="2">{TXT_CALENDAR_REGISTRATION_TITLE}</th>
        </tr>
        <!-- BEGIN calendar_registration_inputfield -->
        <tr class="{CALENDAR_ROW}">
            <td width="180px" valign="top">{CALENDAR_REGISTRATION_INPUTFIELD_NAME} {CALENDAR_REGISTRATION_INPUTFIELD_REQUIRED}</td>
            <td>{CALENDAR_REGISTRATION_INPUTFIELD_VALUE}</td>
        </tr>
        <!-- END calendar_registration_inputfield -->
        <!-- BEGIN calendarRegistrationPayment -->
        <tr>
            <td width="180px">{TXT_CALENDAR_PAYMENT_METHOD}</td>
            <td>{CALENDAR_PAYMENT_METHODS} <label> {TXT_CALENDAR_PAID} <input type="checkbox" name="paid" value="1" {CALENDAR_PAID}></label></td>
        </tr>
        <!-- END calendarRegistrationPayment -->
        <tr>
            <td>
                <label for="sendMailConfirm">{TXT_CALENDAR_SEND_MAIL_CONFIRM}</label>
                <span class="icon-info tooltip-trigger"></span>
                <span class="tooltip-message">{CALENDAR_SEND_MAIL_CONFIRM_TOOLTIP}</span>
            </td>
            <td>
                <input type="checkbox" value="1" name="sendMailConfirm" id="sendMailConfirm" checked="checked" />
            </td>
        </tr>
    </table>
    <br />
    <input type="button" onClick="window.history.back();" value="{TXT_CALENDAR_BACK}" /> &nbsp;&nbsp;
    <input type="submit" name="submitModifyRegistration"  value="{TXT_CALENDAR_SAVE}" />
</form>
<!-- END module_calendar_modify_registration.html -->
