<div id="access">
    <div class="search">
        <form role="form" action="index.php?section=Access&amp;cmd=members" method="post">
            <input class="searchbox" name="search" type="text" value="{ACCESS_SEARCH_VALUE}" />
            <input class="btn btn-default" name="access_submit_search" type="submit" value="Suchen" />&nbsp;
        </form>
    </div>
    <div class="letter_index">
        <!-- BEGIN access_user_letter_index_list -->
        <a href="{ACCESS_USER_LETTER_INDEX_URI}" style="white-space: nowrap;">[ {ACCESS_USER_LETTER_INDEX_LETTER} ]</a>
        <!-- END access_user_letter_index_list -->
    </div>
    <!-- BEGIN access_members -->
    <div class="member_list table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="4" style="width: 100%;">Suchergebnisse</th>
                </tr>
                <!-- BEGIN access_user -->
                <tr class="row{ACCESS_USER_CLASS}">
                    <td style="vertical-align: middle; width: 1%;">
                        <a href="index.php?section=Access&amp;cmd=user&amp;id={ACCESS_USER_ID}" title="{ACCESS_USER_USERNAME}">
                            <img class="img-thumbnail" alt="" class="member_{ACCESS_PROFILE_ATTRIBUTE_GENDER_VALUE}" src="{ACCESS_PROFILE_ATTRIBUTE_PICTURE_THUMBNAIL_SRC}" />
                        </a>
                    </td>
                    <td style="color: #AFAFAF; vertical-align: top; width: 18%;">Benutzername<br />
                        Herkunft<br />
                        Geschlecht</td>
                    <td style="vertical-align: top; width: 61%;"><b>{ACCESS_USER_USERNAME}</b><br />
                        <!-- BEGIN access_profile_attribute_contry -->
                        {ACCESS_PROFILE_ATTRIBUTE_COUNTRY}&nbsp;
                        <!-- END access_profile_attribute_contry -->
                        <!-- BEGIN access_profile_attribute_city -->
                        {ACCESS_PROFILE_ATTRIBUTE_CITY}&nbsp;
                        <!-- END access_profile_attribute_city -->
                        <!-- BEGIN access_profile_attribute_gender --><br />
                        <img alt="{ACCESS_PROFILE_ATTRIBUTE_GENDER}" border="0" src="images/content/icons/{ACCESS_PROFILE_ATTRIBUTE_GENDER_VALUE}.gif" style="padding-top: 2px;" title="{ACCESS_PROFILE_ATTRIBUTE_GENDER}" />
                        <!-- END access_profile_attribute_gender -->
                    </td>
                    <td style="white-space: nowrap; vertical-align: top; width: 20%;">
                        <a href="index.php?section=Access&amp;cmd=user&amp;id={ACCESS_USER_ID}" title="{ACCESS_USER_USERNAME}">Profil anzeigen</a><br />
                    </td>
                </tr>
                <!-- END access_user -->
            </tbody>
        </table>
    </div>
    <div class="paging">{ACCESS_USER_PAGING}</div>
    <!-- END access_members --></div>
