<!-- START module_knowledge_articles.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=Knowledge&amp;act=articles" title="{TXT_OVERVIEW}" {ACTIVE_OVERVIEW}>{TXT_OVERVIEW}</a></li>
        <li><a href="index.php?cmd=Knowledge&amp;act=articles&amp;tpl=add" title="{TXT_ADD}" {ACTIVE_ADD}>{TXT_ADD}</a></li>
    </ul>
</div>
{ARTICLES_FILE}
<!-- END module_knowledge_articles.html -->
