<!-- START module_knowledge_categories.html -->

<div id="subnavbar_level2">
<ul>
    <li><a href="index.php?cmd=Knowledge&amp;act=categories" title="{TXT_OVERVIEW}" {ACTIVE_OVERVIEW}>{TXT_OVERVIEW}</a></li>
    <li><a href="index.php?cmd=Knowledge&amp;act=categories&amp;tpl=add" title="{TXT_ADD}" {ACTIVE_ADD}>{TXT_ADD}</a></li>
</ul>
</div>

{CATEGORIES_FILE}

<!-- END module_knowledge_categories.html -->
