<!-- BEGIN content -->
<script type="text/javascript">
/* <![CDATA[ */
var hoverIn = function(obj) {
    if (navigator.appName.indexOf("Explorer") == -1) {
        obj.style.background = '#ffffcc';
    }
}

var hoverOut = function(obj) {
    if (navigator.appName.indexOf("Explorer") == -1) {
        obj.style.background = 'transparent';
    }
}

if (navigator.appName.indexOf("Explorer") == -1) {
    $('not_ie').style.width = "100%";
}

/* ]]> */
</script>
<div style="width: 100%; min-height: 1%; height: 1%; float:left; " id="not_ie">
    <table style="width: 100%; font-weight: bold;" class="adminlist" cellspacing="0" cellpadding="3">
        <tr>
            <th colspan="6">
                <div >{TXT_CATEGORY_NAME}</div>
            </th>
        </tr>
        <tr class="row3">
            <td style="width: 75px;">{TXT_SORT}</td>
            <td style="width: 50px;">{TXT_STATE}</td>
            <td>{TXT_QUESTION}</td>
            <td style="width: 50px;">{TXT_HITS}</td>
            <td style="width: 120px;">{TXT_RATING}</td>
            <td style="width: 50px;">{TXT_ACTIONS}</td>
        </tr>
    </table>
    <div>
        <ul id="articlelist">
        <!-- BEGIN row -->
            <li id="article_{ARTICLEID}" style=" z-index: 1000;">
                <table style="width: 100%">
                <tr>
                    <td class="drag_handle" style="width: 75px;" onmousedown="lastDragged={ARTICLEID}; handlerEvent();">
                        <img src="/modules/Knowledge/View/Media/sort.gif" style="boder: none;" />
                    </td>
                    <td style="width: 50px;">
                        <a href="javascript: void(0);" onclick="switchActive({ARTICLEID}, this, {ACTIVE_STATE})">
                           <img src="/core/Core/View/Media/icons/led_{CATEGORY_ACTIVE_LED}.gif"  alt="switch active state" style="border: none;" />
                        </a>
                    </td>
                    <td style="padding-right: 15px; vertical-align: top;">
                        <a class="article-edit-link" href="index.php?cmd=Knowledge&amp;act=articles&amp;tpl=edit&amp;id={ARTICLEID}"
                            onmouseover="hoverIn(this)" onmouseout="hoverOut(this)" style="cursor: pointer; color: #000099;">{QUESTION}</span>
                    </td>
                    <td style="width: 50px; vertical-align: top;">
                        {HITS}
                    </td>
                    <td style="width: 120px; vertical-align: top;">
                    {VOTEVALUE} {TXT_BY} {VOTECOUNT} {TXT_VOTINGS}
                    <!--!
                       <div id="rating{ARTICLEID}"> </div>
                        <script type="text/javascript">
                            /* <![CDATA[ */

                            var rating{ARTICLEID} = new Rating({ARTICLEID}, {VOTEVALUE}, {
                                stars : {MAX_RATING},
                                locked : true,
                                starPath : '/modules/Knowledge/View/Media/'
                            });

                            /* ]]> */
                        </script> -->
                    </td>
                    <td style="width: 50px; text-align: right;">
                        <a class="article-edit-link" href="index.php?cmd=Knowledge&amp;act=articles&amp;tpl=edit&amp;id={ARTICLEID}" title="{TXT_IMGALT_EDIT}">
                            <img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{TXT_IMGALT_EDIT}" title="{TXT_IMGALT_EDIT}" />
                        </a>

                        <a href="javascript:deleteArticle({ARTICLEID});" title="{TXT_DELETE_CATEGORY}">
                           <img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_DELETE_CATEGORY}" title="{TXT_DELETE_CATEGORY}" />
                        </a>
                    </td>
                </tr>
            </table>
            </li>
            <!-- END row -->

            <!-- BEGIN no_articles -->
            <li>
                {TXT_NO_ARTICLES}
            </li>
            <!-- END no_articles -->
        </ul>
    </div>
    <br />
    <br />
    {PAGING}
</div>

<!-- BEGIN jsinit -->
<!-- parsed only when neede because the content is not given through ajax -->

<script type="text/javascript">
/* <![CDATA[  */
setRows();
//initSortableArea();

/* ]]> */
</script>

 <!-- END jsinit -->
<br style="clear: both;"/>

<!-- END content -->

<!-- END module_knowledge_articles_overview_articlelist.html -->
