<!-- START module_knowledge_settings_top.html -->
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd=Knowledge&amp;act=settings" title="{TXT_SETTINGS}" {ACTIVE_SETTINGS}>{TXT_SETTINGS}</a></li>
        <li><a href="index.php?cmd=Knowledge&amp;act=settings&amp;tpl=placeholders" title="{TXT_PLACEHOLDER}" {ACTIVE_PLACEHOLDERS}>{TXT_PLACEHOLDER}</a></li>
    </ul>
</div>

{SETTINGS_FILE}

<!-- END module_knowledge_settings_top.html -->
