<script type="text/javascript">
  $J(function () {
    $J('.changestatus').click(function (e) {
      var $elm = $J(this);
      url = $elm.attr("href");
      $J.get(url, function (data) {
        image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
        $elm.find('img').attr('src', '/core/Core/View/Media/icons/' + image);
        fadeOkbox('{TXT_CRM_CHANGE_STATUS}');
      });
      e.preventDefault();
    });

    $J("#multiAction").change(function () {
      if ($J(".entrySelection:checked").length <= 0 && $J(this).val() != 0) {
        alert('{TXT_CRM_NOTHING_SELECTED}');
        return
      }
      if ($J(this).val() == "delete") {
        if (confirm('{TXT_CRM_ARE_YOU_SURE_DELETE_SELECTED_ENTRIES}'))
          $J("#entries").submit();
        else
          return;

      }
      if ($J(this).val() != 0)
        $J("#entries").submit();
    });

    $J(".deleteEntry").click(function () {
      $elm = $J(this);
      en_id = $J(this).attr('rel').split('_')[1];
      if (confirm("{TXT_CRM_ARE_YOU_SURE_DELETE_ENTRIES}")) {
        $J.ajax({
          url: './index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize&actionType=delete&ajax=1&id=' + en_id,
          type: 'POST',
          success: function (data) {
            $elm.closest("tr").remove();
            setTableRow("entryList");
            fadeOkbox('{TXT_CRM_ENTRY_DELETED_SUCCESS}');
          }
        });
      }
    });

$J("#company_size").submit(function() {
      $J("#companySize").css("border", "1px solid #0A50A1");
      if ($J.trim($J("#companySize").val()) == "") {
        $J("#companySize").css('border', '1px solid red');
        $J('#alertbox').html('{TXT_CRM_MANDATORY_FIELDS_NOT_FILLED_OUT}');
        $J('#alertbox').css('display', 'block');
        return false;
      } else {
        return true;
      }
    });
});

function fadeOkbox(msg) {
      $J('.okBox-new').html(msg);
      $J('.okBox-new').fadeIn('slow');
      setTimeout(function () {
        $J('.okBox-new').fadeOut('slow');
      }, 6000);
    }
</script>

<div class="okBox-new" style="display:none;"></div>
<div id="alertbox" style="display:none;"></div>

<ul id="tabmenu">
  <li>
    <a id="Entries_ShowCompanySize" class="active" href="javascript:void(0);" onclick="selectTab('ShowCompanySize')" title="{TXT_CRM_COMPANY_SIZE}">{TXT_CRM_COMPANY_SIZE}</a>
  </li>
  <li>
    <a id="Entries_AddCompanySize" class="inactive" href="javascript:void(0);" onclick="selectTab('AddCompanySize')" title="{TXT_CRM_ADD_COMPANY_SIZE}">{TXT_CRM_ADD_COMPANY_SIZE}</a>
  </li>
</ul>

<!--Tab 1-->
<div id="ShowCompanySize" class="Entries">
  <form id="entries" name="entries" action="" method="post">
    <table id="entryList" cellpadding="3" cellspacing="0" width="100%" class="adminlist">
      <thead>
        <tr>
          <th colspan="6">{TXT_CRM_COMPANY_SIZE}</th>
        </tr>
        <tr class="row3">
          <td width="3%">&nbsp;&nbsp;<strong>#</strong></td>
          <td width="5%"><strong>{TXT_STATUS}</strong></td>
          <td width="5%"><strong>{TXT_CRM_SORTING}</strong></td>
          <td width="17%"><strong>{TXT_CRM_COMPANY_SIZE}</strong></td>
          <td width="70%"><strong>{TXT_CRM_NUMBER_OF_COMPANIES}</strong></td>
          <td width="10%" style="text-align: right;"><strong>{TXT_CRM_FUNCTIONS}</strong></td>
        </tr>
      </thead>
      <tbody>
        <!-- BEGIN showCompanySizeOverview -->
        <tr class="{CRM_ROW_CLASS}">
          <td>
            <input type="checkbox" name="companySizeEntry[]" class="entrySelection" value="{CRM_COMPANY_SIZE_ID}" />
          </td>
          <td>
            <a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=companySize&actionType=changestatus&id={CRM_COMPANY_SIZE_ID}" class="changestatus" ><img src="{CRM_COMPANY_SIZE_STATUS}" /></a>
          </td>
          <td>
            &nbsp;&nbsp;<input style="width:25px; text-align:right;" type="text" name="sorting[{CRM_COMPANY_SIZE_ID}]" value="{CRM_COMPANY_SIZE_SORTING}" />
          </td>
          <td>
            {CRM_COMPANY_SIZE}
          </td>
          <td>
            {CRM_NUMBER_OF_COMPANIES}
          </td>
          <td style="text-align: right;">
            <div align="right">
              <a title="{TXT_CRM_IMAGE_EDIT}" class="edit-company-size" target="_self"  href="index.php?cmd={MODULE_NAME}&act=settings&tpl=companySize&subTpl=modifyCompanySize&id={CRM_COMPANY_SIZE_ID}" ><img border="0" title="{TXT_CRM_IMAGE_EDIT}" alt="{TXT_CRM_IMAGE_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
              <a href="javascript:void(0);" rel="entry_{CRM_COMPANY_SIZE_ID}_delete" class="deleteEntry" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
            </div>
          </td>
        </tr>
        <!-- END showCompanySizeOverview -->
      </tbody>
    </table>
    <br>
    <img height="22" border="0" width="38" src="/core/Core/View/Media/icons/arrow.gif" alt=":" />
    <a href="#" onclick="changeCheckboxes('entries', 'companySizeEntry[]', true);
        return false;">{TXT_CRM_SELECT_ALL}</a> / <a href="#" onclick="changeCheckboxes('entries', 'companySizeEntry[]', false);
            return false;">{TXT_CRM_REMOVE_SELECTION}</a>
    <select name="actionType" id="multiAction">
      <option value="0">{TXT_CRM_SELECT_ACTION}</option>
      <option value="activate">{TXT_CRM_ACTIVATESELECTED}</option>
      <option value="deactivate">{TXT_CRM_DEACTIVATESELECTED}</option>
      <option value="delete">{TXT_CRM_DELETE_SELECTED}</option>
    </select><br><br>
    <input type="submit" name="save_entries" value="{TXT_CRM_SAVE}" />
  </form>
</div>

<!--Tab 2-->
<div id="AddCompanySize" class="Entries" style="display: none;">
  <form id="company_size" method="post" action="">
    <table cellspacing="0" cellpadding="3" width="100%" class="adminlist">
      <tbody>
        <tr>
          <th colspan="5">{TXT_CRM_ADD_COMPANY_SIZE}</th>
        </tr>

        <tr class="row1">
          <td valign="top" width="13%">{TXT_CRM_COMPANY_SIZE}&nbsp;<font color="red">*</font></td>
          <td width="87%"><input type="textbox" id="companySize" name="companySize"  value="{CRM_SETTINGS_COMPANY_SIZE}"/></td>
        </tr>

        <tr class="row2">
          <td>{TXT_CRM_SORTING_NUMBER}&nbsp;</td>
          <td><input type="text" name="sorting"  id="sortingNumber" value="{CRM_SETTINGS_COMPANY_SIZE_SORTING}"></td>
        </tr>

        <tr class="row1">
          <td>{TXT_CRM_TITLEACTIVE}</td>
          <td><input type="checkbox" name="status" value="{CRM_COMPANY_SIZE_STATUS_CHECKED}" checked></td>
        </tr>

      </tbody>
    </table>
    <br>
    <input type="submit" name="save" value="{TXT_CRM_SAVE}" />
  </form>
</div>
