<style type="text/css">
    #ajaxMessageDiv {
        width: 100px;position:fixed;left: 45%;background-color: #ccc;padding: 10px;font-size: 14px;top: 0;
    }
    #ajaxMessageDiv:hover{
        background-color: #D0D0A8;
    }
</style>
<script type="text/javascript">
    function setTableRow(tableId) {
        count = 0;
        $J('table#'+tableId+' tbody tr:visible').each(function(){
            $J(this).removeClass("row1 row2");
            rowClass = (count%2 == 0) ? "row1" : "row2";
            $J(this).addClass(rowClass);
            count++;
        });
    }
    $J(function(){
        function setTableRow(tableId) {
            count = 0;
            $J('table#'+tableId+' tbody tr:visible').each(function(){
                $J(this).removeClass("row1 row2");
                rowClass = (count%2 == 0) ? "row1" : "row2";
                $J(this).addClass(rowClass);
                count++;
            });
        }
        $J('#term').data('holder',$J('#term').attr('placeholder'));

        $J('#term').focusin(function(){
            $J(this).attr('placeholder','');
        });
        $J('#term').focusout(function(){
            $J(this).attr('placeholder',$J(this).data('holder'));
        });
        $J("#multiAction").change(function(){

            if ($J(".entrySelection:checked").length <= 0 && $J(this).val() != 0) {
                alert('{TXT_SELECT_ENTRIES}');
                return
            }
            if ($J(this).val() == "delete") {
                if(confirm('{TXT_CRM_CONFIRM_DELETE_ENTRY}'))
                    $J("#dealsOverview").submit();
                else
                    return;

            }
            if ($J(this).val() != 0)
                $J("#dealsOverview").submit();
        });
        $J(".deleteEntry").click(function(){
            $elm  = $J(this);
            en_id = $J(this).attr('rel').split('_')[1]
            if (confirm ("{TXT_CRM_CONFIRM_DELETE_ENTRY}")) {
                $J.ajax({
                    url     : './index.php?cmd={MODULE_NAME}&act=deals&actionType=deletedeals&ajax=1&id='+en_id,
                    type    : 'POST',
                    success : function(msg){
                        $elm.closest("tr").remove();
                        setTableRow("entryList");
                        fadeOkbox('{TXT_CRM_ENTRY_DELETED_SUCCESS}');
                    }
                });
            }
        });
    });
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function getOkBox(mes) {
        return '<div class="okBox-new okbox">' + mes + '</div>';
    }
    function fadeOkbox(msg) {
        $J('.okBox-new').remove();
        $J('table#subnavbar_level1').after(getOkBox(msg));
        setTimeout(function () {
            $J('.okBox-new').fadeOut('slow');
        }, 6000);
    }
</script>
<div id="subnavbar_level2">
    <ul>
        <li><a title="{TXT_CRM_DEALS_OVERVIEW}"  href="index.php?cmd={MODULE_NAME}&amp;act=deals" >
                {TXT_CRM_DEALS_OVERVIEW}</a></li>
        <li><a title="{TXT_CRM_DEALS_CREATE}"  href="index.php?cmd={MODULE_NAME}&amp;act=deals&tpl=manage" >
                {TXT_CRM_DEALS_CREATE}</a></li>
    </ul>
</div>
<div id="deals">
    <br />
    <form action="" name="search-opportunity" id="search-opportunity">
        <input type="hidden" name="cmd" value="Crm">
        <input type="hidden" name="act" value="deals">
        <table class="adminlist" cellpadding="3" cellspacing="0" width="100%">
            <tr>
                <th>{TXT_CRM_FILTERS}</th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="{TXT_CRM_ENTER_SEARCH_TERM}" name="term" id="term" value="{CRM_DEALS_SEARCH_TERM}" style="width: 300px;"/>
                    &nbsp;<input type="submit" value="{TXT_CRM_SEARCH}" />
                </td>
            </tr>
        </table>
    </form>
    <br>
    <div align="right" style="float: right;">{ENTRIES_PAGING}</div>
    <form action="" method="post" name="dealsOverview" id="dealsOverview">
        <table class="adminlist" id="entryList" width="100%" cellspacing="0" cellpadding="3" >
            <thead>
                <tr>
                    <th colspan="8">{TXT_CRM_DEALS_OVERVIEW}</th>
                </tr>
                <tr class="row3">
                    <td width="3%">&nbsp;&nbsp;<strong>#</strong></td>
                    <td width="20%"><strong><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_NAME_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_TITLE}</a></strong></td>
                    <td width="20%"><strong>{TXT_CRM_DEALS_PERCENTAGE}</strong></td>
                    <td width="10%"><strong><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_PRICE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_QUOTED_PRICE}</a></strong></td>
                    <td width="20%"><strong><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_CUSTOMER_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_CUSTOMER_NAME}</a></strong></td>
                    <td width="10%"><strong><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_RESPONSIBLE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_RESPONSIBLE}</a></strong></td>
                    <td width="5%"><strong><a title="sort" href="?cmd={MODULE_NAME}&act=deals{CRM_DUE_DATE_SORT}{CRM_SEARCH_LINK}">{TXT_CRM_DEALS_DUE_DATE}</a></strong></td>
                    <td width="10%" style="text-align: right;"><strong>{TXT_CRM_FUNCTIONS}</strong></td>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN dealsNoRecords -->
                <tr>
                    <td colspan="8">{TXT_NO_RECORDS_FOUND}</td>
                </tr>
                <!-- END dealsNoRecords -->
                <!-- BEGIN dealsEntries -->
                <tr class="{ROW_CLASS}" id="entry_{ENTRY_ID}">
                    <td><input type="checkbox" name="dealsEntry[]" class="entrySelection" value="{ENTRY_ID}" /></td>
                    <td>{CRM_DEALS_TITLE}</td>
                    <td><progress max='100' value='{CRM_DEALS_PERCENTAGE}' title="{CRM_DEALS_PERCENTAGE} %"><span>{CRM_DEALS_PERCENTAGE}</span></progress></td>
                    <td>{CRM_DEALS_QUOTED_PRICE}</td>
                    <td>{CRM_CONTACT_NAME}</td>
                    <td>{CRM_DEALS_CONTACT_NAME}</td>
                    <td>{CRM_DEALS_DUE_DATE}</td>
                    <td>
                        <div align="right">
                            <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="?cmd={MODULE_NAME}&act=deals&tpl=manage&id={ENTRY_ID}{CRM_REDIRECT_LINK}" ><img border="0" title="{TXT_CRM_IMAGE_EDIT}" alt="{TXT_CRM_IMAGE_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
                            <a rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
                        </div>
                    </td>
                </tr>
                <!-- END dealsEntries -->
            </tbody>
        </table>
        <br>
        <br>
        <img height="22" border="0" width="38" src="/core/Core/View/Media/icons/arrow.gif" alt=":" />
        <a href="#" onclick="changeCheckboxes('dealsOverview','dealsEntry[]',true); return false;">{TXT_CRM_SELECT_ALL}</a> / <a href="#" onclick="changeCheckboxes('dealsOverview','dealsEntry[]',false); return false;">{TXT_CRM_REMOVE_SELECTION}</a>
        <select name="actionType" id="multiAction">
            <option value="0">{TXT_CRM_SELECT_ACTION}</option>
            <option value="delete">{TXT_CRM_DELETE_SELECTED}</option>
        </select>
    </form>
</div>
