<style type="text/css">
    body table.adminlist input[type=text] {
        width: 255px;
    }
    #ajaxMessageDiv {
        width: 100px;position:fixed;left: 45%;background-color: #ccc;padding: 10px;font-size: 14px;top: 0;
    }
    #ajaxMessageDiv:hover{
        background-color: #D0D0A8;
    }
</style>
<script type="text/javascript">
    function htmlEncode(value){
        if (value) {
            return cx.jQuery('<div />').text(value).html();
        } else {
            return '';
        }
    }

    function htmlDecode(value) {
        if (value) {
            return $('<div />').html(value).text();
        } else {
            return '';
        }
    }
    function setTableRow(tableId) {
        count = 0;
        $J('table#'+tableId+' tbody tr:visible').each(function(){
            $J(this).removeClass("row1 row2");
            rowClass = (count%2 == 0) ? "row1" : "row2";
            $J(this).addClass(rowClass);
            count++;
        });
    }
    $J(function(){
        $J('.changestatus').click(function(e){
            var $elm = $J(this);
            url = $elm.attr("href");
            $J.get(url, function(data) {
                image = $elm.find('img').attr('src').split('/').pop() == 'led_green.gif' ? 'led_red.gif' : 'led_green.gif';
                $elm.find('img').attr('src', '/core/Core/View/Media/icons/'+image);
                //fadeOkbox('{TXT_CRM_STATUS_SUCCESSFULLY_CHANGED}');
            });
            e.preventDefault();
        });
        $J("#multiAction").change(function(){

            if ($J(".entrySelection:checked").length <= 0 && $J(this).val() != 0) {
                alert('{TXT_CRM_NOTHING_SELECTED}');
                return
            }
            if ($J(this).val() == "delete") {
                if(confirm('{TXT_CRM_SURE_TO_DELETE_SELECTED_ENTRIES}'))
                    $J("#success_entries").submit();
                else
                    return;

            }
            if ($J(this).val() != 0)
                $J("#success_entries").submit();
        });
        $J(".deleteEntry").click(function(){
            $elm  = $J(this);
            en_id = $J(this).attr('rel').split('_')[1]
            if (confirm ("{TXT_CRM_ARE_YOU_SURE_TO_DELETE_THE_ENTRY}")) {
                $J.ajax({
                    url     : './index.php?cmd={MODULE_NAME}&act=settings&tpl=successrate&actionType=deletesuccessrate&ajax=1&id='+en_id,
                    type    : 'POST',
                    success : function(msg){
                        $elm.closest("tr").remove();
                        setTableRow("entryList");
                    }
                });
            }
        });
        $J(".editEntry ").click(function(){

            en_id = $J(this).attr('rel').split('_')[1];
            $J(".entry_"+en_id+"_hidden").show();
            $J(".entry_"+en_id+"_text").hide();

            $J(this).hide();
            $J(".entry_"+en_id+"_save").show();

        });
        $J(".saveEntry").click(function() {
            var $elm = $J(this);
            form_value = $J("#success_entries").serialize();

            $J.ajax({
                url     : './index.php?cmd={MODULE_NAME}&act=settings&tpl=successrate&fn=modify&ajax=1',
                type    : 'POST',
                data    : form_value,
                success : function(result){
                    en_id = $elm.attr('rel').split('_')[1];
                    $J(".entry_"+en_id+"_hidden").hide();
                    $J(".entry_"+en_id+"_hidden").each(function(){
                        $J(this).next().html(htmlEncode($J(this).val()));
                    });
                    $J(".entry_"+en_id+"_text").show();

                    $elm.hide();
                    $J(".entry_"+en_id+"_edit").show();
                }
            });
        });
    });
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function checkValidations() {
        var errChk;
        if (document.getElementById('label').value.trim() == '') {
            errChk = 1;
            $J('#label').css('border','1px solid red');
        }
        if (document.getElementById('rate').value.trim() == '') {
            errChk = 1;
            $J('#rate').css('border','1px solid red');
        }

        if (errChk == 1) {
            $J('#formerr').html("All mandatory fields have not been filled out.!");
            $J('#formerr').css('display','block');
            return false;
        } else {
            return true;
        }
    }
</script>

<div id="success_rate">
    <br>
    <div id="formerr"></div>
    <ul id="tabmenu">
        <li><a id="Entries_ShowEntries" class="active" href="javascript:{}" onclick="selectTab('ShowEntries')" title="{TXT_CRM_SUCCESS_RATES}">{TXT_CRM_SUCCESS_RATES}</a></li>
        <li><a id="Entries_AddSuccessPro" class="inactive" href="javascript:{}" onclick="selectTab('AddSuccessPro')" title="{TXT_CRM_ADD_RATE}">{TXT_CRM_ADD_RATE}</a></li>
    </ul>
    <div id="ShowEntries" class="Entries">
        <form id="success_entries" name="success_overview_entries" action="" method="post">
            <table class="adminlist" id="entryList" width="100%" cellspacing="0" cellpadding="3" >
                <thead>
                    <tr>
                        <th colspan="6">{TXT_CRM_SUCCESS_RATES}</th>
                    </tr>
                    <tr class="row3">
                        <td width="3%">&nbsp;&nbsp;<strong>#</strong></td>
                        <td width="5%"><strong>{TXT_STATUS}</strong></td>
                        <td width="5%"><strong>{TXT_CRM_SORTING}</strong></td>
                        <td width="30%"><strong>{TXT_CRM_LABEL}</strong></td>
                        <td width="50%"><strong>{TXT_CRM_SUCCESS_RATE} in &#37;</strong></td>
                        <td width="10%" style="text-align: right;"><strong>{TXT_CRM_FUNCTIONS}</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN successRateEntries -->
                    <tr class="{ROW_CLASS}" id="entry_{ENTRY_ID}">
                        <td><input type="checkbox" name="successEntry[]" class="entrySelection" value="{ENTRY_ID}" /></td>
                        <td>&nbsp;
                            <a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=successrate&actionType=changestatus&id={ENTRY_ID}" class="changestatus" ><img src="{CRM_SUCCESS_STATUS}" /></a>
                        </td>
                        <td>&nbsp;&nbsp;<input style="width: 32px" type="text" name="sorting[{ENTRY_ID}]" value="{CRM_SORTING}" /></td>
                        <td><input type="text" style="display:none" class="entry_{ENTRY_ID}_hidden" name="label[{ENTRY_ID}]" value="{CRM_LABEL}" /><span class="entry_{ENTRY_ID}_text">{CRM_LABEL}</span></td>
                        <td><input type="text" style="display:none" class="entry_{ENTRY_ID}_hidden" name="rate[{ENTRY_ID}]" value="{CRM_SUCCESS_RATE}" /><span class="entry_{ENTRY_ID}_text">{CRM_SUCCESS_RATE}</span></td>
                        <td>
                            <div align="right">
                                <a title="{TXT_CRM_IMAGE_EDIT}" target="_self" rel="entry_{ENTRY_ID}_edit" class="entry_{ENTRY_ID}_edit editEntry" href="javascript:void(0);" ><img border="0" title="{TXT_CRM_IMAGE_EDIT}" alt="{TXT_CRM_IMAGE_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
                                <a title="{TXT_IMAGE_SAVE}" target="_self" style="display: none;" rel="entry_{ENTRY_ID}_save" class="entry_{ENTRY_ID}_save saveEntry" href="javascript:void(0);" ><img border="0" title="{TXT_CRM_IMAGE_EDIT}" alt="{TXT_CRM_IMAGE_EDIT}" src="/core/Core/View/Media/icons/save.png" /></a>
                                <a rel="entry_{ENTRY_ID}_delete" class="entry_{ENTRY_ID}_delete deleteEntry" href="javascript:void(0);" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
                            </div>
                        </td>
                    </tr>
                    <!-- END successRateEntries -->
                </tbody>
            </table>
            <br>
            <img height="22" border="0" width="38" src="/core/Core/View/Media/icons/arrow.gif" alt=":" />
            <a href="#" onclick="changeCheckboxes('success_overview_entries','successEntry[]',true); return false;">{TXT_CRM_SELECT_ALL}</a> / <a href="#" onclick="changeCheckboxes('success_overview_entries','successEntry[]',false); return false;">{TXT_CRM_REMOVE_SELECTION}</a>
            <select name="actionType" id="multiAction">
                <option value="0">{TXT_CRM_SELECT_ACTION}</option>
                <option value="activate">{TXT_CRM_ACTIVATESELECTED}</option>
                <option value="deactivate">{TXT_CRM_DEACTIVATESELECTED}</option>
                <option value="delete">{TXT_CRM_DELETE_SELECTED}</option>
            </select>
            <br>
            <br>
            <input type="submit" name="save_entries" value="{TXT_CRM_SAVE}" />
        </form>

    </div>
    <div id="AddSuccessPro" class="Entries" style="display: none;">
        <form action="" method="post" name="add_success_rate" id="add_success_rate">
            <table cellpadding="3" cellspacing="0" width="100%" class="adminlist">
                <thead>
                    <tr>
                        <th colspan="2">{TXT_CRM_ADD_RATE}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row1">
                        <td width="10%">{TXT_CRM_LABEL}<font color="red">&nbsp;*</font></td>
                        <td><input type="text" name="label" id="label" value="{CRM_RATE_LABEL}" />&nbsp;<input type="checkbox" {CRM_RATE_CHECKED} name="status" value="1" />&nbsp;Active</td>
                    </tr>
                    <tr class="row2">
                        <td>{TXT_CRM_SUCCESS_RATE}<font color="red">&nbsp;*</font></td>
                        <td><input type="text" name="rate" id="rate" value="{CRM_RATE_VALUE}" />&nbsp;&#37;</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <input type="submit" name="add_rate" value="{TXT_CRM_SAVE}" onClick="return checkValidations();"/>
        </form>
    </div>
</div>
