<table  class="adminlist" width="100%" cellspacing="0" cellpadding="3">
    <thead>
        <tr><th>{TXT_CRM_TASK_TYPES}</th></tr>
    </thead>
</table>
<table class="adminlist" width="100%" cellspacing="0" cellpadding="3">
    <thead>
        <tr class="row3">
            <td style="width: 1%;">&nbsp;&nbsp;&nbsp;#</td>
            <td style="width: 7%;">&nbsp;&nbsp;&nbsp;<strong>{TXT_CRM_TASK_TYPE_STATUS}</strong></td>
            <td style="width: 7%;"><strong><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=tasktypes&sortf=0&sorto={TXT_ORDER}">{TXT_CRM_TASK_TYPE_SORTING}</a></strong></td>
            <td style="width: 7%;">{TXT_CRM_ICON}</td>
            <td style="width: 64%;"><strong><a href="index.php?cmd={MODULE_NAME}&act=settings&tpl=tasktypes&sortf=1&sorto={TXT_ORDER}">{TXT_CRM_TASK_TYPE_NAME}</a></strong></td>
            <td style="width: 19%;text-align: right;"><strong>{TXT_CRM_FUNCTIONS}</strong></td>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN noTasktypes -->
        <tr>
            <td colspan="6">{TXT_CRM_NO_TASKTYPES}</td>
        </tr>
        <!-- END noTasktypes -->
        <!-- BEGIN taskTypes -->
        <tr id="entry_{CRM_TASK_TYPE_ID}" class="{ROW_CLASS}" style="height:26px;">
            <td style="width: 25px;"><input type="checkbox" name="taskTypeId[]" class="entrySelection" value="{CRM_TASK_TYPE_ID}" /></td>
            <td style="width: 50px;">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="index.php?cmd={MODULE_NAME}&ajax=1&act=settings&tpl=tasktypes&actionType=changestatus&taskTypeId={CRM_TASK_TYPE_ID}" class="changestatus" ><img src="/core/Core/View/Media/icons/{CRM_TASK_TYPE_ACTIVE}" alt="status" /></a>
                </div>
            </td>
            <td>&nbsp;<input type="text" style="width:25px;padding: 2px;text-align: right;" name="sorting[{CRM_TASK_TYPE_ID}]" value="{CRM_TASK_TYPE_SORTING}" /></td>
            <td><img src="{CRM_TASK_TYPE_ICON}"/></td>
            <td>
                <a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=tasktypes&amp;fn=editTaskType&amp;id={CRM_TASK_TYPE_ID}" target="_self" title="{TXT_CRM_IMAGE_EDIT}">{CRM_TASK_TYPE_NAME}</a>
            </td>
            <td>
                <div align="right">
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=settings&amp;tpl=tasktypes&amp;fn=editTaskType&amp;id={CRM_TASK_TYPE_ID}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{TXT_CRM_IMAGE_EDIT}" title="{TXT_CRM_IMAGE_EDIT}" /></a>
                    <!-- BEGIN delete_icon_block -->
                    <a href="javascript:deleteEntry({CRM_TASK_TYPE_ID});" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
                    <!-- END delete_icon_block -->
                </div>
            </td>
        </tr>
        <!-- END taskTypes -->
    </tbody>
</table><br/>
