<script language="JavaScript" type="text/javascript">
    var sort_icons = {CRM_TASK_SORT_ORDER_ICONS};
    function confirmSubmit()
    {
        if (confirm('{TXT_CRM_DELETE_CONFIRM}'))
            return true ;
        else
            return false ;
    }
    function changeSortOrder(elm)
    {
        sort_order = $J("#sort_order").val() == 1 ? 0 : 1;

        //$J(".sort_order_icon").attr('src', sort_icons[sort_order]);
        $J("#sort_order").val(sort_order);
        elm.closest('form').submit();
    }
    $J(function(){
        $J('.searchForm').change(function(){
            $J(this).closest('form').submit();
        });
        $J('#searchTitle').data('holder',$J('#searchTitle').attr('placeholder'));

        $J('#searchTitle').focusin(function(){
            $J(this).attr('placeholder','');
        });
        $J('#searchTitle').focusout(function(){
            $J(this).attr('placeholder',$J(this).data('holder'));
        });
    });
    $J.dropdownToggle({
        dropdownID: 'taskStatusPanel',
        switcherSelector: '.taskStatusLink',
        addTop: 0,
        addLeft: 0
    });
    function showTaskStatusPanel(switcherUI) {
//        $J("#taskStatusPanel a.dropDownItem").unbind('click').click(function() { alert('525');
            _changeTaskStatus(switcherUI, $J(switcherUI).attr("task_status"));
//        });
    }
    var _changeTaskStatus = function(Obj, task_status) {
        var taskId = $J(Obj).attr('rel').split('_')[1];

        $J.ajax({
            url: './index.php?cmd={MODULE_NAME}&act=task&tpl=cstatus',
            type: "POST",
            dataType: "json",
            data: {id: taskId,status: task_status},
            success: function(json) {
                if (json['error']) {
                    fadeAlertbox(json['error']);
                } else if (json['success']) {
                    $J(Obj).find("a img").attr('src', json['status_img']);

                    $parent = $J(Obj).closest('tr');
                    $parent.fadeOut('fast');
                    $parent.html('');
                    responseData = json['task'];
                    $J("#taskTemplate").tmpl(responseData).appendTo($parent);
                    $parent.fadeIn('fast');

                    $parent.removeClass('task_expired');
                    $parent.addClass(json['task']['taskClass']);
                    fadeOkbox(json['status_msg']);
                }
            }
        });

        $J("#taskStatusPanel").hide();
    };
    $J(document).ajaxStart(function() {
        $J('body').append(getMessageDiv('Saving'));
    }).ajaxStop(function() {
        $J("#ajaxMessageDiv").remove();
    });
    function getMessageDiv(mes) {
        return '<div id="ajaxMessageDiv">'+mes+'..</div>';
    }
    function fadeOkbox(msg) {
        $J('.okBox-new').html(msg);
        $J('.okBox-new').fadeIn('slow');
        setTimeout(function () {
            $J('.okBox-new').fadeOut('slow');
        }, 9000);
    }
    function fadeAlertbox(msg) {
        $J('.alertBox-new').html(msg);
        $J('.alertBox-new').fadeIn('slow');
        setTimeout(function () {
            $J('.alertBox-new').fadeOut('slow');
        }, 6000);
    }
</script>
<style type="text/css">
    .taskTypeDiv {
        float: left;
        width: 100%;
    }
    .taskTypeImg {
        float: left;
        width: 5%;
    }
    .taskTypeTitle {
        float: left;
        width: 95%;
    }
    .okBox-new {
        color: #39950C;
        background: #DFF0D8;
        padding: 8px;
        margin-bottom: 5px;
        clear: left;
    }
    .alertBox-new {
        color: #B94A48;
        background: #F2DEDE;
        padding: 8px;
        margin-bottom: 5px;
        clear: left;
    }
</style>
<div id="subnavbar_level2">
    <ul>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task" title="{TXT_CRM_OVERVIEW}">{TXT_CRM_OVERVIEW}</a></li>
        <li><a href="index.php?cmd={MODULE_NAME}&act=task&tpl=modify" title="{TXT_CRM_ADD_TASK}">{TXT_CRM_ADD_TASK}</a></li>
    </ul>
</div><br>
<div class="okBox-new" style="display:none;"></div>
<div class="alertBox-new" style="display:none;"></div>
<form action="" method="get" name="searchtask" id="searchtask">
    <input type="hidden" name="cmd" value="{MODULE_NAME}" />
    <input type="hidden" name="act" value="task" />
    <table  class="adminlist" width="100%" cellspacing="0" cellpadding="3">
        <thead>
            <tr><th>{TXT_CRM_FILTERS}</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="{TXT_CRM_ENTER_SEARCH_TERM}" name="searchTitle" id="searchTitle" size="30" value="{TXT_SEARCH_VALUE}" style="float: left;width: 300px;"/>&nbsp;
                    <input type="submit" value="{TXT_CRM_SEARCH}" title="{TXT_CRM_SEARCH}" />&nbsp;
                    <div style="float: right;margin-top: -6px;">
                        {TXT_CRM_FILTER_STATUS}:
                        <label>
                            <input type="checkbox" name="status[]" value="0" class="searchForm" {CRM_TASK_STATUS_OPEN} />{TXT_CRM_TASK_STATUS_OPEN}
                        </label>
                        <label>
                            <input type="checkbox" name="status[]" value="1" class="searchForm" {CRM_TASK_STATUS_COMPLETED} />{TXT_CRM_TASK_STATUS_COMPLETED}
                        </label>
                        &nbsp;&nbsp;
                        <select class="searchForm" name="searchType" id="task_type" style="width: 257px;margin-right: 15px;" >
                            <option value="">{TXT_CRM_FILTER_TASK_TYPE}</option>
                            <!-- BEGIN tastType -->
                            <option value="{CRM_TASK_ID}" {TXT_TASK_SELECTED}>{TXT_TASK_NAME}</option>
                            <!-- END tastType -->
                        </select>
                        {TXT_CRM_FILTER_SORT_BY} :
                        <select class="searchForm" name="sort_by" id="sort_by" style="width: 200px;" >
                            <!-- BEGIN sort_fields -->
                            <option value="{CRM_FILTER_SORT_ID}" {CRM_FILTER_SORT_FIELD_SELECTED}>{CRM_FILTER_SORT_FIELD}</option>
                            <!-- END sort_fields -->
                        </select>
                        <img onclick="changeSortOrder($J(this))" class="sort_order_icon" title="{CRM_TASK_SORT_ORDER_TITLE}" src="{CRM_TASK_SORT_ORDER_ICON}" alt="{CRM_TASK_SORT}" />
                        <input type="hidden" name="sort_order" id="sort_order" value="{CRM_TASK_SORT_ORDER}" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- BEGIN noRecords1 -->
    <!--<font color="red">{TXT_NO_RECORDS_FOUND}</font>-->
    <!-- END noRecords1 -->
</form><br>
<div align="right">{ENTRIES_PAGING}</div>
<form action="index.php?cmd=Crm&act=task&chg=1" method="post" name="notes">
    <input type="hidden" name="ischecked" value="0" />
    <table  class="adminlist" width="100%" cellspacing="0" cellpadding="3">
        <thead>
            <tr><th>{TXT_CRM_TASK}</th></tr>
        </thead>
    </table>
    <table id="task_overview" class="adminlist" width="100%" cellspacing="0" cellpadding="3">
        <thead>
            <tr class="row3">
                <td width="6%" style="text-align: center;"><strong>{TXT_CRM_TASK_STATUS}</strong></td>
                <td width="50%">
                    <strong>{TXT_CRM_TASK_TITLE}</strong>
                </td>
                <td width="22%"><strong>{TXT_CRM_CUSTOMER_NAME}</strong></td>
                <td width="14%"><strong>{TXT_CRM_TASK_RESPONSIBLE}</strong></td>
                <td width="8%" style="text-align:right;padding: 4px"><strong>{TXT_CRM_FUNCTIONS}</strong></td>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN noRecords -->
            <tr class="row1"><td colspan="6" style="font-style:italic;">{TXT_NO_RECORDS_FOUND}</td></tr>
            <!-- END noRecords -->
            <!-- BEGIN showTask -->
            <tr class="{CRM_TASK_EXPIRED_CLASS} {TXT_ROW}" style="height:26px;">
                <td style="text-align:center;">
                    <!-- BEGIN task_status_block -->
                    <span style="cursor: pointer;" rel="task_{CRM_TASK_ID}" task_status="{TXT_STATUS}" onclick="showTaskStatusPanel(this);"><img src="/core/Core/View/Media/icons/{CRM_TASK_TYPE_ACTIVE}" alt="status" /></span>
                    <!-- END task_status_block -->
                    <!-- BEGIN task_image_block -->
                    <img src="/core/Core/View/Media/icons/{CRM_TASK_TYPE_ACTIVE}" alt="status" />
                    <!-- END task_image_block -->
                </td>
                <td>
                    <div class="taskTypeDiv">
                        <div class="taskTypeImg"><img src="{CRM_TASKICON}"/></div>
                        <div class="taskTypeTitle">
                            <div>{CRM_TASKTITLE}</div>
                            <div>{CRM_DUEDATE}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="?cmd={MODULE_NAME}&amp;act=customers&amp;tpl=showcustdetail&id={CRM_TASK_CUSTOMER_ID}" title="{CRM_CUSTOMERNAME}">{CRM_CUSTOMERNAME}</a>
                </td>
                <td>{CRM_ADDEDBY}</td>
                <td style="padding:4px;text-align: right;">
                    <!-- BEGIN task_edit_block -->
                    <a href="index.php?cmd={MODULE_NAME}&amp;act=task&amp;tpl=modify&amp;id={CRM_TASK_ID}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{TXT_CRM_IMAGE_EDIT}" title="{TXT_CRM_IMAGE_EDIT}" /></a>
                    <!-- END task_edit_block -->
                    <!-- BEGIN task_delete_block -->
                    <a onclick="return confirmSubmit();" href="./index.php?cmd={MODULE_NAME}&act=task&tpl=deleteTask&id={CRM_TASK_ID}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
                    <!-- END task_delete_block -->
                </td>
            </tr>
            <!-- END showTask -->
        </tbody>
    </table>
</form>
<div align="right">{ENTRIES_PAGING}</div>
<script id="taskTemplate" type="text/x-jquery-tmpl">
        <td style="text-align: center;">
            {{if Update}}
            <span style="cursor: pointer;" rel="task_{{= id }}" task_status="{{= taskStatus }}" onclick="showTaskStatusPanel(this);"><img src="/core/Core/View/Media/icons/{{= activeImg }}" alt="status" /></span>
            {{else !Update}}
            <img src="/core/Core/View/Media/icons/{{= activeImg }}" alt="status" />
            {{/if}}
        </td>
        <td>
            <div class="taskTypeDiv">
                <div class="taskTypeImg"><img src="{{= taskTypeIcon }}"/></div>
                <div class="taskTypeTitle">
                    <div>{{= taskTitle }}</div>
                    <div>{{= dueDate }}</div>
                </div>
            </div>
        </td>
        <td>
            <a href="./index.php?cmd={MODULE_NAME}&amp;act=customers&amp;tpl=showcustdetail&id={{= customerId }}" title="{{= customerName }}">{{= customerName }}</a>
        </td>
        <td>{{= addedBy }}</td>
        <td style="padding:4px;text-align: right;">
            {{if Edit}}
            <a href="index.php?cmd={MODULE_NAME}&amp;act=task&amp;tpl=modify&amp;id={{= id }}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_EDIT}"><img src="/core/Core/View/Media/icons/edit.gif" border="0" alt="{TXT_CRM_IMAGE_EDIT}" title="{TXT_CRM_IMAGE_EDIT}" /></a>
            {{/if}}
            {{if Delete}}
            <a onclick="return confirmSubmit();" href="./index.php?cmd={MODULE_NAME}&act=task&tpl=deleteTask&id={{= id }}{CRM_REDIRECT_LINK}" target="_self" title="{TXT_CRM_IMAGE_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" border="0" alt="{TXT_CRM_IMAGE_DELETE}" title="{TXT_CRM_IMAGE_DELETE}" /></a>
            {{/if}}
        </td>
</script>
