<!-- START module_news_list.html -->
<script language="JavaScript" type="text/javascript">
function deletePage(pageId)
{
  if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')){
    window.location.replace("index.php?cmd=Jobs&{CSRF_PARAM}&act=delete&id="+pageId);
  }
}
function deletePages()
{
  with (document.formDocSys){
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
      action = "index.php?cmd=Jobs&act=delete";
      method = "post";
      submit();
      return true;
    }
  }
}
/**
 * Checks/unchecks all checkboxes
 * @param   string   the form name
 * @param   boolean  whether to check or to uncheck the element
 * @return  boolean  always true
 */
function setCheckboxes(do_check)
{
  with (document.formDocSys){
    var box = elements['selectedId[]'];
    var box_cnt =
      (typeof(box.length) != 'undefined' ? box.length : 0);
    if (box_cnt) {
        for (var i = 0; i < box_cnt; i++) {
          box[i].checked = do_check;
        }
    } else {
      box.checked = do_check;
    }
    return true;
  }
}
cx.ready(function() {
    var lock = function() {
        cx.jQuery('#load-lock').show();
    };
    var unlock = function() {
        cx.jQuery("#load-lock").hide();
    };
    cx.bind('loadingStart', lock, 'hotOffer');
    cx.bind('loadingEnd', unlock, 'hotOffer');

    cx.jQuery('.hotOffer').click(function() {
        var jobId     = cx.jQuery(this).data('id');
        var isChecked = cx.jQuery(this).prop('checked') ? 1 : 0;

        if (!jobId) {
            return;
        }

        cx.trigger('loadingStart', 'hotOffer', {});
        cx.ajax( 'Jobs', 'updateJobsHotOffer', {
            type     : 'POST',
            data     : 'id=' + jobId + '&hotOffer=' + isChecked,
            dataType : 'json',
            complete: function() {
                cx.trigger('loadingEnd', 'hotOffer', {});
            }
        });
    });
});
</script>
<style type="text/css">
    #load-lock {
        position: absolute;
        opacity: 0.5;
        background-color: white;
        display: none;
        z-index: 500;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
</style>
<div id="load-lock"></div>
<table width="100%" height="38" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tbody>
  <tr>
  <th valign="top" colspan="2">
  <div align="left">{TXT_EDIT_JOBS_MESSAGE}</div>
      </th>
  </tr>
<tr class="row1">
<td valign="top">
      <form action="index.php?cmd=Jobs&act=Job" method="get" name="form2">
        {TXT_EDIT_JOBS_ID}:
        <input type="text" maxlength="5" size="5" name="id" />
      </form>
    </td>
  </tr></tbody>
</table>
<br />
<table width="100%" height="38" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tbody>
  <tr>
  <th valign="top" colspan="2">
  <div align="left">{TXT_JOBS_SEARCH}</div>
      </th>
  </tr>
<tr class="row1">
<td valign="top">
<form name="jobs" method="post" action="index.php?cmd=Jobs">
{JOBS_CATEGORY_FORM} {JOBS_LOCATION_FORM} {JOBS_PAID_FORM} <input type='submit' value='{TXT_JOBS_SEARCH}'/>
</form>
    </td>
  </tr>
</tbody>
</table>
<br />
<form name="formDocSys" method="post" action="index.php?cmd=Jobs&act=changeStatus">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
<tr>
<th valign="top" colspan="{JOBS_OVERVIEW_COLSPAN}">{TXT_ARCHIVE}</th>
  </tr>
<tr class="row2">
  <td width="1%" valign="top" nowrap="nowrap"><b>#</b></td>
  <td width="1%" valign="top" nowrap="nowrap"><b>Id</b></td>
  <td width="2%" valign="top" nowrap="nowrap"><b>{TXT_STATUS}</b></td>
  <td width="5%" valign="top" nowrap="nowrap"><b>{TXT_DATE}</b></td>
  <td valign="top" nowrap="nowrap"><b>{TXT_TITLE}</b></td>
  <!-- BEGIN jobs_modify_show_hot_offer_label -->
  <td width="5%" valign="top" nowrap="nowrap"><b>{TXT_JOBS_OVERVIEW_HOT}</b></td>
  <!-- END jobs_modify_show_hot_offer_label -->
  <td width="10%" valign="top" nowrap="nowrap"> <b>{TXT_CATEGORY}</b></td>
  <td width="10%" valign="top" nowrap="nowrap"> <b>{TXT_AUTHOR}</b></td>
  <td width="12%" valign="top" nowrap="nowrap"> <b>{TXT_LAST_EDIT}</b></td>
  <td width="2%" valign="top" nowrap="nowrap"><div align="right"><b>{TXT_ACTION}</b></div></td>
  </tr>
  <!-- BEGIN row -->
<tr class="{JOBS_CLASS}">
  <td nowrap="nowrap"><input type="checkbox" value="{JOBS_ID}" name="selectedId[]" /></td>
  <td nowrap="nowrap">{JOBS_ID}</td>
  <td nowrap="nowrap">
    <img border="0" title="{JOBS_STATUS}" alt="{JOBS_STATUS}" src="/core/Core/View/Media/icons/{JOBS_STATUS_PICTURE}" />
    <!-- BEGIN jobs_overview_paid -->
    <img border="0" title="{TXT_JOBS_PAID_LABEL}" alt="{TXT_JOBS_PAID_LABEL}" src="/modules/Jobs/View/Media/Money.png" style="width:14px; height:14px;" />
    <!-- END jobs_overview_paid -->
    <!-- BEGIN jobs_flags_list -->
    <img border="0" title="{JOBS_FLAG_NAME}" alt="{JOBS_FLAG_NAME}" src="{JOBS_FLAG_ICON_SRC}" style="max-width:14px; max-height:14px;" />
    <!-- END jobs_flags_list -->
  </td>
  <td nowrap="nowrap">{JOBS_DATE}&nbsp;</td>
  <td><a href="?cmd=Jobs&act=Job&id={JOBS_ID}">{JOBS_TITLE}</a>&nbsp;</td>
  <!-- BEGIN jobs_overview_show_hot_offer -->
  <td><input type="checkbox" class="hotOffer" data-id="{JOBS_ID}" name="hotOffer" {JOBS_OVERVIEW_HOT_OFFER} value="1"/></td>
  <!-- END jobs_overview_show_hot_offer -->
  <td nowrap="nowrap">{JOBS_CATEGORY}&nbsp;</td>
  <td nowrap="nowrap">&nbsp;{JOBS_AUTHOR}</td>
  <td nowrap="nowrap">{JOBS_CHANGELOG}: {JOBS_USER}&nbsp;</td>
  <td nowrap="nowrap">
    <div align="right">
    <a href="index.php?cmd=Jobs&amp;act=Job&amp;copy={JOBS_ID}"><img src="/core/Core/View/Media/icons/copy.gif" alt="{TXT_TEMPLATE}" title="{TXT_TEMPLATE}" border="0" /></a>
    <a title="{TXT_EDIT}" href="?cmd=Jobs&act=Job&id={JOBS_ID}"><img border="0" alt="{TXT_EDIT}" src="/core/Core/View/Media/icons/edit.gif" /></a>
      <a title="{TXT_DELETE}" href="javascript:deletePage({JOBS_ID})"><img border="0" alt="{TXT_DELETE}" src="/core/Core/View/Media/icons/delete.gif" /></a></div>
    </td>
  </tr>
  <!-- END row -->
  </table>
<img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
<a href="" onclick="setCheckboxes(true); return false;">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
<a href="" onclick="setCheckboxes(false); return false;">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="delete" value="{TXT_DELETE}" onclick="deletePages(); return false;" />&nbsp;&nbsp;
<input type="submit" name="activate" value="{TXT_ACTIVATE}" />&nbsp;&nbsp;
<input type="submit" name="deactivate" value="{TXT_DEACTIVATE}" />
</form>
<br />
<br />
{JOBS_PAGING}
<br />
<!-- END module_jobs_list.html -->
