<!-- START module_news_location.html -->

<script language="JavaScript" type="text/javascript">


function deleteLocations()
{
  with (document.form2){
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE}')) {
       action = "index.php?cmd=Jobs&act=delloc";
      method = "post";
      submit();
      return true;
    }
  }
}

/**
 * Checks/unchecks all checkboxes
 *
 * @param   string   the form name
 * @param   boolean  whether to check or to uncheck the element
 *
 * @return  boolean  always true
 */
function setCheckboxes(do_check)
{
  with (document.form2){
      var box      = elements['selectedId[]'];

      var box_cnt  = (typeof(box.length) != 'undefined')
                    ? box.length

                    : 0;

      if (box_cnt) {
          for (var i = 0; i < box_cnt; i++)
          {
              box[i].checked = do_check;
          }
      } else {
          box.checked = do_check;
      }
      return true;
  }
}

function deleteLocation(id)
{
    if(confirm('{TXT_CONFIRM_DELETE_DATA}\n{TXT_ACTION_IS_IRREVERSIBLE} {TXT_ATTENTION_SYSTEM_FUNCTIONALITY_AT_RISK}'))
        window.location.replace("index.php?cmd=Jobs&{CSRF_PARAM}&act=delloc&locId="+id);
}
// -->
</script>
<form name="form1" method="post" action="index.php?cmd=Jobs&amp;act=loc">
<input type="hidden" name="addLoc" value="true" />
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="adminlist">
<tr>
<th>
<div align="left">{TXT_ADD_NEW_LOCATION}</div>
</th>
</tr>
<tr class="row1">
<td> {TXT_NAME}:
<input type="text" name="newLocName" size="40" maxlength="250" />
&nbsp;
<input type="submit" name="submit" value="{TXT_ADD}" />
</td>
</tr>
</table>
<br />
</form>
<form name="form2" method="post" action="index.php?cmd=Jobs&amp;act=loc">
<input type="hidden" name="modLoc" value="true" />
  <table width="100%" cellspacing="0" cellpadding="3" border="0" align="top" class="adminlist">
    <tr>
      <th colspan="4">
        <div align="left">{TXT_LOCATION_LIST}</div>
      </th>
    </tr>
    <tr class="row2">
        <td width="1%" valign="top" nowrap="nowrap"><b>#</b></td>
        <td width="2%" nowrap><b>{TXT_ID}</b></td>
        <td width="100%"><b>{TXT_NAME}</b></td>
        <td width="5%" nowrap>
        <div align="right"><b>{TXT_ACTION}</b></div>
        </td>
    </tr>
    <!-- BEGIN row -->
    <tr class="{JOBS_ROWCLASS}">
      <td nowrap="nowrap"><input type="checkbox" value="{JOBS_LOC_ID}" name="selectedId[]" /></td>
      <td>
        <div align="left">{JOBS_LOC_ID}&nbsp;</div>
      </td>
      <td>
        <input type="text" name="locName[{JOBS_LOC_ID}]" value="{JOBS_LOC_NAME}" size="40" maxlength="250" />
      </td>
      <td>
        <div align="right"><a href="javascript:deleteLocation('{JOBS_LOC_ID}')" title="{TXT_DELETE}"><img src="/core/Core/View/Media/icons/delete.gif" alt="{TXT_DELETE}" border="0" /></a></div>
      </td>
    </tr>
    <!-- END row -->
  </table>

<img src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" title="{TXT_MARKED}:" alt="{TXT_MARKED}:" />
<a href="" onclick="setCheckboxes(true); return false;">{TXT_SELECT_ALL}</a>&nbsp;/&nbsp;
<a href="" onclick="setCheckboxes(false); return false;">{TXT_REMOVE_SELECTION}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" name="delete" value="{TXT_DELETE}" onclick="deleteLocations(); return false;" />&nbsp;&nbsp;
<br />
<br />
  <input type="submit" name="submitButton" value="{TXT_ACCEPT_CHANGES}" />
</form>
<br />
<!-- END module_jobs_location.html -->
