<h1 style="float: none;">Beispielseite mit Uploadern</h1>
{MB_EXAMPLE_BUTTON}
<h3>MediaBrowser mit allen Inhalten</h3>

<!-- BEGIN mediabrowser_demo -->
<b>Verwendete Optionen</b>
<p><code>{MEDIABROWSER_OPTIONS}</code></p>
{MEDIABROWSER_CODE}
<p><code>{MEDIABROWSER_CODE_RAW}</code></p>
<hr/>
<!-- END mediabrowser_demo -->
<script>
    function testfunction() {
        alert('test');
    }

    var gallery = {
        fancyCallback: function (callback) {

            if (callback.type == 'close') {
//            bootbox.alert({
//                message: 'Close Event',
//                title: "Close"
//            });
                return;
            }

            if (callback.data[0].hasOwnProperty('level')) {
                console.table(callback.data);
                return;
            }


            if (callback.data[0].hasOwnProperty('datainfo')) {
                var images = "Pictures:";
                for (var i in callback.data) {
                    if (callback.data.hasOwnProperty(i)) {
                        if (callback.data[i].datainfo.extension == 'Jpg' || callback.data[i].datainfo.extension == 'Png' || callback.data[i].datainfo.extension == 'Gif' || callback.data[i].datainfo.extension == 'Webp') {
                            console.log(callback.data[i].datainfo.filepath);
                            images += "<img class='img-responsive' style=\"max-width:100%; height: auto;\" s" + "rc='" + callback.data[i].datainfo.filepath + "' />";
                        }
                        else {
                            images += callback.data[i].datainfo.filepath;
                        }
                    }
                }

                bootbox.alert({
                    message: images,
                    title: "Chosen Files"
                });
            }
        }
    }


    function testFunction(data) {
        alert(data);
    }

    /**
     *
     * @param callback
     */
    function callback(callback) {
        console.log(callback);
    }

    var fancyCallback = gallery.fancyCallback;
</script>

<p>
    Neben 'modalopened' gibt es folgende Auslöser:
</p>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Auslöser</b></td>
    </tr>
    <tr>
        <td>modalopened</td>
        <td>Nachdem Öffnen des Modals.</td>
    </tr>
    <tr>
        <td>modalclosed</td>
        <td>Nachdem dem Schliessen des Modals.</td>
    </tr>
    <tr>
        <td>fileuploaded</td>
        <td>Nachdem dem Upload einer Datei.</td>
    </tr>
    <tr>
        <td>preupload</td>
        <td>Kurz vor dem Uploaden einer Datei.</td>
    </tr>
    <tr>
        <td>mediaselected</td>
        <td>Nach der Auswahl einer Seite/Datei.</td>
    </tr>
    <tr>
        <td>tabswitched</td>
        <td>Nachdem switchen eines MenüTabs.</td>
    </tr>
</table>

<hr/>
<style>
    .imageList img, .imageList2 img {
        width: 300px;
        height: auto;
        vertical-align: top;
    }

</style>
<h3>Uploader Demo</h3>

{UPLOADER_CODE}<br/>
<h2>Imagelist 1</h2>
<div class="imageList">
</div>
<br/>
{UPLOADER_CODE2}
<br/>
<h2>Imagelist 2</h2>
<div class="imageList2">
</div>
<script>
    gallery.uploader = function (response) {
        console.log(response);
        for (var i in response) {
            var image = cx.jQuery(new Image()).appendTo('.imageList');
            image.attr('src', response[i]);
        }
    }

    gallery.uploader2 = function (response) {
        console.log(response);
        for (var i in response) {
            var image = cx.jQuery(new Image()).appendTo('.imageList2');
            image.attr('src', response[i]);
        }
    }
</script>


<h2>Folder widget </h2>
<div class="folderWidget">
    {MEDIABROWSER_FOLDER_WIDGET}
</div>

<h2>Folder widget (View only) </h2>
<div class="folderWidget">
    {MEDIABROWSER_FOLDER_WIDGET_VIEW_MODE}
</div>
