/*
   Base Style Sheet for the CLOUDREXX CMS backend console.

   Copyright 2005 CLOUDREXX AG.
   All Rights Reserved.

*/

@import url(navbar.css);  /* CSS for navigation menu. */

:root {
    --red: #E40000;
    --green: #7FC600;
    --blue: #0469B2;
    --orange: #FF8C00;
    --yellow: #ffff40;
    --lightgray: #DDDDDD;
    --gray: #999999;
    --darkgray: #444444;
    --black: #000000;
    --white: #FFFFFF;
    --font-size-default: clamp(14px, .6vw, 2rem);
    --font-size-small: clamp(11px, .4vw, 1.5rem);
    --font-size-h1: clamp(18px, 1.4vw, 2.5rem);
    --navigation-width: clamp(230px, 9vw, 9vw);
    --header-height: clamp(53px, 2.5vw, 2.5vw);
    --table-row-height: clamp(28px, 1vw, 1vw);
}

* {
    text-rendering: geometricPrecision;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-default);
    font-family: "Quicksand", arial, helvetica, sans-serif;
    color: var(--black);
}

body {
    height: 100%;
    overflow: hidden;
}

input, select, button, textarea {
    font-family: "Quicksand", arial, helvetica, sans-serif;
    font-size: var(--font-size-default);
}

table td {
    text-align: left;
}

form {
    margin: 0;
}

h1 {
    float: left;
    width: auto;
    clear: both;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-h1);
    font-weight: normal;
}

a,
a:link,
a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--blue);
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--blue);
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}

header a.logo {
    background: url(../Media/cloudrexx_weiss_hg_hell.svg) no-repeat;
    outline: 0;
    width: var(--navigation-width);
    height: 100%;
    box-sizing: border-box;
    background-origin: content-box;
    padding: 1em;
}

#metanavigation {
    color: var(--white);
    height: 100%;
}

#metanavigation ul {
    padding: 0;
    margin: 0;
}

#metanavigation>a,
#metanavigation>ul {
    padding: 0 0 0 17px;
    margin: 0 2em 0 0;
}

#metanavigation>ul {
    padding: 0;
    display: flex;
    gap: .5em;
    height: 100%;
}

#metanavigation>ul li {
    list-style: none;
    position: relative;
    padding: .8em;
    white-space: nowrap;
}

#metanavigation>ul a {
    display: block;
}

#metanavigation>ul>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: .8em;
}

#metanavigation>ul>li>a>i {
    font-size: calc(var(--font-size-default) * 1.3);
    display: inline-block;
}

#metanavigation>ul ul {
    display: none;
    position: absolute;
    right: 0;
    top: calc(var(--header-height) - .5em);
    padding: 5px 0 5px;
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    color: var(--blue);
    background: var(--white);
    box-shadow: var(--blue) 0 0 2px;
}
#metanavigation>ul ul li {
    padding: 0;
}
#metanavigation>ul ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#metanavigation>ul ul li a>i {
    width: 1.5em;
}
#metanavigation>ul ul a {
    color: var(--blue);
}
#metanavigation>ul ul li ul {
    position: initial;
    border-width: 0;
    padding: 0;
    padding-left: 1.8em;
    box-shadow: none;
}
#metanavigation>ul>li.active ul ul {
    display: none;
}
#metanavigation>ul>li.active ul li.active ul {
    display: block;
}

#metanavigation>ul>li.active ul {
    display: block;
}

#metanavigation>ul>li>ul>li {
    margin-left: 0;
    padding-top: .3em;
    padding-bottom: .3em;
}

#metanavigation>ul>li>ul a {
    padding: 3px 15px 3px 15px;
}

#metanavigation a {
    color: var(--white);
}

#metanavigation a:hover,
#metanavigation a:active {
    color: var(--lightgray);
}

#metanavigation ul ul li a:hover,
#metanavigation ul ul li a:active,
#metanavigation ul ul li li:hover>a {
    color: var(--black);
}

#metanavigation a span.license-upgrade {
    padding-bottom: 7px;
    padding-left: 20px;
    background: url(../Media/icon-upgrade.png) no-repeat;
}
#metanavigation a.license-upgrade_bg {
    background: none repeat scroll 0 0 var(--white);
    float: left;
    margin-right: 10px;
    margin-top: -20px;
    padding: 20px 12.5px;
}

section {
    overflow-y: auto;
    max-height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
}

section#content {
    padding: 14px;
    overflow-x: auto;
    max-width: calc(100vw - var(--navigation-width));
    left: var(--navigation-width);
    display: flex;
    flex-direction: column;
}

section#content>input[type="button"],
section#content>button {
    align-self: flex-start;
}

@media print {
    html {
        overflow: auto;
    }
    header {
        position: absolute;
    }
    section#mainnav {
        display: none;
    }
    section#content {
        max-height: fit-content !important;
        height: fit-content;
        left: 0;
        max-width: 100%;
        position: absolute;
    }
}

#content_login_center {
    position: fixed;
    overflow: auto;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#content_login {
    max-width: 15%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}

#content_login form {
    display: flex;
    flex-direction: column;
}

#content_login form input {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 7px;
    border: 1px solid var(--lightgray);
    margin: 3px 0;
    color: var(--black);
    font-size: var(--font-size-default);
}

#content_login h1 {
    font-size: 38px;
    font-weight: normal;
    margin: 0 0 .8em 0;
    white-space: nowrap;
}

#content_login hr {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: var(--black);
    width: 100%;
}

#content_login div {
    padding: 0 0 16px 0;
}

#content_login div.error {
    padding: 0 0 3px 0;
    color: var(--red);
}

#content_login div.success {
    padding: 0 0 3px 0;
    color: var(--green);
}

#content_login div.two-columns {
    padding: 0;
}
#content_login div.two-columns>*:last-child {
    float: right;
    margin-left: 1em;
}

#content_login #okbox,
#content_login .okbox,
#content_login #warningbox,
#content_login .warningbox,
#content_login #alertbox,
#content_login .alertbox {
    padding: 4px;
    margin: 0 0 16px 0;
    width: 390px;
}

#content_login.login #okbox,
#content_login.login .okbox,
#content_login.login #warningbox,
#content_login.login .warningbox,
#content_login.login #alertbox,
#content_login.login .alertbox {
    width: 290px;
}


#content_login a:hover {
    color: var(--blue);
}

#content_login div label {
    width: auto;
    padding: 3px;
    padding-left: 0;
    display: inline-block;
}

#content_login div label[for] {
    cursor: pointer;
    font-size: var(--font-size-default);
}

#content_login div label[for=remember_me] {
    padding: 2px;
}

#content_login div input {
    clear: both;
}

#content_login div input.error {
    border: 1px solid var(--red) !important;
    padding: 2px;
}

#content_login div input[type=checkbox] {
    width: auto;
    height: auto;
    margin: 2px 3px 3px 0;
    padding: 0;
    outline: 0;
    line-height: var(--font-size-default);
}

#content_login div input[type=submit],
#content_login div input[type=button] {
    float: left;
    clear: none;
    width: auto;
    background: var(--lightgray) url(../Media/button_bg.png) repeat-x scroll left top;
    padding: 2px 10px;
    border: 1px solid var(--lightgray);
    margin: 0 0 0 5px;
    color: var(--black);
    text-shadow: 1px 1px var(--white);
}

#content_login div input[type=submit]:first-child,
#content_login div input[type=button]:first-child {
    margin: 0;
}

#content_login div img {
    margin-top: 5px;
    display: block;
    float: right;
}

*+html #content_login div input[type=submit],
*+html #content_login div input[type=button] {/* For IE7 */
    overflow: visible;
    padding: 0 9px 0 9px;
}

#content_login #login-box-remember-me {
    padding-top: 2px;
    display: inline-block;
}

#content_login #captcha #coreCaptchaLabel {
    margin: 0 0 3px 0;
    white-space: break-spaces;
}

#content_login #captcha #coreCaptchaCode {
    width: auto !important;
    height: auto;
}

#content_login #captcha #coreCaptchaImage {
    float: right;
    width: auto;
    height: calc(var(--font-size-default) + 18px);
}

#mainnav {
    width: var(--navigation-width);
    padding: 0;
    padding-top: 39px;
    border-color: var(--lightgray);
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

#content textarea,
#mainnav textarea,
#content input,
#mainnav input,
#content object,
#mainnav object,
#content select,
#mainnav select {
    border: 1px solid var(--lightgray);
    padding: 3px;
    color: var(--black);
}

#content input[type=text].search,
#mainnav input[type=text].search {
    background-image: url(../Media/search_glass.png);
    background-repeat: no-repeat;
    background-position: right center;
    box-sizing: border-box;
    padding-right: 26px;
}

textarea.cke_source {
    border: 0 !important;
    padding: 0 !important;
}

#content input[type=radio],
#mainnav input[type=radio],
#content input[type=checkbox],
#mainnav input[type=checkbox] {
    border: 0;
    width: 13px;
    height: 13px;
    margin: 3px;
}

footer {
    flex-grow: 1;
    display: flex;
    align-items: end;
    margin-bottom: 5px;
}

footer a {
    display: block;
    font-size: 11px;
    color: var(--black);
    outline: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

footer a:hover,
footer a:focus {
    background: transparent;
}

/* inline instruction */
.status_message {
    background: #faf0e6;
}

#captcha {
    float: left !important;
    width: auto !important;
    clear: none !important;
    margin: 0;
    padding: 0;
}
#captcha #coreCaptchaLabel {
    float: left;
    width: auto;
    clear: both;
    margin: 2px 0 2px 0;
    white-space: nowrap;
    font-weight: normal;
}
#captcha #coreCaptchaCode {
    float: left;
    width: 79px !important;
    height: 17px;
    clear: both;
    margin: 0 7px 0 0;
}
#captcha #coreCaptchaImage {
    margin-top: 0;
    float: left;
    width: 93px;
    height: 31px;
}

.navigation_level_1,
.navigation_level_2 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation_level_2.inactive {
    display: none;
}

.navigation_level_1 li {
    position: relative;
    float: left;
    width: 100%;
    height: clamp(31px, 1.3vw, 1.3vw);
    border-bottom: 1px solid var(--white);
    transition: background-color .2s;
    display: flex;
    align-items: center;
}

.navigation_level_1 li:hover,
.navigation_level_1 li:focus,
.navigation_level_1 li:active {
    background-color: var(--lightgray);
    cursor: pointer;
}

.navigation_level_1 li.active {
    font-weight: bold;
    background-color: var(--lightgray);
}

.navigation_level_1 li .icon_2 {
    width: calc(var(--font-size-default) + 2px);
    padding: 0 .6em;
    text-align: center;
    /* From .fa-solid */
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    display: var(--fa-display,inline-block);
}

/* Home */
#navigation_level_1_184 li .icon_2::before {
    content: "\f015"; /* fa-house */
}

/* Workbench */
#navigation_level_1_197 li .icon_2::before {
    content: "\f7d9"; /* fa-screwdriver-wrench */
}

/* ContentManager */
#navigation_level_1_1 li .icon_2::before {
    content: "\f15b"; /* fa-file */
    font-weight: 400; /* fa-regular */
}

/* Apps */
#navigation_level_1_2 li .icon_2::before {
    content: "\e4e2"; /* fa-circle-nodes */
}

/* Administration */
#navigation_level_1_3 li .icon_2::before {
    content: "\f085"; /* fa-gears */
}

/* Shop */
#navigation_level_1_8 li .icon_2::before {
    content: "\f07a"; /* fa-cart-shopping */
}

/* Media */
#navigation_level_1_15 li .icon_2::before {
    content: "\f07c"; /* fa-folder-open */
    font-weight: 400; /* fa-regular */
}

/* Stats */
#navigation_level_1_28 li .icon_2::before {
    content: "\e473"; /* fa-chart-simple */
}

/* Newsletter */
#navigation_level_1_29 li .icon_2::before {
    content: "\f0e0"; /* fa-envelope */
    font-weight: 400; /* fa-regular */
}

/* News */
#navigation_level_1_203 li .icon_2::before {
    content: "\f1ea"; /* fa-newspaper */
    font-weight: 400; /* fa-regular */
}

/* CRM */
#navigation_level_1_189 li .icon_2::before {
    content: "\e533"; /* fa-people-group */
}

.navigation_level_1 li .name {
    flex-grow: 1;
    height: 100%;
    line-height: clamp(30px, 1.3vw, 1.3vw);
    margin: 0;
    font-size: var(--font-size-default);
    color: var(--black);
}

.navigation_level_1 li .upgrade {
    display: none;
    position: absolute;
    top: 9px;
    right: 6px;
    float: left;
    width: 12px;
    height: 12px;
    background: url(../Media/navigation_upgrade.png) no-repeat;
}

.navigation_level_2 li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid var(--white);
    transition: background .2s;
}

.navigation_level_2 li a {
    float: left;
    height: clamp(23px, .9vw, .9vw);
    line-height: clamp(23px, .9vw, .9vw);
    padding: 0 0 0 calc(var(--font-size-default) + 2px + 1.2em);
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: var(--font-size-default);
    font-weight: normal;
    color: var(--black);
    outline: 0;
}

.navigation_level_2 li.nav_upgrade a {
    background: url(../Media/navigation_level_2_list_style_inactive.png) no-repeat 26px 8px;
}

.navigation_level_2 li:hover,
.navigation_level_2 li:focus,
.navigation_level_2 li:active,
.navigation_level_2 li.active {
    background: var(--lightgray);
    cursor: pointer;
}

.navigation_level_2 li.active a {
    font-weight: bold;
}

.navigation_level_2 li .upgrade {
    display: none;
    position: absolute;
    top: 5px;
    right: 6px;
    float: left;
    width: 12px;
    height: 12px;
    background: url(../Media/navigation_upgrade.png) no-repeat;
}

li.nav_upgrade > .name,
li.nav_upgrade > a {
    color: var(--gray);
}

#search {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px 20px 10px;
}

#search input[type="text"] {
    width: 100%;
}

#search input[type="submit"] {
    width: 63px;
    padding-right: 2px !important;
    padding-left: 2px !important;
    margin: 0 !important;
}

*+html #search input[type="submit"] {
    border: 0;
}

.breadcrumb {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 9px 0;
    list-style-type: none;
}

.breadcrumb li {
    float: left;
    width: auto;
    background: url(../Media/breadcrumb_list_style.jpg) no-repeat left center;
    padding: 0 0 0 12px;
    margin: 0 0 0 6px;
    font-size: var(--font-size-small);
}

.breadcrumb li:first-child {
    background: transparent;
    padding: 0;
    margin: 0;
}

.breadcrumb li a {
    color: var(--blue);
}

div.infobox_head {
    clear: both;
    padding: 5px;
    background: var(--yellow);
}

div.infobox_body {
    clear: both;
    padding: 5px;
    background: var(--yellow);
    border-left: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    text-align: left;
    color: var(--black);
}

table.adminlist {
    bottom: 1px;
    clear: both;
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
    background: var(--white);
    margin-bottom: 15px;
}
table.adminlist th {
    background: var(--blue);
    height: var(--table-row-height);
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    text-align: left;
    font-weight: bold;
    color: var(--white);
    white-space: nowrap;
}
table.adminlist th a {
    color: var(--white);
}
table.adminlist th a:hover,
table.adminlist th a:focus,
table.adminlist th a:active {
    color: var(--lightgray);
}
table.adminlist tr.row0,
table.adminlist tr.row1,
table.adminlist tr.row2 {
    background: var(--white);
    transition: background .2s;
}
table.adminlist tr.row0:hover,
table.adminlist tr.row1:hover,
table.adminlist tr.row2:hover {
    background: var(--lightgray);
    transition: background .2s;
}
table.adminlist tr.row3 {
    background: var(--lightgray);
    font-weight: bold;
}
table.adminlist tr.row3 td {
    border-bottom-color: var(--white);
}
table.adminlist tr.highlighted {
    background: var(--lightgray);
}
table.adminlist tr.highlighted:hover {
    background: var(--lightgray);
}
table.adminlist tr.highlightedGreen {
    background: #d8ffca;
}
table.adminlist tr.rowWarn,
table.adminlist tr.rowwarn {
    background: var(--orange) !important;
}
table.adminlist tr.rowInactive,
table.adminlist tr.rowinactive {
    background: var(--gray) !important;
}
table.adminlist tr.active {
    background: var(--lightgray);
}
table.adminlist td {
    height: var(--table-row-height);
    line-height: var(--table-row-height);
    padding: 0 3px 0 3px;
    text-align: left;
    vertical-align: top;
    border-bottom: var(--lightgray) 1px solid;
}
table.adminlist td a:hover,
table.adminlist td a:focus,
table.adminlist td a:active {
    color: var(--blue);
}
table.adminlist td.options {
    font-size: var(--font-size-small);
    background: var(--white);
}
table.adminlist td.col3 {/* Shop */
    font-weight: bold;
}
table.adminlist td.number {/* Shop */
    text-align: right;
}
table.title {
    border-bottom: #000099 1px solid;
    background: white;
}
table.subnavbar {
    border-bottom: #000099 0px solid;
    background: #dde4ff;
}
div#subnavbar_level1 {
    display: flex;
    justify-content: space-between;
    background: var(--lightgray);
    margin: 0 0 15px 0;
}
div#subnavbar_level1.no_margin {
    margin: 0;
}
div#subnavbar_level1 nav {
    display: flex;
}
div#subnavbar_level1 nav a {
    padding: 7px 13px 7px 13px;
    border-right: 1px solid var(--white);
    text-decoration: none;
    font-size: var(--font-size-default);
    font-weight: bold;
    color: var(--darkgray);
    display: inline-flex;
    align-items: center;
}
div#subnavbar_level1 nav a:hover,
div#subnavbar_level1 nav a:focus,
div#subnavbar_level1 nav a:active,
div#subnavbar_level1 nav a.active {
    background: var(--green);
    color: var(--white);
}
div#subnavbar_level1 div,
div#subnavbar_level1 div form {
    height: 100%;
}
div#subnavbar_level1 .chosen-container {
    font-size: var(--font-size-default) !important;
}
div#subnavbar_level1 .chosen-container a {
    box-sizing: border-box;
}
#language_selection .chosen-drop {
    height: auto;
}
#language_selection .chosen-results li {
    padding-top: 0;
    padding-bottom: 0;
    line-height: calc(var(--font-size-default) * 1.5);
}
#language_selection .chosen-results li.highlighted {
    background-image: none;
}

table.reset,
table.reset th,
table.reset tr,
table.reset td {
    width: auto;
    height: auto;
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    background: none;
}

table.reset td {
    padding: 0 10px 0 0;
}

table tr.reset:hover,
table tr.reset:hover,
table tr.reset:hover {
    background: transparent !important;
}

table tr.reset td {
    padding: 0;
    border: 0;
}

.toggle_style {
    float: left;
    width: 100%;
}

.toggle_style .title {
    float: left;
    clear: both;
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 3px 0;
    margin: 10px 0 8px 0;
    background: var(--blue);
    color: var(--white) !important;
    cursor: pointer;
}

.toggle_style .title .indicator {
    float: left;
    width: 22px;
    height: 24px;
}

.toggle_style.open .title .indicator {
    background: url(../Media/icons/toggle_open.png) no-repeat center center;
}

.toggle_style.closed .title .indicator {
    background: url(../Media/icons/toggle_closed.png) no-repeat center center;
}

.toggle_style .title label {
    cursor: pointer;
}

.toggle_style .container {
    float: left;
    width: 100%;
}

#language_selection .chzn-container {
    margin-right: -1px;
}

#tabmenu,
.tabmenu {
    float: left;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--blue);
    margin: 0;
}

#tabmenu li,
.tabmenu li {
    float: left;
    width: auto;
    list-style-type: none;
}

#tabmenu li a,
.tabmenu li a  {
    position: relative;
    top: 1px;
    float: left;
    height: var(--table-row-height);
    line-height: var(--table-row-height);
    width: auto;
    padding: 0 9px;
    border-top: 1px solid var(--lightgray);
    border-right: 1px solid var(--lightgray);
    border-left: 1px solid var(--lightgray);
    margin: 0 10px 0 0;
    font-weight: normal;
    color: var(--black);
    cursor: pointer;
    outline: 0;
}

#tabmenu li a.active,
.tabmenu li a.active {
    background: var(--blue);
    border-top: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    color: var(--white);
}

.sort-handle { /*the drag handle*/
    cursor: move;
    width: 17px;
    background-image: url(../Media/icons/updown.gif);
    background-repeat: no-repeat;
    background-position: center left;
    clear: left;
    float: left;
    height: 25px;
    width: 17px;
    margin: 0;
    padding: 0;
    margin-right: 3px;
}


/*
  styles for javascript helpers.
*/
.cx-lock {
    background-image: url('../Media/icons/switch_lock.png');
    width: 21px;
    height: 16px;
    display: inline-block;
}

.cx-lock-open {
    background-position: 0px 0px;
}

.cx-lock-closed {
    background-position: 21px 0px;
}

.cx-expand{
    padding: 0 0 0 13px;
}

.cx-expand.cx-expandUp{
    background: url("../Media/icons/advancedsearch-up.png") no-repeat left 3px;
}

.cx-expand.cx-expandDown{
    background: url("../Media/icons/advancedsearch-down.png") no-repeat left 3px;
}


/* Text alignment -- Shop */
.a_left {
    text-align: left !important;
}
.a_center {
    text-align: center !important;
}
.a_right {
    text-align: right !important;
}


/* Text style -- Shop */
.f_bold {
    font-weight: bold;
}
body #content input[type=button],
body #content button:not(.ace_searchbtn),
body #mainnav input[type=button],
body #content input[type=reset],
body #mainnav input[type=reset],
body #content input[type=submit],
body #mainnav input[type=submit],
body #content a.button {
    background: var(--lightgray) url(../Media/button_bg.png) repeat-x scroll left top;
    border: 1px solid var(--lightgray);
    color: var(--black);
    margin-bottom: 2px;
    padding: 2px 10px;
    text-shadow: 1px 1px var(--white);
}

*+html body #content input[type=button],
*+html body #mainnav input[type=button],
*+html body #content a.button,
*+html body #content input[type=reset],
*+html body #mainnav input[type=reset],
*+html body #content input[type=submit],
*+html body #mainnav input[type=submit] {/* For IE7 */
    overflow: visible;
    filter: chroma(color=var(--black));
}

#content #access select,
#content .data select {
    width: clamp(258px, 14vw, 14vw) !important
}
select#jobsCat,
#content #template_form select {
    width: 408px !important;
}
#content #categoryGeneral select,
#content #downloadGeneral select,
#content #auction select,
#content #news1 select,
#content #template select,
#content #newsletter_mail_form select,
#content #paypaltemplate select {
    width: 308px !important
}
#content #Content2.zoneTab select{
    width: 208px !important
}
#content #content2.categoryTab select,
#content #content1.productManageTab select{
    width: 303px !important
}
#content #content1.generalTab select,
#content #Backup.setTab select{
    width: 373px !important
}
#content #content4 select{
    width: 373px !important;
}
#content1.productManageTab textarea
{
    width: 296px !important;
}
#content1.generalTab textarea{
    width: 365px !important;
}

label.really {
    float: left;
    width: 330px;
}

input[type=checkbox].really {
    float: left;
    margin: 2px 10px 0 2px;
}

table.adminlist td.nowrap {
    white-space: nowrap;
    vertical-align: top;
}

/* Icon representing a URL (module shop, Coupon) */
.icon_url {
    float: left;
    width: 14px;
    height: 16px;
    margin-top: 3px;
    background-image: url(../Media/icons/link.gif);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Invisible layer whose visibility state is toggled upon clicking the
   URL icon.  Usually contains an input text field (module shop, Coupon) */
.layer_url {
    display: none;
    float: none;
    margin-left: 20px;
}

/* icons */
.icon-16x16 {
    float: none;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon-info {
    float: none;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(/core/Core/View/Media/icons/info.png) no-repeat left center;
}

.icon-warning {
    float: none;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../Media/icons/warning.png) no-repeat left center;
}

.icon-comment {
    float: none;
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url(../Media/icons/comment.gif) no-repeat left center;
}

.backend_link {
    float: none;
    display: inline-block;
    min-width: 13px;
    min-height: 16px;
    padding-left: 16px;
    background: url(../Media/icons/green_arrow_down.png) no-repeat left center;
}

.frontend_link {
    float: none;
    display: inline-block;
    min-width: 14px;
    min-height: 16px;
    padding-left: 17px;
    background: url(../Media/icons/blue_arrow_up.png) no-repeat left center;
}


/* jquery tools tooltip */
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-message {
    display: none;
    float: left;
    background: var(--lightgray);
    width: auto;
    max-width: 250px;
    min-width: 110px;
    padding: 3px;
    border: var(--blue) 1px solid;
    font-size: var(--font-size-small);
    font-weight: normal;
    line-height: 1.3;
    white-space: normal;
    z-index: 9999;
    color: var(--blue);
}


/* jquery ui dialog */
.ui-dialog {
    position: fixed !important;
}

.ui-dialog.cxDialog {
    position: absolute;
    top: 0 !important;
    border-top: 0;
    border-right: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-radius: 0;
    text-align: center;
}

.ui-dialog.noTitle .ui-dialog-titlebar {
    display: none;
}

.ui-dialog.cxDialog .error {
    color: var(--red);
}

.ui-dialog.cxDialog #loading {
    float: none;
    margin: 0 auto;
    width: 95px;
    height: 16px;
}

.ui-dialog.cxDialog #loading img {
    float: left;
}

.ui-dialog.cxDialog #loading span {
    float: left;
    margin: 0 0 0 5px;
    line-height: 16px;
}

.ui-datepicker {
    z-index: 120 !important;
}

/* Style of info, ok, warning, alert, upgrade and news boxes */
.okbox, #okbox,
.infobox, #infobox,
.alertbox, #alertbox,
.warningbox, #warningbox {
    display: block;
    padding: 8px;
    margin: 0 0 15px 0;
    overflow: auto;
    min-height: clamp(18px, 1vw, 1vw);
    flex-shrink: 0;
}

*+html .okbox, *+html #okbox,
*+html .infobox, *+html #infobox,
*+html .alertbox, *+html #alertbox,
*+html .warningbox, *+html #warningbox {
    overflow: hidden;
}

.okbox a, #okbox a ,
.infobox a, #infobox a,
.alertbox a, #alertbox a,
.warningbox a, #warningbox a {
    font-weight: bold;
    line-height: 1.3;
}

.okbox, #okbox {
    background: #DFF0D8;
    color: var(--green);
}

.okbox a, #okbox a {
    color: #215507;
}

.infobox {
    background: var(--lightgray);
    color: var(--blue);
}

.infobox a, #infobox a {
    color: var(--blue);
}

.alertbox, #alertbox {
    color: var(--red);
    background: var(--lightgray);
}

.alertbox a, #alertbox a {
    color: var(--black);
}

.warningbox, #warningbox {
    background: #fcf8e3;
    color: #8a6d3b;
}

.warningbox a, #warningbox a {
    color: #8a6d3b;
}

.ui-widget-content,
.chosen-container-single .chosen-single {
    color: var(--black) !important;
    background: var(--white) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none !important;
    box-shadow: none !important;
}
.chosen-container .chosen-drop {
    box-shadow: none !important;
}
.chosen-container-single .chosen-drop {
    border-radius: 0 !important;
}
#language_selection .chosen-container {
    height: 100%;
    width: var(--navigation-width) !important;
}
#language_selection .chosen-container-single .chosen-single {
    height: 100%;
    line-height: calc(clamp(18px, 1vw, 1vw) + 14px);
    border-color: var(--lightgray);
}
#language_selection .chosen-container-single .chosen-single div b {
    background: url('/lib/fontawesome/6.2.0/caret-down-solid.svg') no-repeat center;
    background-size: calc(var(--font-size-default) * .5);
}
#language_selection .chosen-container-single.chosen-with-drop .chosen-single div b {
    background: url('/lib/fontawesome/6.2.0/caret-up-solid.svg') no-repeat center;
    background-size: calc(var(--font-size-default) * .5);
}

.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container-multi .chosen-choices li.search-choice span {
    font-size: var(--font-size-default);
    line-height: var(--font-size-default) !important;
}

.news,
.upgrade {
    position: relative;
    clear: left;
    height: 31px;
    padding: 0;
}

*+html .news,
*+html .upgrade {
    clear: none;
}

.news > a,
.upgrade > a {
    display: block;
    height: 15px;
    padding: 8px 0 8px 40px;
    margin: 0 30px 0 0;
    background-repeat: no-repeat;
    background-position: 8px 5px;
}

*+html .news > a,
*+html .upgrade > a {
    padding: 7px 0 9px 40px;
}

.news > a {
    background-image: url('../Media/icon-news.png');
}

.upgrade > a {
    background-image: url('../Media/icon-upgrade.png');
}

.news > .link,
.upgrade > .link {
    float: left;
}

.news > .close,
.upgrade > .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    padding: 6px 8px 7px 8px;
    color: #000000;
    font-size: 24px;
}

#button_upgrade {
    float: left;
    height: 20px;
    padding: 0 30px 0 30px;
    margin: 5px 0 0 0;
    color: var(--white);
    line-height: 1.6;
    border: 1px solid var(--orange);
    background: var(--orange) url('../Media/bg-upgrade-button.jpg') repeat-x;
}

*+html #button_upgrade {
    position: relative;
    bottom: 1px;
    height: 20px;
}

/* User live search */
.live-search-user-icon {
    float: left;
    padding: 4px 5px 0 0;
}

.live-search-user-title {
    float: left;
    padding: 2px 0 0 0;
}

.live-search-user-edit {
    float: left;
    padding: 4px 0 0 30px;
}

.live-search-user-clear {
    float: left;
    padding: 4px 0 0 5px;
}

.live-search-user-add {
    padding-left: 0;
}

.live-search-user-input {
    width: 455px;
    height: 15px;
    padding: 6px;
    margin: 10px 0 0 0;
    font-size: var(--font-size-default);
    border: 1px solid var(--lightgray);
    background: url('../Media/search_glass.png') no-repeat right center;
}

.live-search-user-info {
    padding: 4px 0 0 2px;
}

.cke_dialog_ui_vbox table, .cke_dialog_ui_hbox table {
    margin: 0 !important;
}

a.cke_dialog_ui_button_ok,
a.cke_dialog_ui_button_ok:hover {
    border-color: var(--blue) !important;
    background-color: var(--blue) !important;
}

.language-icons {
    display: inline-block;
}

.language-icons .language-icon {
    display: inline-block;
    font-size: var(--font-size-small);
    height: 18px;
    min-width: 21px;
    line-height: 18px;
    margin: 2px 7px 2px 0px;
    opacity: 0.8;
    text-align: center;
    white-space: nowrap;
}

.language-icons .language-icon a {
    display: block;
    color: white;
    padding: 0 3px;
}

.language-icons .language-icon a:hover,
.language-icons .language-icon a:active,
.language-icons .language-icon a:focus {
    color: white;
}

.language-icons .language-icon.active {
    background-color: var(--green);
}

.language-icons .language-icon.inactive {
    background-color: var(--red);
}

.language-icons .language-icon.inexistent {
    background-color: var(--gray);
}
#configSettingsTabs input[type="text"] {
    width:558px;
}
#configSettingsTabs select {
    width:566px;
}
#configSettingsTabs tr td input[type="radio"]:first-child{
    margin:3px 3px 3px -1px;
}


/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border: 1px solid var(--white);
    border-left: 3px solid var(--white);
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: var(--white);
}
#dashboard .bs-callout {
    padding-right: 15px;
    margin: 0 0 15px 0;
}
/* Themes for different contexts */
.bs-callout-danger {
    border-left-color: var(--red);
}
.bs-callout-warning {
    border-left-color: var(--orange);
}
.bs-callout-info {
    border-left-color: var(--blue);
}
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: var(--red);
}
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: var(--orange);
}
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: var(--blue);
}
.bs-callout a.alert-link {
    font-weight: bold;
}

/* modal style */
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}


.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    font-size: var(--font-size-default);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border: none;
    -webkit-box-shadow: 0 5px 200px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 200px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    min-height: 16.43px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 20px
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid var(--lightgray)
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 60px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 200px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 200px rgba(0, 0, 0, .5);
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.modal-header .close {
    margin-top: 7px;
}


.modal .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 var(--white);
    opacity: .2;
    filter: alpha(opacity=20)
}

.modal .close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

#content div.modal div.modal-header button.close[type=button] {
    background: none;
    border: none;
}


.modal-backdrop {
    background-color: black;
}

.modal-title {
    font-size: 20px;
    font-weight: lighter;
}

.modal-header {
    background-color: var(--blue);
    color: var(--white);
}

/* ComponentManager */
.componentList .description:hover {
    cursor: pointer;
}
.componentList .description > div > img {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
    -webkit-transition: transform .2s linear 0s;
    -moz-transition: transform .2s linear 0s;
    -ms-transition: transform .2s linear 0s;
    -o-transition: transform .2s linear 0s;
    transition: transform .2s linear 0s;
}
.componentList .description > .showText > img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.componentList .description .desc-extended {
    display: none;
}

.experimental:after {
    content: "Experimental";
    vertical-align: super;
    font-size: 8px;
    background-color: #fcc;
    padding: 1px 0 0 1px;
    font-weight: normal;
    font-family: monospace;
    line-height: initial;
}

#splash-text {
    max-width: 500px;
    float: left;
    overflow-x: hidden;
}
#splash-text h1 {
    float: none;
}
#splash .box {
    margin-left: 30px;
    min-height: 148px;
    height: 148px;
    padding-bottom: 50px;
    background-color: var(--blue);
    position: relative;
    float: left;
    width: 301px;
    height: auto !important;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}
#splash .box h2 {
    margin: 0 0 9px 0;
    color: var(--white);
    font-size: 18px;
    font-weight: normal;
}
#splash .box ul {
    clear: both;
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#splash .box ul li {
    clear: both;
}
#splash .box ul li a {
    float: left;
    width: auto;
    background: url(/core_modules/Home/View/Media/dashboard_box_list_style.png) no-repeat left 4px;
    padding: 0 0 0 9px;
    margin: 0 0 5px 0;
    color: var(--white);
}
#splash .box .icon {
    width: 30px;
    height: 30px;
    background: url(/core_modules/Home/View/Media/dashboard_box_1_icon.png) no-repeat;
    position: absolute;
    left: 10px;
    bottom: 10px;
    float: left;
}
