<script type="text/javascript">
/* <![CDATA[ */
{CXJS_INIT_JS}
var languages = {LANGUAGE_ARRAY};
var fallbacks = {FALLBACK_ARRAY};
var language_labels = {LANGUAGE_LABELS};
/* ]]> */
</script>

<script type="text/javascript" src="/lib/javascript/notificationBar.js"></script>
<script type="text/javascript" src="/core/ContentManager/View/Script/Main.js"></script>

<link href="/core/ContentManager/View/Style/Main.css" rel="stylesheet" type="text/css" />

<div id="content-manager" class="sidebar-hide {EDIT_VIEW_CSS_CLASS} {CONTENTMANAGER_LOCALE_CSS_CLASS}">
    <div id="cm-left">
        <div id="subnav">
            <div class="navi">
                <!-- BEGIN content_manager_create_new_page_navigation_item -->
                <a href="index.php?cmd=ContentManager&act=new">{TXT_NEW_PAGE}</a>
                <!-- END content_manager_create_new_page_navigation_item -->
                <a href="index.php?cmd=ContentWorkflow">{TXT_CONTENT_HISTORY}</a>
                <a href="index.php?cmd=Media&archive=content">{TXT_IMAGE_ADMINISTRATION}</a>
            </div>
            <div id="site-language">
                <!-- BEGIN content_manager_language_selection -->
                {LANGSWITCH_OPTIONS}
                <!-- END content_manager_language_selection -->
            </div>
        </div>
        <div id="site-structure-wrapper">
            <div id="site-structure">
                <div id="tooltip_message" class="tooltip-message"></div>
                <table class="adminlist">
                    <tr>
                        <th class="page">
                            {TXT_CORE_CM_STATUS_PAGE}&nbsp;
                            <span id="flip-menu">&nbsp;<a href="#" class="jstree-action open"></a>&nbsp;<a href="#" class="jstree-action close"></a></span>
                        </th>
                        <th class="translation">{TXT_CORE_CM_TRANSLATIONS} <a href="#" class="switch-tag-dropdown close"></a></th>
                        <th class="module">{TXT_CORE_CM_APPLICATION}</th>
                        <th class="preview">{TXT_CORE_CM_VIEW}</th>
                        <th class="actions">{TXT_CORE_CM_ACTIONS}</th>
                        <th class="lastupdate">{TXT_CORE_CM_LOG}</th>
                    </tr>
                </table>
                <div id="site-tree"></div>
            </div>
        </div>
        <div id="multiple-actions">
            <img id="multiple-actions-arrow" src="/core/Core/View/Media/icons/arrow.gif" border="0" width="38" height="22" alt="" />
            <span id="multiple-actions-marking">
                <a href="#" class="jstree-action check">{TXT_SELECT_ALL}</a> /
                <a href="#" class="jstree-action uncheck">{TXT_DESELECT_ALL}</a>
                <img id="multiple-actions-strike" style="{MULTIPLE_ACTIONS_STRIKE_STYLE}" src="/core/Core/View/Media/icons/strike.gif" alt="Strike" />
            </span>
            <select action="." id="multiple-actions-select">
                <option value="0">{TXT_MULTISELECT_SELECT}</option>
                <option value="activate">{TXT_MULTISELECT_ACTIVATE}</option>
                <option value="deactivate">{TXT_MULTISELECT_DEACTIVATE}</option>
                <option value="show">{TXT_MULTISELECT_SHOW}</option>
                <option value="hide">{TXT_MULTISELECT_HIDE}</option>
                <option value="unprotect">{TXT_MULTISELECT_UNPROTECT}</option>
                <option value="delete">{TXT_MULTISELECT_DELETE}</option>
            </select>
        </div>
    </div>
    <div id="cm-right" style="display: none;">
        <div id="page">{CONTENT_MANAGER_MEAT}</div>
    </div>
    <div id="cm-load-lock"></div>
</div>
