#workbenchWarning {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    text-align:center;
    marquee-style: scroll;
    margin-bottom: 52px;
    border: 1px solid transparent;
    color: #000000;
    background-color: #ff8c00;
    height: 52px;
    padding: 15px;
    font-size: 12px;
}
