#workbenchWarning {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    text-align:center;
    marquee-style: scroll;
    margin-bottom: 52px;
    border: 1px solid transparent;
    color: var(--black);
    background-color: var(--orange);
    padding: 15px;
    height: var(--header-height);
    box-sizing: border-box;
}
header {
    top: var(--header-height);
}
section {
    top: calc(var(--header-height) + var(--header-height)) !important;
    max-height: calc(100vh - var(--header-height) - var(--header-height)) !important;
}
