<!-- BEGIN overview -->
<h1 style="float: none;">{TXT_CORE_ROUTING_TITLE}</h1>
<p>{TXT_CORE_ROUTING_INTRODUCTION}</p>
<p>{TXT_CORE_ROUTING_EXPLANATION}</p>
<div>
    <a href="?cmd=Routing&act=RewriteRule&add=1" class="button">{TXT_CORE_ROUTING_ADD_RULE}</a>
</div>
<!-- END overview -->
<!-- BEGIN entity_view -->
{ENTITY_VIEW}
<!-- END entity_view -->
