<!-- start module_access_group_modify.html -->
{ACCESS_JAVASCRIPT_FUNCTIONS}
<script type="text/javascript">
// <![CDATA[

function accessSwitchCheckboxStatus(id)
{
  if (document.getElementById(id) != null) {
    if (document.getElementById(id).checked == true) {
      document.getElementById(id).checked = false;
    } else {
      document.getElementById(id).checked = true;
    }
  }
}

function accessChangeProtection(triggerLink, nodeId, lang, backend)
{
    var lockedKey = 'locked';
    var pageIsLocked = cx.jQuery(triggerLink).attr('rel') == lockedKey;
  var msg = pageIsLocked ? '{ACCESS_UNPROTECT_PAGE_TXT}' : '{ACCESS_PROTECT_PAGE_TXT}';

  if (confirm(msg+'\n\n{TXT_ACCESS_PROMT_EXEC_WARNING}')) {
        if (backend) {
            action = pageIsLocked ? 'unlock' : 'lock';
        } else {
            action = pageIsLocked ? 'unprotect' : 'protect';
        }
        data = {action: action, lang: lang, nodes: [nodeId]};
        cx.jQuery.post('index.php?cmd=JsonData&object=page&act=multipleSet', data, function(response) {
            if (response.status == 'success') {
                if (pageIsLocked) {
                    cx.jQuery(triggerLink).find('ins').removeClass(lockedKey);
                    cx.jQuery(triggerLink).attr('rel', '');
                    cx.jQuery('#access_webpage_access_id_'+nodeId+'_'+lang).css('display', 'none');
                } else {
                    cx.jQuery(triggerLink).find('ins').addClass(lockedKey);
                    cx.jQuery(triggerLink).attr('rel', lockedKey);
                    cx.jQuery('#access_webpage_access_id_'+nodeId+'_'+lang).css('display', '');
                }
            }
        });
  }
}

// ]]>
</script>
<style type="text/css">
#site-tree .publishing {
    margin-top: 0;
}
#modifyGroup2 th.wysiwyg-head {
	display: none;
}
#modifyGroup2 .row3.wysiwyg-title-txt {
    display: table-row;
}
#modifyGroup2 > div > div:last-child > table th,
cke_editor-basic
</style>
<ul id="tabmenu">
<li><a id="groupTab_modifyGroup1" class="active" href="javascript:void(0);" onclick="selectTab('modifyGroup1')" title="{TXT_ACCESS_GENERAL}">{TXT_ACCESS_GENERAL}</a></li>
<li><a id="groupTab_modifyGroup2" href="javascript:void(0);" onclick="selectTab('modifyGroup2')" title="{TXT_ACCESS_PERMISSIONS}">{TXT_ACCESS_PERMISSIONS}</a></li>
</ul>
<form action="?cmd=Access&amp;act=group&amp;tpl=modify&amp;id={ACCESS_GROUP_ID}" method="post" id="access_group_form" onsubmit="accessSelectAllGroups(document.getElementById('access_group_associated_users'));" name="acess_group_form">
<input type="hidden" name="access_change_protection" value="1" />
<input type="hidden" name="access_group_type" value="{ACCESS_GROUP_TYPE}" />
  <!-- start modifyGroup1 div -->
  <div id="modifyGroup1" class="groupTab" style="display:block">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
      <thead>
        <tr>
          <th colspan="4">{TXT_ACCESS_GENERAL}</th>
        </tr>
      </thead>
      <tbody style="vertical-align:top;">
        <tr class="row1">
          <td width="15%">{TXT_ACCESS_NAME}</td>
          <td colspan="3"><input type="text" name="access_group_name" value="{ACCESS_GROUP_NAME}" maxlength="100" style="width:300px;" /></td>
        </tr>
        <tr class="row2">
          <td width="15%">{TXT_ACCESS_DESCRIPTION}</td>
          <td colspan="3"><input type="text" name="access_group_description" value="{ACCESS_GROUP_DESCRIPTION}" maxlength="255" style="width:300px;" /></td>
        </tr>
        <tr class="row1">
          <td width="15%">{TXT_ACCESS_STATUS}</td>
          <td colspan="3"><input type="checkbox" name="access_group_status" id="access_group_status" value="1" {ACCESS_GROUP_STATUS} /><label for="access_group_status">{TXT_ACCESS_ACTIVE}</label></td>
        </tr>
        <tr class="row2">
          <td width="15%">{TXT_ACCESS_USERS}</td>
          <td width="300">{TXT_ACCESS_AVAILABLE_USERS}<br />
            <select name="access_group_not_associated_users[]" id="access_group_not_associated_users" size="15" style="width:300px;" multiple="multiple">
            {ACCESS_GROUP_NOT_ASSOCIATED_USERS}
            </select>
            <br />
                        <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_group_not_associated_users'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a>
            <br />
            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_group_not_associated_users'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
          </td>
          <td width="45" style="text-align:center;">
            <br />
            <input type="button" value="&gt;&gt;" name="adduser" onclick="accessAddGroupToList(document.getElementById('access_group_not_associated_users'), document.getElementById('access_group_associated_users'))" style="margin-bottom:2px;" />
            <br />
            <input type="button" value="&lt;&lt;" name="removeuser" onclick="accessRemoveGroupFromList(document.getElementById('access_group_not_associated_users'), document.getElementById('access_group_associated_users'))" />
          </td>
          <td width="100%">{TXT_ACCESS_ASSOCIATED_USERS}<br />
            <select name="access_group_associated_users[]" id="access_group_associated_users" size="15" style="width:300px;" multiple="multiple">
            {ACCESS_GROUP_ASSOCIATED_USERS}
            </select>
            <br />
            <a href="javascript:void(0);" onclick="accessSelectAllGroups(document.getElementById('access_group_associated_users'))" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a>
            <br />
            <a href="javascript:void(0);" onclick="accessDeselectAllGroups(document.getElementById('access_group_associated_users'))" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
          </td>
        </tr>
                <tr class="row1">
                    <td>{TXT_ACCESS_HOMEPAGE}&nbsp;<span class="tooltip-trigger icon-info"></span><span class="tooltip-message">{TXT_ACCESS_HOMEPAGE_DESC}</span></td>
                    <td colspan="3"><input type="text" name="access_group_homepage" id="access_group_homepage" value="{ACCESS_GROUP_HOMEPAGE}" style="width:300px;" />
                        <input type="button" name="access_open_browser" value="{TXT_ACCESS_BROWSE}" onclick="accessGetFileBrowser('access_group_homepage')" />
                        {ACCESS_MEDIA_BROWSER_BUTTON}
                    </td>
                </tr>
      </tbody>
    </table>
  </div>
  <!-- end modifyGroup1 div -->
  <!-- start modifyGroup2 div -->
  <div id="modifyGroup2" class="groupTab" style="display:none;">
    <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
      <thead>
        <tr>
          <th>{TXT_ACCESS_PERMISSIONS}</th>
        </tr>
      </thead>
    </table>
    <div style="background:#fff;">
      <!-- BEGIN access_permission_tabs_menu -->
      <ul id="tabmenu">
        <li>
          <a id="permissionTab_modifyPermission0" class="active" href="javascript:void(0);" onclick="selectTab('modifyPermission0')" title="{ACCESS_WEBSITE_TAB_NAME}">{ACCESS_WEBSITE_TAB_NAME}</a>
        </li>
        <!-- BEGIN access_permission_tab_menu -->
          <li>
            <a id="permissionTab_modifyPermission{ACCESS_TAB_NR}" href="javascript:void(0);" onclick="selectTab('modifyPermission{ACCESS_TAB_NR}')" title="{ACCESS_TAB_NAME}">{ACCESS_TAB_NAME}</a>
          </li>
        <!-- END access_permission_tab_menu -->
        <li>
            <a id="permissionTab_modifyPermission{ACCESS_WYSIWYG_TAB_NR}" href="javascript:void(0);" onclick="selectTab('modifyPermission{ACCESS_WYSIWYG_TAB_NR}')" title="{TXT_ACCESS_TOOLBARCONFIGURATOR}">{TXT_ACCESS_TOOLBARCONFIGURATOR}</a>
        </li>
      </ul>
      <!-- END access_permission_tabs_menu -->
      <div id="modifyPermission0" class="permissionTab" style="display:block; clear:left;">
        <table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist" style="cursor:default;" id="site-tree">
          <tbody style="white-space:nowrap;">
            <tr class="row3" style="font-weight:bold;">
              <td width="1%" style="text-align:center;">Zugriff</td>
              <td width="1%" style="text-align:center;">Status</td>
              <td width="93%">Webseite</td>
              <td width="5%" style="text-align:right;">Funktionen</td>
            </tr>
            <!-- BEGIN access_permission_website -->
              <tr class="{ACCESS_WEBPAGE_CSS_CLASS}">
                <td style="text-align:center;">&nbsp;
                                    <input type="checkbox" name="access_page_id[]" id="access_webpage_access_id_{ACCESS_NODE_ID}_{ACCESS_NODE_LANG}" value="{ACCESS_PAGE_ID}" style="display:{ACCESS_PAGE_SELECTION_DISPLAY};" {ACCESS_PAGE_CHECKED} />
                </td>
                <td style="text-align:center;">
                                    <a href="javascript:void(0)" onclick="accessChangeProtection(this,{ACCESS_NODE_ID},'{ACCESS_NODE_LANG}',{ACCESS_PAGE_PROTECT_BACKEND})" rel="{ACCESS_PAGE_PROTECTED}" title="{ACCESS_CLICK_TO_CHANGE_PROTECTION_TXT}">
                                        <ins aiotitle="" class="jstree-icon publishing {ACCESS_PAGE_PUBLISHING} {ACCESS_PAGE_PROTECTED}"></ins>
                                    </a>
                                </td>
                <td style="text-indent:{ACCESS_WEBPAGE_TEXT_INDENT}px;" onclick="accessSwitchCheckboxStatus('access_webpage_access_id_{ACCESS_NODE_ID}_{ACCESS_NODE_LANG}')">
                  {ACCESS_WEBPAGE_NAME}
                </td>
                <td style="text-align:right;">
                  <!-- BEGIN access_permission_webpage_preview -->
                                        <a href="{ACCESS_WEBPAGE_LINK}" target="_blank" title="{TXT_ACCESS_SHOW_PAGE_IN_NEW_DOCUMENT}"><img src="/core/ContentManager/View/Media/Preview.png" width="13" height="13" border="0" alt="{TXT_ACCESS_SHOW_PAGE_IN_NEW_DOCUMENT}" /></a>
                  <!-- END access_permission_webpage_preview -->
                  <a href="index.php?cmd=ContentManager&amp;page={ACCESS_PAGE_ID}&amp;tab=content" target="_blank" title="{TXT_ACCESS_MODIFY_PAGE_IN_NEW_DOCUMENT}"><img src="/core/Core/View/Media/icons/edit.gif" width="16" height="16" border="0" alt="{TXT_ACCESS_MODIFY_PAGE_IN_NEW_DOCUMENT}" /></a>
                </td>
              </tr>
            <!-- END access_permission_website -->
          </tbody>
        </table>
        <img src="/core/Core/View/Media/icons/arrow.gif" width="38" height="22" style="margin-left:5px;" alt="arrow" />
        <a href="javascript:void(0);" onclick="cx.jQuery('#site-tree').find('input[type=checkbox]').each(function(i,el){cx.jQuery(el).attr('checked',true);})" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a> /
        <a href="javascript:void(0);" onclick="cx.jQuery('#site-tree').find('input[type=checkbox]').each(function(i,el){cx.jQuery(el).attr('checked',false);})" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
        <br />
      </div>
      <!-- BEGIN access_permission_tabs -->
        <div id="modifyPermission{ACCESS_TAB_NR}" class="permissionTab" style="display:none; clear:left;">
          <table cellspacing="0" cellpadding="3" border="0" class="adminlist" style="cursor:default;">
          <!-- BEGIN access_permission_area -->
            <tr class="row{ACCESS_AREA_STYLE_NR}" style="{ACCESS_AREA_HIDDEN}">
              <td width="1%" height="25">
                                <!-- BEGIN access_permission_in_scope -->
                                    <input type="checkbox" name="access_area_id[]" id="access_area_id_{ACCESS_AREA_ID}" value="{ACCESS_AREA_ID}" {ACCESS_AREA_ALLOWED} />
                                <!-- END access_permission_in_scope -->
                            </td>
              <td style="text-indent:{ACCESS_AREA_TEXT_INDENT}px;{ACCESS_AREA_EXTRA_STYLE}" onclick="accessSwitchCheckboxStatus('access_area_id_{ACCESS_AREA_ID}')">
                {ACCESS_AREA_NAME}<!-- BEGIN access_permission_access_id --> <font size="1">[{ACCESS_AREA_ID}]</font><!-- END access_permission_access_id -->
              </td>
            </tr>
          <!-- END access_permission_area -->
          </table>
          <img src="/core/Core/View/Media/icons/arrow.gif" width="38" height="22" style="margin-left:5px;" alt="arrow" />
          <a href="javascript:void(0);" onclick="for (i in document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')) {if (document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')[i].name == 'access_area_id[]') {document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')[i].checked = true;}}" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a> /
          <a href="javascript:void(0);" onclick="for (i in document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')) {if (document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')[i].name == 'access_area_id[]') {document.getElementById('modifyPermission{ACCESS_TAB_NR}').getElementsByTagName('input')[i].checked = false;}}" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
          <br />
        </div>
      <!-- END access_permission_tabs -->
    <!-- BEGIN access_permission_tab_wysiwyg -->
        <div id="modifyPermission{ACCESS_WYSIWYG_TAB_NR}" class="permissionTab" style="display:none; clear:left;">
            {ACCESS_PERMISSION_WYSIWYG_TOOLBAR}
        </div>
    <!-- END access_permission_tab_wysiwyg -->
    </div>
  </div>
  <div style="clear:left;">
    <br />
    <input type="button" value="{TXT_ACCESS_CANCEL}" name="access_cancel" onclick="window.location.href='index.php?cmd=Access&{CSRF_PARAM}&amp;act=group'" />
    <input type="submit" name="access_save_group" value="{TXT_ACCESS_SAVE}" onclick="prepareConfiguration('acess_group_form')" />
  </div>
</form>
<!-- end module_access_group_modify.html -->
