<!-- start module_access_user.html -->
<script type="text/javascript">
// <![CDATA[
function accessDeleteUser(id, name)
{
  strMsg = "{TXT_ACCESS_CONFIRM_DELETE_USER}";
  if (confirm(strMsg.replace('%s', name)+'\n{TXT_ACCESS_OPERATION_IRREVERSIBLE}')) {
    window.location.replace("index.php?cmd=Access&{CSRF_PARAM}&act=user&tpl=delete&groupId={ACCESS_GROUP_ID}&sort={ACCESS_SORT_DIRECTION}&by={ACCESS_SORT_BY}&search={ACCESS_SEARCH_VALUE_ESCAPED}&username_filter={ACCESS_USER_USERNAME_FILTER_ESCAPED}&user_status_filter={ACCESS_USER_STATUS_FILTER_ESCAPED}&user_role_filter={ACCESS_USER_ROLE_FILTER_ESCAPED}&id="+id);
  }
}

function accessChangeUserStatus(id, name)
{
  msg = "{TXT_ACCESS_CONFIRM_USER_NOTIFY_ABOUT_ACCOUNT_STATUS_NAMED}";
  notify = confirm(msg.replace('%s', name));
  window.location.href = 'index.php?cmd=Access&{CSRF_PARAM}&act=user&tpl=changeStatus&groupId={ACCESS_GROUP_ID}&sort={ACCESS_SORT_DIRECTION}&by={ACCESS_SORT_BY}&search={ACCESS_SEARCH_VALUE_ESCAPED}&username_filter={ACCESS_USER_USERNAME_FILTER_ESCAPED}&user_status_filter={ACCESS_USER_STATUS_FILTER_ESCAPED}&user_role_filter={ACCESS_USER_ROLE_FILTER_ESCAPED}&id='+id+'&notifyUser='+Number(notify);
}

function accessUserDoAction(action)
{
    if (   checkboxIsChecked('access_user_form', 'access_user_id[]')
        && confirm('{ACCESS_CONFIRM_DELETE_USERS_TXT}')) {
        document.getElementById('access_user_form').submit(); return true;
    }
    document.getElementById('access_user_select_action').value=0;
}
// ]]>
</script>
<form action="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_IP}&amp;accountType={ACCESS_ACCOUNT_TYPE}" method="post">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
    <thead>
    <tr>
        <th colspan="4">{TXT_ACCESS_FILTER}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="5%">{ACCESS_GROUP_MENU}</td>
        <!-- BEGIN access_crm_filter -->
        <td width="5%">{ACCESS_USER_ACCOUNT_MENU}</td>
        <!-- END access_crm_filter -->
        <td width="5%">{ACCESS_USER_STATUS_MENU}</td>
        <td width="90%">{ACCESS_USER_ROLE_MENU}</td>
    </tr>
    <tr>
        <td colspan="4">
            <input type="text" name="search" value="{ACCESS_SEARCH_VALUE}" style="width:300px;" /> <input type="submit" name="access_search" value="{TXT_ACCESS_SEARCH}" />
        </td>
    </tr>
    </tbody>
</table>
</form>
<br /><br />
<div>
    <!-- BEGIN access_user_letter_index_list -->
    <a href="{ACCESS_USER_LETTER_INDEX_URI}">[ {ACCESS_USER_LETTER_INDEX_LETTER} ]</a>
    <!-- END access_user_letter_index_list -->
    <br />
    <br />
</div>
<form name="access_user_form" id="access_user_form" action="index.php?cmd=Access&amp;act=user&amp;tpl=delete&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_DIRECTION}&amp;by={ACCESS_SORT_BY}" method="post">
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="adminlist">
  <thead>
    <tr>
      <th colspan="11">{TXT_ACCESS_USER_LIST}</th>
    </tr>
  </thead>
  <tbody style="vertical-align:top;">
    <!-- BEGIN access_has_users -->
      <tr class="row3" style="font-weight:bold; white-space:nowrap;">
                <td width="1%" style="text-align: center;">#</td>
        <td width="1%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_ID}&amp;by=id" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_ID}</a></td>
        <td width="3%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_STATUS}&amp;by=active" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_STATUS}</a></td>
        <td width="15%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_EMAIL}&amp;by=email" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_EMAIL}</a></td>
        <td width="15%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_COMPANY}&amp;by=company" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_COMPANY}</a></td>
        <td width="15%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_FIRSTNAME}&amp;by=firstname" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_FIRSTNAME}</a></td>
        <td width="15%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_LASTNAME}&amp;by=lastname" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_LASTNAME}</a></td>
        <td width="5%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_REGDATE}&amp;by=regdate" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_REGISTERED_SINCE}</a></td>
        <td width="5%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_LAST_ACTIVITY}&amp;by=last_activity" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_LAST_ACTIVITY}</a></td>
        <td width="5%"><a href="index.php?cmd=Access&amp;act=user&amp;groupId={ACCESS_GROUP_ID}&amp;search={ACCESS_SEARCH_VALUE_ESCAPED}&amp;username_filter={ACCESS_USER_USERNAME_FILTER}&amp;user_status_filter={ACCESS_USER_STATUS_FILTER}&amp;user_role_filter={ACCESS_USER_ROLE_FILTER}&amp;sort={ACCESS_SORT_EXPIRATION}&amp;by=expiration" title="{TXT_ACCESS_CHANGE_SORT_DIRECTION}">{ACCESS_EXPIRATION}</a></td>
        <td width="5%" style="text-align:right;">{TXT_ACCESS_FUNCTIONS}</td>
      </tr>
      <!-- BEGIN access_user_list -->
        <tr class="row{ACCESS_ROW_CLASS_ID}">
                    <td style="text-align: center;"><input type="checkbox" name="access_user_id[]" value="{ACCESS_USER_ID}" /></td>
          <td>{ACCESS_USER_ID}</td>
          <td>
                        <a style="float: left; margin-top: 3px;"  href="javascript:accessChangeUserStatus({ACCESS_USER_ID},'{ACCESS_USER_USERNAME}');" title="{ACCESS_CHANGE_ACCOUNT_STATUS_MSG}">
                            <img src="/core/Core/View/Media/icons/{ACCESS_USER_STATUS_IMG}" alt="{ACCESS_USER_STATUS}" width="13" height="13" border="0" />
                        </a>
                        <img class="tooltip-trigger" style="float: left; margin-top: 3px; margin-left: 6px;" src="/core/Core/View/Media/icons/{ACCESS_USER_ADMIN_IMG}" border="0" alt="{ACCESS_USER_ADMIN_TXT}" width="16" height="16" />
                        <span class="tooltip-message">{ACCESS_USER_ADMIN_TXT}</span>
                    </td>
                    <td><a href="index.php?cmd=Access&amp;act=user&amp;tpl=modify&amp;id={ACCESS_USER_ID}" title="{TXT_ACCESS_MODIFY_USER_ACCOUNT}">{ACCESS_USER_EMAIL}</a>
                    <!-- BEGIN access_user_crm_account -->
                    &nbsp;<a title="{TXT_ACCESS_USER_CRM_ACCOUNT}" style="color: var(--black);" href="index.php?cmd=Crm&amp;act=customers&amp;tpl=showcustdetail&amp;id={ACCESS_USER_CRM_ACCOUNT_ID}"><i class="fa-solid fa-people-group"></i></a>
                    <!-- END access_user_crm_account --></td>
          <td>{ACCESS_USER_COMPANY}</td>
          <td>{ACCESS_USER_FIRSTNAME}</td>
          <td>{ACCESS_USER_LASTNAME}</td>
          <td style="white-space:nowrap;">{ACCESS_USER_REGDATE}</td>
          <td style="white-space:nowrap;">{ACCESS_USER_LAST_ACTIVITY}</td>
          <td style="white-space:nowrap;{ACCESS_USER_EXPIRATION_STYLE}">{ACCESS_USER_EXPIRATION}</td>
          <td style="text-align:right;">
            <a href="index.php?cmd=Access&amp;act=user&amp;tpl=modify&amp;id={ACCESS_USER_ID}" title="{TXT_ACCESS_MODIFY_USER_ACCOUNT}"><img src="/core/Core/View/Media/icons/edit.gif" width="16" height="16 "border="0" alt="{TXT_ACCESS_MODIFY_USER_ACCOUNT}" /></a>
            <a href="javascript:void(0);" onclick="accessDeleteUser({ACCESS_USER_ID}, '{ACCESS_USER_USERNAME}')" title="{ACCESS_DELETE_USER_ACCOUNT}"><img src="/core/Core/View/Media/icons/delete.gif" width="17" height="17" border="0" alt="{ACCESS_DELETE_USER_ACCOUNT}" /></a>
          </td>
        </tr>
      <!-- END access_user_list -->
    <!-- END access_has_users -->
    <!-- BEGIN access_no_user -->
      <tr class="row1">
        <td colspan="11">{ACCESS_STATUS_MSG}</td>
      </tr>
    <!-- END access_no_user -->
  </tbody>
</table>
<!-- BEGIN access_user_action_dropdown -->
<img src="/core/Core/View/Media/icons/arrow.gif" width="38" height="22" style="margin-left:5px;" alt="arrow" />
<a href="javascript:void(0);" onclick="changeCheckboxes('access_user_form','access_user_id[]',true); return false;" title="{TXT_ACCESS_CHECK_ALL}">{TXT_ACCESS_CHECK_ALL}</a> /
<a href="javascript:void(0);" onclick="changeCheckboxes('access_user_form','access_user_id[]',false); return false;" title="{TXT_ACCESS_UNCHECK_ALL}">{TXT_ACCESS_UNCHECK_ALL}</a>
<img src="/core/Core/View/Media/icons/strike.gif" width="34" height="22" alt="design" />
<select name="access_user_select_action" id="access_user_select_action" onchange="accessUserDoAction(this.value)">
  <option value="0" selected="selected" style="border-bottom: 1px solid #000;">{TXT_ACCESS_SELECT_ACTION}</option>
  <option value="delete">{TXT_ACCESS_DELETE}</option>
</select>
<!-- END access_user_action_dropdown -->
</form>
<br />
{ACCESS_USER_PAGING}
<!-- end module_access_user.html -->
